.gray {
  background-color:#f7f7f7;
}

.card-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 15px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 98%;
}

/* 段落中单词高亮 */
.highlighter-rouge {
  color:#535c68;
  background-color: #ecf0f1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 文章标题 */
.title {
  font-size: 2rem;
  color: black;
  text-align: center  
}

/* 文章署名和日期 */
.author {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 1.0rem
}

/* 文章日期 */
.date {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 1.0rem
}

/* 我的一级标题 */
h1 {
  font-size: 1.6rem;
  color: #ef5350 
}

/* 我的二级标题 */
h2 {
  font-size: 1.4rem;
  color: #ff7979
}

/* 正常显示列表 */
ul:not(.browser-default) {
  padding-left: 18pt;
  list-style-type: inherit;
}

ul:not(.browser-default) > li {
  padding-left: 0;
  list-style-type: inherit;
}

/* 不显示列表前面的点 */
ul.clear {
  padding-left: 0;
  list-style-type: none;
}

ul.clear > li {
  list-style-type: none;
}

@media only screen and (min-width: 360px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 390px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 420px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 450px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 480px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
  /* 当宽度大于480px时 */
  .card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 20px 40px 20px 40px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color:#fff;
  }

  .container {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
  }
}
 
@media only screen and (min-width: 510px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 540px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 570px) {
  p, li, .flow-text {
   font-size: 1.0rem;
  }
}
 
@media only screen and (min-width: 600px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 630px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 660px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 690px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 720px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 750px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 780px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 810px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 840px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 870px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 900px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 930px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (min-width: 960px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}
 
@media only screen and (max-width: 360px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
}