/* css的加载是继承-覆盖机制，先加载materiallize.css，然后加载custom.css覆盖部分属性 */

html {
  /* 定义字体 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Microsoft YaHei, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* 图标 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* For IE6-8 */
  src: url(https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/host/material-design-icons/MaterialIcons-Regular.eot);
  src: local('Material Icons'), 
    local('MaterialIcons-Regular'),
    url(https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/host/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/host/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
    url(https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/host/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* 定义在默认尺寸下，字体的大小 */
p, li, .flow-text {
  font-size: 1.1rem;
}

p, li:not(.none), .flow-text {
  line-height: 2.0rem;
}

/* 定义在默认尺寸下，card的属性 */
.card-panel {
  border-radius: 5px;
}


/* 当显示宽度小于550px时，手机小屏 */
@media only screen and (max-width: 550px) {
  
  p, li, .flow-text {
    font-size: 1.1rem;
  }

  .card-panel {
    padding: 20px;
    border-radius: 2px;
    /* 关闭card的阴影 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  /* 文章上边框 */
  .essy-card {
    margin-top: 10px;
  }

  .container {
    max-width: 1080px;
    width: 100%;
  }

  .foot-detail {
    width: 90%;
  }

  .hoverable:hover {
    /* 关闭horvalbe特效 */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

/* 当显示宽度大于550px小于990px时，非手机小屏， 认为是触控平板设备*/
@media only screen and (min-width: 550px) and (max-width: 990px) {
  
  .card-panel {
    padding: 20px 40px 20px 40px;
  }

  .essy-card {
    margin-top: 20px;
  }

  .container {
    max-width: 880px;
    width: 90%;
  }

  .foot-detail {
    width: 90%;
  }

  .hoverable:hover {
    /* 关闭horvalbe特效 */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

/* 当显示宽度大于990px时，认为是电脑 */
@media only screen and (min-width: 990px) {
  .card-panel {
    padding: 20px 40px 20px 40px;
  }

  .essy-card {
    margin-top: 20px;
  }

  .container {
    max-width: 880px;
    width: 90%;
  }

  .foot-detail {
    width: 90%;
  }
}

/* 段落中单词高亮 */
code.highlighter-rouge {
  /* 灰色 */
  color:#535c68;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 4px;

  background:#fafafa;
  border:1px solid lightgray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Microsoft YaHei, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* 文章标题 */
.title {
  font-size: 2rem;
  color: black;
  text-align: center  
}

/* 文章署名和日期 */
.author {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 1.0rem
}

/* 文章日期 */
.date {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 1.0rem
}

/* 索引标题 */
.index-title {
  color: black;
}

/* 我的一级标题 */
h1 {
  font-size: 1.6rem;
  color: #ef5350 
}

/* 我的二级标题 */
h2 {
  font-size: 1.4rem;
  color: #ff7979
}

/* 无序列表 */
ul:not(.browser-default) > li:not(.none)  {
  margin-left: 18pt;
  /* 实心圆 */
  list-style-type: disc;
}

/* 有序列表 */
ol:not(.browser-default) > li:not(.none)  {
  padding-left: 5pt;
  /* 数字 */
  list-style-type: decimal;
}

/* 背景颜色 */
.base-body {
  background-color:#f7f7f7;
}

/* 暗黑模式下的颜色 */
@media only screen and (prefers-color-scheme: dark) {
    /* 背景颜色 */
    .base-body {
      background-color:#3d3d3d;
    }
    /* 用于承载索引和文章的卡片颜色 */
    .card-panel {
      background-color:#4b4b4b;
    }

    /* 文章标题 */
    .title {
      color: #f1f2f6;
    }

    /* 文章署名和日期 */
    .author {
      color: #f1f2f6;
    }

    /* 文章日期 */
    .date {
      color: #f1f2f6;
    }

     /* 正文 */
    p, li, .flow-text{
      color: #f1f2f6;
    }

    /* 索引标题颜色 */
    .index-title {
      color: #f1f2f6;
    }

    /* 段落中单词高亮 */
    code.highlighter-rouge {
      color:#ced6e0;
    
      background:#4b4b4b;
      border:1px solid lightgray;
    }

    /* 关于我的背景 */
    .modal-content {
      background-color:#3d3d3d;
    }

    /* 关于我联系方式Container */
    .collection {
      background-color:#4b4b4b;
      border: 1px solid #3d3d3d;
    }
    /* 关于我的联系方式Item */
    .collection .collection-item {
      background-color:#4b4b4b;
      border-bottom: 1px solid #3d3d3d
    }

    /* 关于我的Tag列表*/
    .chip {
      color:#ced6e0;
      background:#4b4b4b;
    }
}
