/* css的加载是继承-覆盖机制，先加载materiallize.css，然后加载custom.css覆盖部分属性 */

html {
  /* 定义字体 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Microsoft YaHei, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* 背景颜色 */
.gray {
  background-color:#f7f7f7;
}

/* 当显示宽度小于500px时，手机小屏 */
@media only screen and (max-width: 550px) {

  p, li, .flow-text {
    font-size: 1.2rem;
  }
  
  .card-panel {
    padding: 20px;
    /* 关闭card的阴影 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  /* 文章上边框 */
  .essy-card {
    margin-top: 10px;
  }

  .container {
    max-width: 1080px;
    width: 100%;
  }

  .foot-detail {
    width: 90%;
  }

  .hoverable:hover {
    /* 关闭horvalbe特效 */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

/* 当显示宽度大于500px时，非手机小屏 */
@media only screen and (min-width: 550px) {
  p, li, .flow-text {
   font-size: 1.2rem;
  }
  
  .card-panel {
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    /* 打开card阴影 */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .essy-card {
    margin-top: 20px;
  }

  .container {
    max-width: 880px;
    width: 90%;
  }

  .foot-detail {
    width: 90%;
  }

  .hoverable:hover {
    /* 打开horvalbe特效 */
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

/* 段落中单词高亮 */
.highlighter-rouge {
  color:#535c68;
  background-color: #ecf0f1;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Microsoft YaHei, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* 文章标题 */
.title {
  font-size: 2rem;
  color: black;
  text-align: center  
}

/* 文章署名和日期 */
.author {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 1.0rem
}

/* 文章日期 */
.date {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 1.0rem
}

/* 我的一级标题 */
h1 {
  font-size: 1.6rem;
  color: #ef5350 
}

/* 我的二级标题 */
h2 {
  font-size: 1.4rem;
  color: #ff7979
}

/* 正常显示无序列表 */
ul:not(.browser-default) {
  padding-left: 18pt;
}

ul:not(.browser-default) > li {
  /* 实心圆 */
  list-style-type: disc;
}

/* 正常显示有序列表 */
ol:not(.browser-default) {
  padding-left: 18pt;
}

ol:not(.browser-default) > li {
  /* 数字 */
  list-style-type: decimal;
}

/* 不显示列表前面的点，用于Nav上的标签，适用于大屏和小屏 */
ul.clear {
  padding-left: 0;
}

ul.clear > li {
  /* 不显示 */
  list-style-type: none;
}