@use "sass:map";
// 定义所有要使用的颜色

$theme-light: (
    "top-bar" : #ee6e73,
    "primary" : #9b27b0,
    "on-primary" : rgba(255, 255, 255, 0.95),
    "secondary" : #43A047,
    "on-secondary" : rgba(255, 255, 255, 0.85),
    "background" : #f7f7f7,
    "surface" : white,
    // 默认字体颜色，段落p
    "on-surface" : rgba(0, 0, 0, 0.80),
    // 标题字体色，h
    "text-primary-on-background" : rgba(0, 0, 0, 0.90),
    // 小标题字体色
    "text-secondary-on-background" : rgba(0, 0, 0, 0.60),
    
    "link" : #6200ee,
    "em" : #535c68,
    "code-highlight-bg" : #f8f9fa,
    "code-highlight-border" : #e8eaed,
    "code-highlight-bg-on-green" : rgba(231, 231, 231, 0.4),
    "code-highlight-border-on-green" : rgba(213, 213, 213, 0.54),
    "pre-code-bg" : #15171a,

    "divider" : rgba(0, 0, 0, 0.12),

    "chip-bg" : #FEDBD0,
    "chip-ink" : #84565E,

    "search_nav" : #a25462,
    "button-bg" : #9b27b0,
);

// dark
$theme-dark: (
    "top-bar" : #ee6e73,
    "primary" : #ff9ff3,
    "on-primary" : rgba(255, 255, 255, 0.85),
    "secondary" : #43A047,
    "on-secondary" : rgba(255, 255, 255, 0.85),
    "background" : rgb(32, 33, 36),
    "surface" : rgb(37, 38, 42),
    // 默认字体颜色，段落p
    "on-surface" : rgba(255, 255, 255, 0.85),
    // 标题字体色，h
    "text-primary-on-background" : rgba(255, 255, 255, 0.95),
    // 小标题字体色
    "text-secondary-on-background" : rgba(255, 255, 255, 0.65),
    
    "link" : #54a0ff,
    "em" : rgba(255, 255, 255, 0.65),
    "code-highlight-bg" : rgba(55, 55, 55, 0.32),
    "code-highlight-border" : rgba(69, 69, 69, 0.74),
    "code-highlight-bg-on-green" : rgba(23, 23, 23, 0.17),
    "code-highlight-border-on-green" : rgba(142, 142, 142, 0.32),
    "pre-code-bg" : #15171a,

    "divider" : rgba(88, 96, 102, 0.68),

    "chip-bg" : rgba(248, 81, 73, 0.15),
    "chip-ink" : #c67c3b,

    "search_nav" : rgba(228, 96, 117, 0.93),
    "button-bg" : #9b27b0,
);

$theme-black: (
    "top-bar" : #ee6e73,
    "primary" : #ff9ff3,
    "on-primary" : rgba(255, 255, 255, 0.85),
    "secondary" : #43A047,
    "on-secondary" : rgba(255, 255, 255, 0.85),
    "background" : rgb(32, 33, 36),
    "surface" : rgb(37, 38, 42),
    // 默认字体颜色，段落p
    "on-surface" : rgba(255, 255, 255, 0.85),
    // 标题字体色，h
    "text-primary-on-background" : rgba(255, 255, 255, 0.95),
    // 小标题字体色
    "text-secondary-on-background" : rgba(255, 255, 255, 0.65),
    
    "link" : #54a0ff,
    "em" : rgba(255, 255, 255, 0.65),
    "code-highlight-bg" : rgba(55, 55, 55, 0.59),

    "divider" : rgba(88, 96, 102, 0.68),

    "chip-bg" : rgba(248, 81, 73, 0.15),
    "chip-ink" : #c67c3b,

    "search_nav" : rgba(228, 96, 117, 0.93),
    "button-bg" : #9b27b0,
)