@use "@material/dialog";
@use "@material/dialog/mdc-dialog";

.mdc-dialog {
  // 亮色主题的divider自动生成，颜色合适，但暗色主题颜色不合适，因此需要手动指定
  // 这里会自动根据颜色计算出divider颜色，但是把同样的颜色用var引用却不可以，奇怪
  @include dialog.scroll-divider-color(black);
}

.dark .mdc-dialog {
  @include dialog.scroll-divider-color(white);
}

.common-dialog-container {
  width: 880px;
}

.common-alert-dialog_content {
  margin: 1.6rem 1rem;
}

.basic-dialog_actions {
  justify-content: center;
}

.basic-dialog_btn_action {
  width: 94%;
  margin-bottom: 1rem;
}

.dialog-link-list {
  // 底部边框由Divider填充
  // border-top: 1px solid rgba(128, 128, 128, 0.336);
  // border-left: 1px solid rgba(128, 128, 128, 0.336);
  // border-right: 1px solid rgba(128, 128, 128, 0.336);
  border: 1px solid;
  border-color: var(--divider-color);
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
}