@use "variables";
@use "sass:map";
@use "sass:color";

$surface: (
        light: #ffffff,
        dark: #161616,
);

// 黑白配色
// blur 30px 0.8 可与 Safari 的 frosted glass 效果相似
$top-bar: (
        backdrop-filter: 30px,
        bg-light: map.get($surface, "light"),
        bg-blur-light: rgba(map.get($surface, "light"), 0.8),
        bg-dark: map.get($surface, "dark"),
        bg-blur-dark: rgba(map.get($surface, "dark"), 0.8),
);
$top-bar-ink: (
        light: color.adjust(map.get($top-bar, "bg-light"), $lightness: -80%),
        dark: color.adjust(map.get($top-bar, "bg-dark"), $lightness: +80%),
);

$footer-ink: (
        light: color.adjust(map.get($top-bar, "bg-light"), $lightness: -80%),
        dark: color.adjust(map.get($top-bar, "bg-dark"), $lightness: +80%),
);

$background: (
        light: color.adjust(map.get($surface, "light"), $lightness: -2%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: -2%),
);

$text-content: (
        light: color.adjust(map.get($surface, "light"), $lightness: -84%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +84%),
);

$text-content-vivid: (
        light: #80290d,
        dark: #dea896,
);

$text-content-secondary: (
        light: color.adjust(map.get($text-content, "light"), $lightness: +10%),
        dark: color.adjust(map.get($text-content, "dark"), $lightness: -10%),
);

$text-title: (
        light: color.adjust(map.get($text-content, "light"), $lightness: -10%),
        dark: color.adjust(map.get($text-content, "dark"), $lightness: +10%),
);

$text-subtitle: (
        light: color.adjust(map.get($text-title, "light"), $lightness: +30%),
        dark: color.adjust(map.get($text-title, "dark"), $lightness: -30%),
);


$blockquote-border: (
        light: color.adjust(map.get($surface, "light"), $lightness: -5%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +5%),
);

$drawer-nav-ripple: (
        light: color.adjust(map.get($surface, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($surface, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$fab-bg: (
        backdrop-filter: 10px,
        light: rgba(color.adjust(map.get($background, "light"), $lightness: -3%), 0.5),
        dark: rgba(color.adjust(map.get($background, "dark"), $lightness: -3%), 0.5),
);

$fab-ink: (
        light: rgba(color.adjust(map.get($fab-bg, "light"), $lightness: -70%), 1),
        dark: rgba(color.adjust(map.get($fab-bg, "dark"), $lightness: +70%), 1),
);

$fab-ripple: (
        light: color.adjust(map.get($fab-bg, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($fab-bg, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$snackbar-bg: (
        backdrop-filter: 10px,
        light: rgba(map.get($surface, "dark"), 0.7),
        dark: rgba(map.get($surface, "light"), 0.7),
);
$snackbar-ink: (
        light: map.get($text-title, "dark"),
        dark: map.get($text-title, "light"),
);

$scrim: (
        color: rgba(0, 0, 0, 0.05),
        backdrop-blur: 5px,
);

$top-bar-elevation: (
        elevation: 0,
        shadow-light: color.adjust(map.get($top-bar, "bg-light"), $lightness: -3%),
        shadow-dark: color.adjust(map.get($top-bar, "bg-dark"), $lightness: +3%),
);
$fab-elevation: (
        elevation: 0,
        shadow-light: color.adjust(map.get($surface, "light"), $lightness: -3%),
        shadow-dark: color.adjust(map.get($surface, "dark"), $lightness: +3%)
);
$drawer-elevation: (
        elevation: 0,
        shadow-light: color.adjust(map.get($surface, "light"), $lightness: -3%),
        shadow-dark: color.adjust(map.get($surface, "dark"), $lightness: +3%),
);
$card-elevation: (
        elevation: 0,
        shadow-light: color.adjust(map.get($surface, "light"), $lightness: -3%),
        shadow-dark: color.adjust(map.get($surface, "dark"), $lightness: +3%),
);

$dialog: (
        elevation: 0,
        border-light: color.adjust(map.get($surface, "light"), $lightness: -2%),
        shadow-light: color.adjust(map.get($surface, "light"), $lightness: -10%),
        border-dark: color.adjust(map.get($surface, "dark"), $lightness: +2%),
        shadow-dark: color.adjust(map.get($surface, "dark"), $lightness: +10%),
);

// 索引卡片的 Ripple 颜色
$card-ripple: (
        light: color.adjust(map.get($surface, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($surface, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$button-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -5%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +5%),
);
$button-ink: (
        light: color.adjust(map.get($button-bg, "light"), $lightness: -65%),
        dark: color.adjust(map.get($button-bg, "dark"), $lightness: +65%),
);
$button-ripple: (
        light: color.adjust(map.get($button-bg, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($button-bg, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$icon-button-ripple: (
        light: color.adjust(map.get($surface, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($surface, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$dialog-action-btn-bg: (
        light: map.get($surface, "light"),
        dark: map.get($surface, "dark"),
);
$dialog-action-btn-ink: (
        light: color.adjust(map.get($dialog-action-btn-bg, "light"), $lightness: -65%),
        dark: color.adjust(map.get($dialog-action-btn-bg, "dark"), $lightness: +65%),
);
$dialog-action-btn-ripple: (
        light: color.adjust(map.get($dialog-action-btn-bg, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($dialog-action-btn-bg, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$chip-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -2.4%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +2.4%),
);
$chip-ink: (
        light: color.adjust(map.get($chip-bg, "light"), $lightness: -70%),
        dark: color.adjust(map.get($chip-bg, "dark"), $lightness: +70%),
);
$chip-ripple: (
        light: color.adjust(map.get($chip-bg, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($chip-bg, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$index-list-pin-icon-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -2.5%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +2.5%),
);

@function calc-text-block-bg-light($ink) {
        @return rgba(color.adjust($ink, $lightness: +20%), 0.15),
};

@function calc-text-block-bg-dark($ink) {
        @return rgba(color.adjust($ink, $lightness: -20%), 0.1),
};

$text-block-1-ink: (
        light: #8167c1,
        dark: rgb(210, 195, 249),
);

$text-block-1-bg: (
        light: calc-text-block-bg-light(map.get($text-block-1-ink, "light")),
        dark: calc-text-block-bg-dark(map.get($text-block-1-ink, "dark")),
);

$text-block-2-ink: (
        light: #dd5c5c,
        dark: rgb(249, 184, 184),
);

$text-block-2-bg: (
        light: calc-text-block-bg-light(map.get($text-block-2-ink, "light")),
        dark: calc-text-block-bg-dark(map.get($text-block-2-ink, "dark")),
);

$text-block-3-ink: (
        light: #dc7d51,
        dark: #ffc5ab,
);

$text-block-3-bg: (
        light: calc-text-block-bg-light(map.get($text-block-3-ink, "light")),
        dark: calc-text-block-bg-dark(map.get($text-block-3-ink, "dark")),
);

$code-highlight-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -3%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +3%),
);

$code-highlight-ink: (
        light: color.adjust(map.get($code-highlight-bg, "light"), $lightness: -70%),
        dark: color.adjust(map.get($code-highlight-bg, "dark"), $lightness: +70%),
);

$code-highlight-border: (
        light: color.adjust(map.get($code-highlight-bg, "light"), $lightness: -3%),
        dark: color.adjust(map.get($code-highlight-bg, "dark"), $lightness: +3%),
);

$pre-code-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -1.8%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +1.8%),
);

$pre-code-border: (
        light: color.adjust(map.get($pre-code-bg, "light"), $lightness: -1.5%),
        dark: color.adjust(map.get($pre-code-bg, "dark"), $lightness: +1.5%),
);

// 强调颜色，注意相比基准色不越界，应不强于标题颜色
$strong: (
        light: color.adjust(map.get($text-content, "light"), $lightness: -15%),
        dark: color.adjust(map.get($text-content, "dark"), $lightness: +15%),
);

$strong-under-line: (
        light: color.adjust(map.get($surface, "light"), $lightness: -12%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +12%),
);

// 使 border 与 bg 亮度差为 2
$surface-block-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -1.8%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +1.8%),
);

$surface-block-ripple: (
        light: color.adjust(map.get($surface-block-bg, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($surface-block-bg, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$surface-block-border: (
        light: color.adjust(map.get($surface-block-bg, "light"), $lightness: -1.8%),
        dark: color.adjust(map.get($surface-block-bg, "dark"), $lightness: +1.8%),
);

$list-bg: (
        light: color.adjust(map.get($surface, "light"), $lightness: -1.8%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +1.8%),
);

$list-ripple: (
        light: color.adjust(map.get($list-bg, "light"), $lightness: - variables.$ripple-gap-percent),
        dark: color.adjust(map.get($list-bg, "dark"), $lightness: + variables.$ripple-gap-percent),
);

$list-border-dashed: (
        light: color.adjust(map.get($list-bg, "light"), $lightness: -10%),
        dark: color.adjust(map.get($list-bg, "dark"), $lightness: +10%),
);

$list-border: (
        // light: color.adjust(map.get($list-bg, "light"), $lightness: -2.5%),
        light: map.get($surface, "light"),
        // dark: color.adjust(map.get($list-bg, "dark"), $lightness: +2.5%),
        dark: map.get($surface, "dark"),
);

$textfield-border: (
        light: color.adjust(map.get($surface, "light"), $lightness: -5%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +5%),
);

$common-divider-color: (
        light: color.adjust(map.get($surface, "light"), $lightness: -3%),
        dark: color.adjust(map.get($surface, "dark"), $lightness: +3%),
);