@use "basic";
@use "theme" as blogTheme;
@use "@material/theme";
@use "@material/theme/custom-properties";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/ripple";
@use "@material/typography";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/card";
@use "@material/card/mdc-card";
@use "sass:map";

@mixin cardElevation {
  // 文章卡片的阴影，z高度，阴影颜色，扩散度
  @include elevation.elevation(map.get(blogTheme.$essay-card-elevation, "elevation"),
    map.get(blogTheme.$essay-card-elevation, "shadow-light"), 0);
}

@mixin cardElevationDark {
  @include elevation.elevation(map.get(blogTheme.$essay-card-elevation, "elevation"),
    map.get(blogTheme.$essay-card-elevation, "shadow-dark"), 0);
}

.essay-card {
  padding: 1.3rem 2.5rem;
  margin: 0.74rem 1rem;
  // 文章卡片的阴影，z高度，阴影颜色，扩散度
  @include cardElevation();
}

.dark .essay-card {
  @include cardElevationDark();
}

// 手机小屏
@media all and (max-width: blogTheme.$screen-middle-min-width) {
  .essay-card {
    padding: 1.3rem 1.3rem;
    margin: 0.74rem 0;
    @include elevation.elevation(map.get(blogTheme.$essay-card-elevation, "elevation"),
      map.get(blogTheme.$essay-card-elevation, "min-screen-shadow-light"), 0);
  }

  .dark .essay-card {
    @include elevation.elevation(map.get(blogTheme.$essay-card-elevation, "elevation"),
      map.get(blogTheme.$essay-card-elevation, "min-screen-shadow-dark"), 0);
  }
}

/* 文章题目 */
.essay-title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 2rem 2rem 1rem 2rem;
  text-align: center;
  // 引用 theme中定义的属性，这个属性可以被 修改，以实现不同的theme主题
}

/* 文章署名 */
.essay-author {
  @include typography.typography(subtitle1);
  @include theme.property(color, text-secondary-on-background);
  text-align: center;
  margin-top: 0.8rem;
}

/* 文章日期 */
.essay-date {
  @include typography.typography(subtitle1);
  @include theme.property(color, text-secondary-on-background);
  text-align: center;
  margin-top: 0.5rem;
}

.surface-block {
  border: 1px dashed var(--surface-block-border);
  border-radius: var(--essay-inner-shape-round);
  background: var(--surface-block-bg);
  padding: 1rem;
}

.line-divider {
  width: 80%;
  border: none;
  border-top: 2px dashed var(--divider-color);
  margin: 1.5rem auto;
}

.icon-divider {
  text-align: center;
  margin: 0.5rem;
}

.btn-tag {
  @include button.ink-color(var(--chip-ink));
  @include button.container-fill-color(var(--chip-bg));
  @include button.horizontal-padding(0.7rem);
  @include button.height(2rem);
  text-transform: none;
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.btn-tag .mdc-button__ripple {
  @include ripple.states(map.get(blogTheme.$chip-ripple, "light"), true);
}

.dark .btn-tag .mdc-button__ripple {
  @include ripple.states(map.get(blogTheme.$chip-ripple, "dark"), true);
}

/* 段落中单词高亮 */
code:not(pre code) {
  @include typography.typography(body1);
  padding: 0.01rem 0.2rem 0.05rem 0.2rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  border-radius: 0.3rem;

  background: var(--code-highlight-bg);
  border: 1px solid var(--code-highlight-border);
}

em code {
  padding-left: 0.2rem;
  padding-right: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

// 代码块
pre code.hljs {
  @include typography.typography(body1);
  font-family: blogTheme.$code-block-font;
  font-size: 1.0rem;
  line-height: 1.5rem;
  border-radius: var(--essay-inner-shape-round);
  padding: 1rem;
  background: var(--pre-code-bg);
}

.handwritten {
  code:not(pre code.hljs, .surface-block code, .opera-page code) {
    padding: 0.02rem 0.2rem 0.02rem 0.2rem;
  }
}

.surface-block code,
.opera-page code {
  color: var(--surface-block-ink-strong);
  font-weight: normal;
  padding: 0;
  margin: 0 0.1rem;
  border: none;
  background: none;
}

img.clickable:hover {
  cursor: pointer;
}

.media-container {
  max-width: 100%;
  // height: fit-content;
  max-height: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
  // border-radius: 0.3rem;
}

// img都是被包裹在<p>里所有无需设置margin
video {
  margin: 0.5rem 0;
}

.video-container {
  position: relative;
  // 这个百分比越小，视频越扁
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  margin: 0.5rem 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}