@use "basic";
@use "theme" as blogTheme;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/ripple";
@use "@material/theme";
@use "@material/typography";
@use "@material/card";
@use "@material/card/mdc-card";
@use "sass:map";

// 页面主体内容，距离main-container上下边界0.74rem
// 小屏时，下边界0.6rem

.index-card {
  padding: 1.3rem 2.3rem;
  @include elevation.elevation(map.get(blogTheme.$index-card-elevation, "elevation"), map.get(blogTheme.$index-card-elevation, "shadow-light"), 0);
  // 添加Ripple动画
  overflow: hidden;
  @include ripple.surface;
  @include ripple.radius-bounded(100%);
  @include ripple.states-base-color(black);
  @include ripple.states-opacities((hover: .0, focus: .1, press: .08));
}

.dark .index-card {
  @include elevation.elevation(map.get(blogTheme.$index-card-elevation, "elevation"),
          map.get(blogTheme.$index-card-elevation, "shadow-dark"), 0);
  @include ripple.states-base-color(white);
  @include ripple.states-opacities((hover: .0, focus: .1, press: .08));
}

// 小屏
@media all and (max-width: blogTheme.$screen-middle-max-width) {
  .index-card {
    @include elevation.elevation(map.get(blogTheme.$index-card-elevation, "elevation"),
            map.get(blogTheme.$index-card-elevation, "min-screen-shadow-light"), 0);
  }
  .dark .index-card {
    @include elevation.elevation(map.get(blogTheme.$index-card-elevation, "elevation"),
            map.get(blogTheme.$index-card-elevation, "min-screen-shadow-dark"), 0);
  }
}

.index-description {
  border: 1px solid rgba(63, 185, 80, 0.4);
  border-radius: var(--mdc-shape-medium);
  background: rgba(46, 160, 67, 0.1);
  padding: 0.6rem 1rem;
  margin: 0.74rem 1rem;
}


/* 索引题目 */
.index-title {
  @include typography.typography(subtitle1);
  margin: 0;
  text-align: left;
}

/* 索引署名 */
.index-author {
  @include typography.typography(subtitle1);
  @include theme.property(color, text-secondary-on-background);
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: right;
  margin: 0;
}

/* 索引地点（看剧使用） */
.index-location {
  @include typography.typography(subtitle1);
  text-align: left;
  margin: 0;
}

/* 索引日期 */
.index-date {
  @include typography.typography(subtitle1);
  @include theme.property(color, text-secondary-on-background);
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: right;
  margin: 0;
}

// 索引列表
.index-ul {
  // 注意列表第一个卡片到top bar的距离要和正文卡片与之的距离一致 0.75rem，各个item之间的距离0.75rem
  padding: 0;
  margin: 0;
}

.index-li {
  list-style-type: none;
  margin: 0.74rem 1rem;
  padding: 0;
}

// 索引链接
.index-a {
  // 去除下划线
  text-decoration: none;
  // 去除点击时的默认的背景，防止干扰Ripple动画
  background-color: transparent;
}

// new grid index

.grid-index-card {
  @include elevation.elevation(map.get(blogTheme.$grid-index-card-elevation, "elevation"), 
  map.get(blogTheme.$grid-index-card-elevation, "shadow-light"), 0);
  // 添加Ripple动画
  overflow: hidden;
  @include ripple.surface;
  @include ripple.radius-bounded(100%);
  @include ripple.states-base-color(black);
  @include ripple.states-opacities((hover: .0, focus: .1, press: .09));
}

.dark .grid-index-card {
  @include elevation.elevation(map.get(blogTheme.$grid-index-card-elevation, "elevation"),
          map.get(blogTheme.$grid-index-card-elevation, "shadow-dark"), 0);
  @include ripple.states-base-color(white);
  @include ripple.states-opacities((hover: .0, focus: .1, press: .08));
}

// 索引卡片，左右离container边界1rem空白，上下item间0.74rem空白，卡片组距顶部item 0.74rem空白，表格十字线宽度0.74rem
// 小屏时，左右离浏览器container边界0.5rem空白，上下item间0.7rem空白

.grid-index-ul {
  padding: 0;
  padding-inline-start: 0;
  margin: -0.37rem 0.6rem 0.37rem 0.6rem;
}

.grid-index-li {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0.37rem 0.4rem;
  margin: 0;
}

.grid-index-item__full-width {
  width: 100%;
}

.grid-index-text-container {
  padding: 0.8rem 2rem 1rem 2rem ;
}

.grid-index-li a {
  text-decoration: none;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.index-lazy-img {
  border-radius: var(--mdc-shape-medium);
}

.grid-index-title {
  @include typography.typography(subtitle1);
  font-size: 1.5rem;
  margin: 0.5rem 0 0.1rem 0;
  text-align: left
}

.grid-index-date {
  @include typography.typography(body1);
  color: var(--index-subtitle);
  font-size: 0.75rem;
  margin: 0;
}

.grid-index-author {
  @include typography.typography(body1);
  color: grey;
  font-size: 0.75rem;
}

.grid-index-description {
  margin: 0;
  color: var(--index-description);
}

// 手机小屏
@media all and (max-width: blogTheme.$screen-middle-min-width) {
  .index-author {
    font-size: 0.75rem;
    //font-weight: lighter;
    color: var(--index-subtitle);
  }

  .index-date {
    font-size: 0.75rem;
    //font-weight: lighter;
    color: var(--index-subtitle);
  }

  .index-li {
    margin: 0.6rem 0.5rem;
  }

  .index-card {
    padding: 1rem 1rem;
  }

  // new grid index

  .grid-index-ul {
    margin: -0.35rem 0.1rem 0.25rem 0.1rem;
  }

  .grid-index-li {
    padding: 0.35rem 0.4rem;
  }

  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .grid-index-text-container {
    padding: 0.5rem 1.5rem 1rem 1.5rem ;
  }
}

// 平板中屏
@media all and (min-width: (blogTheme.$screen-middle-min-width + 1px)) and (max-width: (blogTheme.$screen-middle-max-width - 1px)) {
  .index-card {
    padding: 1.2rem 2rem;
  }
  
  .index-author {
    font-size: 0.8rem;
  }

  .index-date {
    font-size: 0.8rem;
  }

  // new grid index
  .grid-index-text-container {
    padding: 0.5rem 1.8rem 1rem 1.8rem ;
  }

}