// 先引入mdc的theme，然后用自定义变量覆盖其原有配置
@use "@material/theme";
@use "@material/theme/mdc-theme";
@use "sass:map";
@use "font/font";

$screen-middle-min-width: 600px;
$screen-middle-max-width: 880px;
$center-card-max-width: 880px;
// 霞鹜文楷GB
$text-font: unquote("PingFangSCEllipsis, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
// 马善政字体缺少“璟”，汉仪颐和仙境缺少“瓅”
$handwritten-font: "HYXuJingXingKaiW", "LXGW WenKai GB", "PingFang SC", Roboto, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
$code-block-font: "LXGW WenKai Mono GB", "LXGW WenKai GB", "PingFang SC", Roboto, sans-serif, "Apple Color Emoji", "Noto Color Emoji";

$top-bar-color: #ee6e73;
$top-bar-color-darken: #df696e;
$footer-ink-color: white;
$footer-link-color: #ffe0b2;
$background: (
  light: #f7f7f7,
  dark: #111111,
  min-screen-dark: #111111
);
$surface: (
  light: white,
  dark: #161616,
  min-screen-dark: #161616
);

$on-surface: (
  light: #323232,
  dark: #e6e6e6
);

$top-bar-elevation: (
  elevation: 4,
  shadow-light: $top-bar-color-darken,
  shadow-dark: #202020
);
$drawer-elevation: (
  elevation: 3,
  shadow-light: #2a2a2a,
  shadow-dark: black
);
$fab-elevation: (
  elevation: 3,
  shadow-light: #202020,
  shadow-dark: #202020
);
$index-card-elevation: (
  elevation: 2,
  shadow-light: #d5d5d5,
  min-screen-shadow-light: #e3e3e3,
  shadow-dark: #101010,
  min-screen-shadow-dark: #0a0a0a,
);
$grid-index-card-elevation: (
  elevation: 2,
  shadow-light: #c8c8c8,
  min-screen-shadow-light: #e3e3e3,
  shadow-dark: #0a0a0a,
  min-screen-shadow-dark: #0a0a0a,
);
$essay-card-elevation: (
  elevation: 2,
  shadow-light: #c8c8c8,
  min-screen-shadow-light: #e3e3e3,
  shadow-dark: black,
  min-screen-shadow-dark: #0a0a0a,
);

$chip-ripple: (
  light: #a25462,
  dark: rgb(218, 94, 115)
);

@mixin light {
  --mdc-theme-primary: #{$top-bar-color};
  --mdc-theme-on-primary: #f5f5f5;
  --mdc-theme-secondary: #43a047;
  --mdc-theme-on-secondary: #f5f5f5;
  --mdc-theme-background: #{map.get($background, "light")};
  --mdc-theme-surface: #{map.get($surface, "light")};
  // 默认字体颜色，段落p
  --mdc-theme-on-surface: #{map.get($on-surface, "light")};
  // 标题字体色
  --mdc-theme-text-primary-on-background: #191919;
  // 小标题字体色
  --mdc-theme-text-secondary-on-background: #676767;
  // card, dialog 圆角
  --mdc-shape-medium: 0.3rem;
  // 文章内元素圆角，code block和description
  --essay-inner-shape-round: 0.3rem;

  --top-app-bar-blur: #df696e;

  // Drawer
  --drawer-ink: black;

  // Button
  --button-bg: #9b27b0;
  --search-nav: #a25462;

  // Code
  --code-highlight-bg: #f8f9fa;
  --code-highlight-border: #e8eaed;
  --pre-code-bg: #15171a;

  // Chip
  --chip-bg: #ffeae3;
  --chip-ink: #84565e;
  --list-chip-1-bg: rgba(211, 196, 249, 0.48);
  --list-chip-1-ink: #8167c1;
  --list-chip-1-border: rgba(211, 196, 249, 0.91);
  --list-chip-2-bg: rgba(255, 224, 221, 0.5);
  --list-chip-2-ink: #f77575;
  --list-chip-2-border: rgba(252, 155, 157, 0.55);
  --list-chip-3-bg: rgba(254, 242, 192, 0.58);
  --list-chip-3-ink: #9a6000;
  --list-chip-3-border: rgba(255, 224, 101, 1);

  --list-hover: #f5f5f5;

  --link-color: #2b00fe;
  --em-color: #535c68;
  --strong-color: rgba(0, 0, 0, 0.90);
  --strong-underline-color: rgba(255, 0, 0, 0.12);
  --divider-color: rgba(0, 0, 0, 0.12);

  --surface-block-border: rgba(188, 188, 188, 0.4);
  --surface-block-bg: rgba(209, 209, 209, 0.1);

  --index-description-card-bg: #f9eacc;
  --index-item-subtitle: #808080;
  --index-item-description: #393939;
}

@mixin dark {
  --mdc-theme-primary: #{$top-bar-color};
  --mdc-theme-on-primary: #f5f5f5;
  --mdc-theme-secondary: #43a047;
  --mdc-theme-on-secondary: #f5f5f5;
  --mdc-theme-background: #{map.get($background, "dark")};
  --mdc-theme-surface: #{map.get($surface, "dark")};
  --mdc-theme-on-surface: #{map.get($on-surface, "dark")};
  --mdc-theme-text-primary-on-background: #f5f5f5;
  --mdc-theme-text-secondary-on-background: #969696;

  --top-app-bar-blur: black;

  // Drawer
  --drawer-ink: white;
  
  --button-bg: #9b27b0;
  --search-nav: rgba(228, 96, 117, 0.93);

  // Code
  --code-highlight-bg: rgba(55, 55, 55, 0.18);
  --code-highlight-border: rgba(69, 69, 69, 0.74);
  --pre-code-bg: #0f0f0f;

  // Chip
  --chip-bg: rgba(134, 83, 81, 0.2);
  --chip-ink: #c67c3b;
  --list-chip-1-bg: rgba(212, 197, 249, 0.18);
  --list-chip-1-ink: rgb(210, 195, 249);
  --list-chip-1-border: rgba(210, 195, 249, 0.3);
  --list-chip-2-bg: rgba(182, 2, 5, 0.18);
  --list-chip-2-ink: rgb(253, 155, 157);
  --list-chip-2-border: rgba(253, 155, 157, 0.3);
  --list-chip-3-bg: rgba(254, 242, 192, 0.18);
  --list-chip-3-ink: rgb(254, 241, 190);
  --list-chip-3-border: rgba(254, 241, 190, 0.3);

  --list-hover: #252525;

  --link-color: #54a0ff;
  --em-color: rgba(255, 255, 255, 0.65);
  --strong-color: rgba(255, 255, 255, 0.95);
  --strong-underline-color: rgba(254, 96, 96, 0.3);
  --divider-color: #353535;

  --surface-block-border: rgba(188, 188, 188, 0.4);
  --surface-block-bg: rgba(0, 0, 0, 0.1);

  --index-description-card-bg: #301e00;
  --index-item-subtitle: #808080;
  --index-item-description: #cccccc;
}

body {
  @include light;
}

.dark {
  @include dark;
}

// 小屏
@media all and (max-width: $screen-middle-min-width) {
  .dark {
    --mdc-theme-background: #{map.get($background, "min-screen-dark")};
    --mdc-theme-surface: #{map.get($surface, "min-screen-dark")};
  }
}