@use "sass:string";

// 霞鹜文楷GB
$text-font-wenkai: string.unquote("Noto Serif Sub, LXGW WenKai GB, sans-serif");
// 思源宋体
$text-font-noto-serif: string.unquote("Noto Serif Sub, Noto Serif SC, sans-serif");
// 思源黑体
$text-font-noto-sans: string.unquote("Noto Serif SC Sub, Noto Serif Sub Lighter, Noto Sans SC, sans-serif");
// 书法字体，许静行楷
$handwritten-font: string.unquote("HYXuJingXingKaiW, LXGW WenKai GB, sans-serif");
// 代码字体，等宽
$code-block-font: string.unquote("JetBrainsMono, Noto Sans SC, monospace, sans-serif");

// 中型屏幕宽度范围，定义为平板，小于此尺寸为手机，大于此尺寸为电脑
$screen-middle-min-width: 600px;
$screen-middle-max-width: 880px;
// 页面中部容器的最大宽度，普通索引页、文章页等都使用此宽度
$center-container-max-width: 880px;
// 更宽的页面中部容器的最大宽度，透镜索引页展示照片墙使用此宽度
$center-container-larger-max-width: 1200px;

$ripple-gap-percent: 25%;

$font-weight-normal-noto-sans: 350;
$font-weight-normal-default: 400;

$font-weight-gap: 30;