@use "sass:string";

// 霞鹜文楷GB
$text-font-wenkai: string.unquote("LXGW WenKai GB, sans-serif");
// 思源宋体
$text-font-noto-serif: string.unquote("IBM Plex Serif, Noto Serif SC, sans-serif");
// 思源黑体
$text-font-noto-sans: string.unquote("Inter, Noto Sans SC, sans-serif;");
// 书法字体，许静行楷
$handwritten-font: string.unquote("HYXuJingXingKaiW, LXGW WenKai GB, sans-serif");
// 代码字体，等宽
$code-block-font: string.unquote("JetBrains Mono, Noto Sans SC, monospace, sans-serif");

// 中型屏幕宽度范围，定义为平板，小于此尺寸为手机，大于此尺寸为电脑
$screen-middle-min-width: 600px;
$screen-middle-max-width: 880px;
// 页面中部容器的最大宽度，普通索引页、文章页等都使用此宽度
$center-container-max-width: 880px;
// 更宽的页面中部容器的最大宽度，透镜索引页展示照片墙使用此宽度
$center-container-larger-max-width: 1200px;

$ripple-gap-percent: 25%;

// 思源黑体和思源宋体都是可变字体，但与其配合的西文字体不一定是可变的，应调整自重与之匹配
$font-weight-light-noto-sans: 320;
$font-weight-normal-noto-sans: 360;
$font-weight-medium-noto-sans: 400;

$font-weight-light-noto-serif: 300;
$font-weight-normal-noto-serif: 430;
$font-weight-medium-noto-serif: 560;

$font-weight-extra-light-default: 200;
$font-weight-light-default: 300;
$font-weight-normal-default: 400;
$font-weight-medium-default: 500;