@use "sass:string";

// 霞鹜文楷GB
$text-font-wenkai: string.unquote("PingFangSCEllipsis, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
// $text-font-wenkai-noto-emoji: string.unquote("PingFangSCEllipsis, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Noto Emoji, Apple Color Emoji");
$text-font-wenkai-noto-color-emoji: string.unquote("PingFangSCEllipsis, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Noto Color Emoji, Apple Color Emoji");
// 思源宋体
$text-font-noto-serif: string.unquote("PingFangSCEllipsis, Noto Serif SC, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
$text-font-noto-serif-noto-color-emoji: string.unquote("PingFangSCEllipsis, Noto Serif SC, PingFang SC, Roboto, sans-serif, Noto Color Emoji, Apple Color Emoji");
// 思源黑体
$text-font-noto-sans: string.unquote("PingFangSCEllipsis, Noto Sans SC, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
$text-font-noto-sans-noto-color-emoji: string.unquote("PingFangSCEllipsis, Noto Sans SC, PingFang SC, Roboto, sans-serif, Noto Color Emoji, Apple Color Emoji");
// 兰亭题序国风行楷
$handwritten-font: string.unquote("AaLTTXGFXK, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
// 索引页的许静行楷
$handwritten-font-index: string.unquote("HYXuJingXingKaiW, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
// 代码字体，等宽
$code-block-font: string.unquote("LXGW WenKai Mono GB, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");

// 中型屏幕宽度范围，定义为平板，小于此尺寸为手机，大于此尺寸为电脑
$screen-middle-min-width: 600px;
$screen-middle-max-width: 880px;
// 页面中部容器的最大宽度，普通索引页、文章页等都使用此宽度
$center-container-max-width: 880px;
// 更宽的页面中部容器的最大宽度，透镜索引页展示照片墙使用此宽度
$center-container-larger-max-width: 1200px;

$ripple-gap-percent: 25%;