@use "theme" as blogTheme;
@use "basic";
@use "nav";
@use "index";
@use "essay";
@use "tag-essay-list-dialog";
@use "basic_dialog";
@use "about-me-dialog";
@use "search-dialog";
@use "preference-dialog";
@use "short-link";
@use "sass:map";

@use "@material/typography";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/animation";

// 通过js给body添加dark class，可以实现对mac-theme的参数更改
// 大部分组件都会正确相应颜色变化，但是list和chip却无效
// 且theme.$property引用的值也没有动态变化
body {
  // 消除top app bar左侧的margin
  margin: 0;
}

// footer吸附在页面底部

html,
body {
  height: 100%;
  //影响jQuery的滚动到顶部
  //scroll-behavior: smooth;
}

// 设置.page-wrap的最小高度为页面高度，为下面预留80px的高度空间给footer
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -5rem;
}

// 在.page-wrap的内容最后再添加一个空的子元素，高度为footer的高度
// 如果其内容已经占满屏幕高度，那这个多余的子元素空间正好提供给footer
// 如果其内容没有占满屏幕高度，则这个多余的子元素不会挤占footer的空间
.page-wrap::after {
  content: "";
  display: block;
  height: 5rem;
}

footer {
  background-color: blogTheme.$top-bar-color-darken;
  color: blogTheme.$footer-ink-color;
}

footer a {
  color: blogTheme.$footer-link-color;
  text-decoration: none;
}

.foot-header {
  height: 1.5rem;
  background-color: rgba(51, 51, 51, 0.08);
}


.copyright {
  padding: 1rem;
  @include typography.typography(body1);
}

// 内容最外层的主容器
.main-container {
  // 横向居中
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 4.5rem 0 1rem 0;
}

.foot-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 0;
}

// .mdc-dialog__content {
//   // 淡入动画
//   animation: animation.enter($name: fade-in, $duration: 600ms);
// }

@keyframes fade-in {
  from {
    transform: translateY(20rem);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.55rem;
  }
}

.center-horizontal {
  margin: auto;
  text-align: center;
}

// 手机小屏
@media all and (max-width: blogTheme.$screen-middle-min-width) {
  .main-container {
    padding: 3.8rem 0 1rem 0;
  }
}

// 平板中屏
@media all and (min-width: (blogTheme.$screen-middle-min-width + 1px)) and (max-width: (blogTheme.$screen-middle-max-width - 1px)) {
  // 默认参数
}

// 电脑大屏
@media all and (min-width: 880px) {
  .main-container {
    width: blogTheme.$center-card-max-width;
  }

  .foot-container {
    width: blogTheme.$center-card-max-width;
  }
}

