--- 
layout: post
type: index
title: 野生散养攻城狮
---

<ul class="clear">
  {% for post in site.posts %}
  {% if post.type == "essy" %}
  <li>
    <div class="container">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="card-panel hoverable black-text">
          <h6 class="left-align">{{ post.title }}</h6>
          <h6 class="right-align">{{ post.author }}</h6>
          <h6 class="right-align">{{ post.date | date: "%Y年%m月%d日" }}</h6>
        </div>
      </a>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>