@use '../../style/global' as base;
@use "sass:math";

@font-face {
    font-family: "IBM Plex Serif";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/IBMPlexSerif/v1.1.0/IBMPlexSerif-Light.woff2") format('woff2');
    font-style: normal;
    font-weight: base.$font-weight-light-noto-serif;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Serif";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/IBMPlexSerif/v1.1.0/IBMPlexSerif-LightItalic.woff2") format('woff2');
    font-style: italic;
    font-weight: base.$font-weight-light-noto-serif;
    font-display: swap;
}

// 定义 normal 字重的范围
$font-weight-normal-min: base.$font-weight-normal-noto-serif - math.div(base.$font-weight-normal-noto-serif - base.$font-weight-light-noto-serif, 2);
$font-weight-normal-max: base.$font-weight-normal-noto-serif + math.div(base.$font-weight-medium-noto-serif - base.$font-weight-normal-noto-serif, 2);

@font-face {
    font-family: "IBM Plex Serif";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/IBMPlexSerif/v1.1.0/IBMPlexSerif-Regular.woff2") format('woff2');
    font-style: normal;
    font-weight: $font-weight-normal-min $font-weight-normal-max;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Serif";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/IBMPlexSerif/v1.1.0/IBMPlexSerif-Italic.woff2") format('woff2');
    font-style: italic;
    font-weight: $font-weight-normal-min $font-weight-normal-max;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Serif";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/IBMPlexSerif/v1.1.0/IBMPlexSerif-Medium.woff2") format('woff2');
    font-style: normal;
    font-weight: base.$font-weight-medium-noto-serif;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Serif";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/IBMPlexSerif/v1.1.0/IBMPlexSerif-MediumItalic.woff2") format('woff2');
    font-style: italic;
    font-weight: base.$font-weight-medium-noto-serif;
    font-display: swap;
}