@font-face {
    font-family: "Inter";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/Inter/v4.1/InterVariable.woff2") format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/Inter/v4.1/InterVariable-Italic.woff2") format('woff2');
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}