@font-face {
    font-family: "JetBrainsMono";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}