@font-face {
    font-family: "Noto Sans Sub";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/NotoSans/NotoSans-Variable-Sub/d07ee12828789319c93270a6c7f8c7ee.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    unicode-range: U+294-295, U+1D25, U+2022;
}