// Noto Serif 的省略号 … 和引号 “” ‘’ 字符，注意比正常自重大一级，这里的Regular是源字体的Light
@font-face {
    font-family: "Noto Serif Sub";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/NotoSerif/NotoSerif-ExtraLight-Ellipsis-Quotation/7f68d3a1a4e9d61f7198471d86d0d726.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    unicode-range: U+2018-2019, U+201C-201D, U+2026;
}

@font-face {
    font-family: "Noto Serif Sub";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/NotoSerif/NotoSerif-Light-Ellipsis-Quotation/b9810ff405ac626f7e027b14bb2a35e1.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+2018-2019, U+201C-201D, U+2026;
}

@font-face {
    font-family: "Noto Serif Sub";
    src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/fonts/NotoSerif/NotoSerif-Regular-Ellipsis-Quotation/8cd74086889cbb0bca06d5c23ace50a5.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    unicode-range: U+2018-2019, U+201C-201D, U+2026;
}