@use "../style/global" as base;
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/icon-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";

// 解决Safari的Ripple动画无圆角
.mdc-button,
.mdc-button__ripple {
    // border-radius: 1.3rem !important;
    -webkit-mask-image: radial-gradient(white, black);
}

.mdc-button {
    @include button.container-fill-color(var(--button-bg));
    @include button.ink-color(var(--button-ink));

    &:not(:disabled) {
        @include button.ink-color(var(--button-ink));
    }

    overflow: hidden;
    @include ripple.surface;
    // 如果为 bounded 则宽度可能有问题，导致横向溢出，滚动🤔
    // 设置其 surface 的 overflow 为 hidden
    // Dialog 的 surface 的尺寸异常导致滚动，已设置设置其 overflow 为 clip
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$button-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));

    .dark & {
        @include ripple.states-base-color(map.get(base.$button-ripple, "dark"));
        @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
    }
}

.mdc-button.btn-round {
    border-radius: calc(var(--mdc-typography-body1-font-size) + 0.3rem);
}

@mixin icon-button-ripple {
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$icon-button-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .15));

    .dark & {
        @include ripple.states-base-color(map.get(base.$icon-button-ripple, "dark"));
        @include ripple.states-opacities((hover: .0, focus: .0, press: .15));
    }
}

.mdc-icon-button {
    // border-radius: 20%;
    color: var(--mdc-theme-on-surface);
    @include icon-button-ripple;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}