@use "../style/global" as base;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/card";
@use "@material/card/mdc-card";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";


@mixin cardElevation {
    @include elevation.elevation(map.get(base.$card-elevation, "elevation"),
        map.get(base.$card-elevation, "shadow-light"), 0);

    .dark & {
        @include elevation.elevation(map.get(base.$card-elevation, "elevation"),
            map.get(base.$card-elevation, "shadow-dark"), 0);
    }
}

@mixin cardRipple {
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$card-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .2));

    .dark & {
        @include ripple.states-base-color(map.get(base.$card-ripple, "dark"));
        @include ripple.states-opacities((hover: .0, focus: .0, press: .2));
    }
}