@use "../style/global" as base;
@use "./card";
@use "../component/animation/BaseAnimation";
@use "sass:map";

body {
    --content-card-to-container-border-horizontal: var(--main-container-padding-vertical);
    --content-card-padding-vertical: 2.5rem;
    --content-card-padding-horizontal: 2.7rem;
}

.content-card {
    padding: var(--content-card-padding-vertical) var(--content-card-padding-horizontal);
    margin: 0 var(--content-card-to-container-border-horizontal);
    // 文章卡片的阴影，z高度，阴影颜色，扩散度
    @include card.cardElevation();
}

.dark .content-card {
    @include card.cardElevationDark();
}

// 文章卡片的默认位置向下偏移，且变为透明
.content-card-slide-in {
    transform: translateY(var(--content-card-animation-translate-y));
    opacity: 0;
    // TODO: 透明度动画部分页面在safari上会显示泛白，所以尽量缩短时间
    // 但是打开开发者模式又是正常的...
    transition: transform var(--content-card-animation-duration) ease,
        opacity calc(var(--content-card-animation-duration) / 2) ease;
    // will-change: transform, opacity;
}

// 启动动画，文章卡片向上移动到原位置
.content-card-slide-in.content-card-slide-in-start {
    transform: translateY(0);
    opacity: 1;
}

// 手机小屏
@media all and (max-width: base.$screen-middle-min-width) {
    body {
        --content-card-to-container-border-horizontal: 0;
        --content-card-padding-vertical: 2rem;
        --content-card-padding-horizontal: 1.3rem;
    }
}

@media all and (min-width: (base.$screen-middle-min-width + 1px)) and (max-width: (base.$screen-middle-max-width - 1px)) {
    body {
        --content-card-padding-horizontal: 2rem;
    }
}