@use "theme" as blogTheme;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/card";
@use "@material/card/mdc-card";
@use "sass:map";

body {
    --content-card-to-container-border-horizontal: var(--main-container-padding-vertical);
    --content-card-padding-vertical: 2.5rem;
    --content-card-padding-horizontal: 2.7rem;
}

@mixin cardElevation {
    // 文章卡片的阴影，z高度，阴影颜色，扩散度
    @include elevation.elevation(map.get(blogTheme.$card-elevation, "elevation"),
        map.get(blogTheme.$card-elevation, "shadow-light"), 0);
}

@mixin cardElevationDark {
    @include elevation.elevation(map.get(blogTheme.$card-elevation, "elevation"),
        map.get(blogTheme.$card-elevation, "shadow-dark"), 0);
}

.content-card {
    padding: var(--content-card-padding-vertical) var(--content-card-padding-horizontal);
    margin: 0 var(--content-card-to-container-border-horizontal);
    // 文章卡片的阴影，z高度，阴影颜色，扩散度
    @include cardElevation();
}

.dark .content-card {
    @include cardElevationDark();
}

.fade-in-animation {
    transform: translateY(var(--card-animation-translate-y));
    opacity: 0;
    // TODO: 透明度动画部分页面在safari上会显示泛白，所以尽量缩短时间
    // 但是打开开发者模式又是正常的...
    transition: transform var(--card-animation-duration) ease,
        opacity calc(var(--card-animation-duration) / 2) ease;
    // will-change: transform, opacity;
}

.fade-in-animation.fade-in-animation--start {
    transform: translateY(0);
    opacity: 1;
}

// 手机小屏
@media all and (max-width: blogTheme.$screen-middle-min-width) {
    body {
        --content-card-to-container-border-horizontal: 0;
        --content-card-padding-vertical: 2rem;
        --content-card-padding-horizontal: 1.3rem;
    }

    .content-card {
        @include elevation.elevation(map.get(blogTheme.$card-elevation, "elevation"),
            map.get(blogTheme.$card-elevation, "min-screen-shadow-light"), 0);
    }

    .dark .content-card {
        @include elevation.elevation(map.get(blogTheme.$card-elevation, "elevation"),
            map.get(blogTheme.$card-elevation, "min-screen-shadow-dark"), 0);
    }
}

@media all and (min-width: (blogTheme.$screen-middle-min-width + 1px)) and (max-width: (blogTheme.$screen-middle-max-width - 1px)) {
    body {
        --content-card-padding-horizontal: 2rem;
    }
}