@use "../style/global" as base;
@use "../component/scrim.scss" as scrim;
@use "@material/drawer";
@use "@material/drawer/mdc-drawer";
@use "@material/drawer/modal/mdc-drawer-modal";
@use "@material/drawer/dismissible/mdc-drawer-dismissible";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/ripple";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/list";
@use "@material/list/mdc-list";
@use "sass:map";
@use "sass:color";

.mdc-drawer {
    z-index: 3;
    @include elevation.elevation(map.get(base.$drawer-elevation, "elevation"), map.get(base.$drawer-elevation, "shadow-light"), 0);
    @include drawer.item-text-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-icon-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-activated-text-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-activated-icon-ink-color(var(--mdc-theme-on-surface));

    .dark & {
        @include elevation.elevation(map.get(base.$drawer-elevation, "elevation"), map.get(base.$drawer-elevation, "shadow-dark"), 0);
    }

    // transition: transform 0.2s ease-out !important;
    border: none;
    padding-left: var(--drawer-padding-horizontal);
    padding-right: var(--drawer-padding-horizontal);
}

.mdc-drawer-scroll-lock {
    overflow: hidden;
}

.mdc-drawer.mdc-drawer--modal {
    // 尺寸相对 body 整个页面，适配 iOS 26 中 safari 对 viewport 的变化，避免被底部工具栏裁剪
    position: absolute;

    // 启用 blur 时改为 fixed 定位，尺寸相对 viewport，减少性能消耗
    .scrim-blur & {
        position: fixed;
    }
}

.mdc-drawer--modal+.mdc-drawer-scrim {
    z-index: 2;
    @include scrim.baseScrim;
    // 尺寸相对 body 整个页面，适配 iOS 26 中 safari 对 viewport 的变化，避免被底部工具栏裁剪
    position: absolute;

    .scrim-blur & {
        position: fixed;
        @include scrim.scrimBlur;
    }
}

$header-gap-left: 1rem;
$list-item-padding-left: 0.8rem;

.mdc-drawer {
    .mdc-drawer__header {
        display: flex;
        align-items: center;
        padding: 0 $header-gap-left 0.4rem $header-gap-left;

        .drawer-header-text-container {
            flex: 1;

            .mdc-drawer__title {
                font-weight: var(--mdc-typography-subtitle2-font-weight);
                color: var(--mdc-theme-text-primary-on-background);
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }

            .mdc-drawer__subtitle {
                font-weight: var(--font-weight-normal);
                color: var(--mdc-theme-text-secondary-on-background);
                display: flex;
                align-items: center;
                margin: -5px 0 0 0;
                padding: 0;
            }
        }
    }

    .mdc-drawer__content {
        display: flex;
        flex-direction: column;
    }
}

.mdc-drawer .nav-list {
    flex: 1;

    .mdc-deprecated-list-item {
        margin: 0.4rem 0.6rem 0.4rem ($header-gap-left - $list-item-padding-left);
        padding: 0.2rem $list-item-padding-left;
        border-radius: 1.3rem;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        overflow: hidden;
        @include ripple.surface;
        @include ripple.radius-bounded;
        @include ripple.states-base-color(map.get(base.$drawer-nav-ripple, "light"));
        @include ripple.states-opacities((hover: .1, focus: .1, press: .1));

        .dark & {
            @include ripple.states-base-color(map.get(base.$drawer-nav-ripple, "dark"));
            @include ripple.states-opacities((hover: .1, focus: .1, press: .1));
        }
    }

    .mdc-deprecated-list-item.mdc-deprecated-list-item--selected {
        background-color: rgba($color: map.get(base.$drawer-nav-ripple, "light"), $alpha: 0.15);

        .dark & {
            background-color: rgba($color: map.get(base.$drawer-nav-ripple, "dark"), $alpha: 0.15);
        }
    }
}

.nav-bottom {
    height: 3rem;
    padding: 0 1rem 0 1rem;
}

.nav-bottom button {
    width: 100%;
    @include button.container-fill-color(var(--chip-bg));
    @include button.ink-color(var(--chip-ink));
}