@use "theme" as blogTheme;
@use "@material/drawer";
@use "@material/drawer/mdc-drawer";
@use "@material/drawer/modal/mdc-drawer-modal";
@use "@material/drawer/dismissible/mdc-drawer-dismissible";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/ripple";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/list";
@use "@material/list/mdc-list";
@use "sass:map";
@use "sass:color";

.mdc-drawer {
    z-index: 3;
    @include elevation.elevation(map.get(blogTheme.$drawer-elevation, "elevation"), map.get(blogTheme.$drawer-elevation, "shadow-light"), 0);
    @include drawer.item-text-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-icon-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-activated-text-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-activated-icon-ink-color(var(--mdc-theme-on-surface));
    // transition: transform 0.2s ease-out !important;
    border: none;
    padding-left: var(--drawer-padding-horizontal);
    padding-right: var(--drawer-padding-horizontal);
}

.dark .mdc-drawer {
    @include elevation.elevation(map.get(blogTheme.$drawer-elevation, "elevation"), map.get(blogTheme.$drawer-elevation, "shadow-dark"), 0);
}

.mdc-drawer--modal + .mdc-drawer-scrim {
    z-index: 2;
    background-color: var(--drawer-scrim-bg);
    transition: opacity var(--dialog-animation-duration) ease !important;
    -webkit-backdrop-filter: blur(map.get(blogTheme.$scrim, "backdrop-blur"));
    backdrop-filter: blur(map.get(blogTheme.$scrim, "backdrop-blur"));
}

.mdc-drawer__title {
    font-weight: normal;
}

.mdc-drawer__content .mdc-deprecated-list-item--activated .mdc-deprecated-list-item__text {
    font-weight: normal
}

.mdc-drawer__content {
    display: flex;
    flex-direction: column;
}

.nav-list {
    flex: 1;
}

.nav-list .mdc-deprecated-list-item.mdc-deprecated-list-item--selected {
    background-color: rgba($color: map.get(blogTheme.$drawer-nav-ripple, "light"), $alpha: 0.15)
}

.dark .nav-list .mdc-deprecated-list-item.mdc-deprecated-list-item--selected {
    background-color: rgba($color: map.get(blogTheme.$drawer-nav-ripple, "dark"), $alpha: 0.15)
}

.nav-list {
    .mdc-deprecated-list-item {
        @include ripple.surface;
        @include ripple.radius-bounded(100%);
        @include ripple.states-base-color(map.get(blogTheme.$drawer-nav-ripple, "light"));
        @include ripple.states-opacities((hover: .1, focus: .1, press: .1));
    }
}

.dark .nav-list .mdc-deprecated-list-item {
    @include ripple.states-base-color(map.get(blogTheme.$drawer-nav-ripple, "dark"));
    @include ripple.states-opacities((hover: .1, focus: .1, press: .1));
}

.nav-bottom {
    height: 3rem;
    padding: 0 1rem 0 1rem;
}

.nav-bottom button {
    width: 100%;
    @include button.container-fill-color(var(--chip-bg));
    @include button.ink-color(var(--chip-ink));
}
