@use "../style/global" as base;
@use "../component/scrim.scss" as scrim;
@use "@material/drawer";
@use "@material/drawer/mdc-drawer";
@use "@material/drawer/modal/mdc-drawer-modal";
@use "@material/drawer/dismissible/mdc-drawer-dismissible";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/ripple";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/list";
@use "@material/list/mdc-list";
@use "sass:map";
@use "sass:color";

$drawer-width: 18rem;

.mdc-drawer {
    width: calc($drawer-width + var(--safe-area-inset-left));
    z-index: var(--z-index-drawer);

    @include elevation.elevation(map.get(base.$drawer-elevation, "elevation"), map.get(base.$drawer-elevation, "shadow-light"), 0);
    @include drawer.item-text-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-icon-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-activated-text-ink-color(var(--mdc-theme-on-surface));
    @include drawer.item-activated-icon-ink-color(var(--mdc-theme-on-surface));

    .dark & {
        @include elevation.elevation(map.get(base.$drawer-elevation, "elevation"), map.get(base.$drawer-elevation, "shadow-dark"), 0);
    }

    border: none;

    &.mdc-drawer--opening,
    &.mdc-drawer--closing {
        transition-duration: var(--drawer-animation-duration);
    }
}

.mdc-drawer-scroll-lock {
    overflow: hidden;
}

.mdc-drawer.mdc-drawer--modal {
    // 尺寸相对 body 整个页面，适配 iOS 26 中 safari 对 viewport 的变化，避免被底部工具栏裁剪
    position: absolute;
    height: 100%;
}

.mdc-drawer--modal+.mdc-drawer-scrim {
    z-index: calc(var(--z-index-drawer) - 1);
    @include scrim.baseScrim;
    transition-duration: var(--drawer-animation-duration);
    // 尺寸相对 body 整个页面，适配 iOS 26 中 safari 对 viewport 的变化，避免被底部工具栏裁剪
    position: absolute;
}

$drawer-content-padding-left: 0.2rem;
$drawer-content-padding-right: 0.4rem;
$list-item-padding-horizontal: 0.8rem;

.mdc-drawer {
    padding: none;
    // mdc 内置的 overflow: hidden 会导致 wrapper 内部元素的 position: sticky 失效
    // sticky 定位的锚点是拥有 overflow 的最近祖先元素
    overflow: unset;

    .mdc-drawer__wrapper {
        box-sizing: border-box;
        position: sticky;
        top: 0;
        overflow: scroll;
        width: 100%;
        // 这样设置滚动到底部时弹出 drawer 有问题
        // height: calc(100dvh + var(--safe-area-inset-top) + var(--safe-area-inset-bottom));
        height: 100dvh;
        scroll-behavior: smooth;
        padding-top: var(--safe-area-inset-top);
        padding-bottom: var(--safe-area-inset-bottom);
        padding-left: calc(var(--safe-area-inset-left) + var(--drawer-padding-horizontal));
        padding-right: var(--drawer-padding-horizontal);

        .mdc-drawer__header {
            display: flex;
            align-items: center;
            padding: 0 0 0 ($drawer-content-padding-left + $list-item-padding-horizontal);
            height: var(--topbar-height);
            min-height: unset;

            #drawer_btn_share {
                i {
                    font-size: 1.5rem;
                    font-weight: 310;

                    .font-noto-serif-sc & {
                        font-weight: 270;
                    }
                }
            }

            #drawer_btn_close {
                i {
                    font-size: 2rem;
                    font-weight: 240;

                    .font-noto-serif-sc & {
                        font-weight: 205;
                    }
                }
            }

            .drawer-header-text-container {
                flex: 1;
                margin-top: 0.1rem;

                .mdc-drawer__title {
                    font-weight: calc(var(--font-weight-normal) + 40);
                    font-size: 1.1rem;
                    color: var(--mdc-theme-text-primary-on-background);
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    .font-noto-serif-sc & {
                        font-weight: calc(var(--font-weight-normal) + 60);
                    }
                }

                .mdc-drawer__subtitle {
                    font-weight: var(--font-weight-normal);
                    font-size: 0.78rem;
                    color: var(--mdc-theme-text-secondary-on-background);
                    display: flex;
                    align-items: center;
                    margin: -0.45rem 0 0 0;
                    padding: 0;
                }
            }
        }

        .mdc-drawer__content {
            display: flex;
            flex-direction: column;
            overflow: visible;
            height: fit-content;
            padding: 0.1rem $drawer-content-padding-right 0.2rem $drawer-content-padding-left;
        }
    }
}

.mdc-drawer .nav-list {
    flex: 1;

    .mdc-deprecated-list-item {
        margin: 0.2rem 0;
        padding: 0.2rem $list-item-padding-horizontal;
        border-radius: 1.3rem;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        overflow: hidden;
        @include ripple.surface;
        @include ripple.radius-bounded;
        @include ripple.states-base-color(map.get(base.$drawer-nav-ripple, "light"));
        @include ripple.states-opacities((hover: .1, focus: .1, press: .1));

        .dark & {
            @include ripple.states-base-color(map.get(base.$drawer-nav-ripple, "dark"));
            @include ripple.states-opacities((hover: .1, focus: .1, press: .1));
        }

        .mdc-deprecated-list-item__graphic {
            margin-right: 1.8rem;
            font-size: 1.5rem;
        }

        .mdc-deprecated-list-item__text {}
    }

    .mdc-deprecated-list-item.mdc-deprecated-list-item--selected {
        background-color: rgba($color: map.get(base.$drawer-nav-ripple, "light"), $alpha: 0.15);

        .dark & {
            background-color: rgba($color: map.get(base.$drawer-nav-ripple, "dark"), $alpha: 0.15);
        }
    }
}

.nav-bottom {
    height: 3rem;
    padding: 0 1rem 0 1rem;
}

.nav-bottom button {
    width: 100%;
    @include button.container-fill-color(var(--chip-bg));
    @include button.ink-color(var(--chip-ink));
}

// TODO: 在 scaffold 中为小尺寸单独设置了 font-size 以兼容红米手机
// 这里针对这种情况单独调整
@media screen and (max-width: 400px) {
    .mdc-drawer {
        .mdc-drawer__wrapper .mdc-drawer__header .drawer-header-text-container {
            .mdc-drawer__subtitle {
                margin-top: -0.68rem;
            }
        }
    }
}

@media screen and (min-width: 400px) and (max-width: 410px) {
    .mdc-drawer {
        .mdc-drawer__wrapper .mdc-drawer__header .drawer-header-text-container {
            .mdc-drawer__subtitle {
                margin-top: -0.6rem;
            }
        }
    }
}

@media screen and (min-width: 410px) and (max-width: 420px) {
    .mdc-drawer {
        .mdc-drawer__wrapper .mdc-drawer__header .drawer-header-text-container {
            .mdc-drawer__subtitle {
                margin-top: -0.48rem;
            }
        }
    }
}