@use "theme" as blogTheme;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/fab";
@use "@material/fab/mdc-fab";
@use "@material/ripple";
@use "sass:map";

.mdc-fab, .mdc-fab:hover {
    // TODO: 使用var设置的阴影是失效的
    @include elevation.elevation(map.get(blogTheme.$fab-elevation, "elevation"), map.get(blogTheme.$fab-elevation, "shadow-light"), 0);
}

.dark {
    .mdc-fab, .mdc-fab:hover {
        @include elevation.elevation(map.get(blogTheme.$fab-elevation, "elevation"), map.get(blogTheme.$fab-elevation, "shadow-dark"), 0);
    }
}

.mdc-fab {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media(min-width: blogTheme.$screen-middle-min-width) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
