@use "../style/global" as base;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/fab";
@use "@material/fab/mdc-fab";
@use "@material/ripple";
@use "sass:map";

.mdc-fab, .mdc-fab:hover {
    // TODO: 使用 var 设置的阴影是失效的
    @include elevation.elevation(map.get(base.$fab-elevation, "elevation"), map.get(base.$fab-elevation, "shadow-light"), 0);
}

.dark {
    .mdc-fab, .mdc-fab:hover {
        @include elevation.elevation(map.get(base.$fab-elevation, "elevation"), map.get(base.$fab-elevation, "shadow-dark"), 0);
    }
}

.mdc-fab {
    backdrop-filter: blur(map.get(base.$fab-bg, "backdrop-filter"));
    -webkit-backdrop-filter: blur(map.get(base.$fab-bg, "backdrop-filter"));
    // width: 3.5rem;
    // height: 3.5rem;
}

.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media(min-width: base.$screen-middle-min-width) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
