.footer--fade-in {
    // transform: translateY(var(--index-card-animation-translate-y));
    opacity: 0;
    transition: opacity var(--index-card-animation-duration) ease;
}

.footer--fade-in.footer--fade-in-start {
    // transform: translateY(0);
    opacity: 1;
}