@use "../style/global" as base;
@use "@material/list";
@use "@material/list/mdc-list";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";

.mdc-deprecated-list:not(.nav-list) {
    border: 1px dashed;
    border-color: var(--divider-dashed-color);
    border-radius: var(--table-list-border-radius);

    li {
        margin: 0;
    }

    .mdc-deprecated-list-divider {
        border: none;
        border-top: 1px dashed;
        border-color: var(--divider-dashed-color);
    }
}


// 效果似乎是与原有__ripple叠加🤔
// hover与press的透明度在点击的时候是叠加的，所以可以一致
.mdc-deprecated-list-item {
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$surface-block-ripple, "light"));
    @include ripple.states-opacities((hover: .08, focus: .08, press: .08));
    padding: 0.5rem 1rem;
    height: fit-content;
}

.dark .mdc-deprecated-list-item {
    @include ripple.states-base-color(map.get(base.$surface-block-ripple, "dark"));
}

.mdc-deprecated-list-item__first {
    border-top-left-radius: calc(var(--table-list-border-radius) - 1px);
    border-top-right-radius: calc(var(--table-list-border-radius) - 1px);
}

.mdc-deprecated-list-item__last {
    border-bottom-left-radius: calc(var(--table-list-border-radius) - 1px);
    border-bottom-right-radius: calc(var(--table-list-border-radius) - 1px);
}

.mdc-deprecated-list--one-line .mdc-deprecated-list-item {
    padding: 0.75rem 1rem;
    height: fit-content;
}

.mdc-deprecated-list--two-line .mdc-deprecated-list-item {
    height: fit-content;
}

.mdc-deprecated-list-item__darken {
    background-color: var(--surface-block-bg);
}

.mdc-deprecated-list-item__text {
    text-align: left;
    white-space: normal;
}

.list-item__primary-text {
    text-align: left;
}

.list-item__secondary-text {
    color: var(--list-secondary-ink);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    font-weight: 300;
    text-align: left;
}