@use "../style/global" as base;
@use "@material/list";
@use "@material/list/mdc-list";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";

.mdc-deprecated-list:not(.nav-list) {
    border: 1px solid var(--list-divider-color);
    border-radius: var(--table-list-border-radius);

    li {
        margin: 0;
    }

    .mdc-deprecated-list-divider {
        border: none;
        border-top: var(--list-divider-height) solid var(--list-divider-color);
    }
}


// 效果似乎是与原有 __ripple 叠加🤔
// hover 与 press 的透明度在点击的时候是叠加的，所以可以一致
.mdc-deprecated-list-item {
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$list-ripple, "light"));
    @include ripple.states-opacities((hover: .06, focus: .06, press: .06));
    padding: 0.6rem 1rem;
    height: fit-content;
}

.mdc-deprecated-list-item.mdc-deprecated-list-item__no-hover {
    @include ripple.states-opacities((hover: 0, focus: 0, press: .06));
}

.dark .mdc-deprecated-list-item {
    @include ripple.states-base-color(map.get(base.$list-ripple, "dark"));
}

.mdc-deprecated-list-item:before, .mdc-deprecated-list-item:after {
    top: 0;
    left: 0;
    width: 0rem;
    height: 0rem;
}

.list-first {
    border-top-left-radius: calc(var(--table-list-border-radius) - 1px);
    border-top-right-radius: calc(var(--table-list-border-radius) - 1px);
}

.list-last {
    border-bottom-left-radius: calc(var(--table-list-border-radius) - 1px);
    border-bottom-right-radius: calc(var(--table-list-border-radius) - 1px);
}

.mdc-deprecated-list--one-line .mdc-deprecated-list-item {
    padding: 1rem 1rem;
    height: fit-content;
}

.mdc-deprecated-list--two-line .mdc-deprecated-list-item {
    height: fit-content;
}

.mdc-deprecated-list-item__darken {
    background-color: var(--list-bg);
}

.mdc-deprecated-list-item__text {
    text-align: left;
    white-space: normal;
}

.list-item__primary-text {
    text-align: left;
}

.list-item__secondary-text {
    color: var(--list-secondary-ink);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    line-height: calc(var(--mdc-typography-body1-line-height) - 0.3rem);
    font-weight: var(--font-weight-light);
    text-align: left;
}