@use "../style/global" as base;
@use "./text" as text;
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/ripple";
@use "sass:map";

@mixin btnChipRipple {
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$chip-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
    .dark & {
        @include ripple.states-base-color(map.get(base.$chip-ripple, "dark"));
        @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
    }
}

@mixin btnChipRippleReverse {
   overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$chip-ripple, "dark"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
    .dark & {
        @include ripple.states-base-color(map.get(base.$chip-ripple, "light"));
        @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
    }
}

$btnTagSideRadius: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
$btnTagRadius: 0.2rem;
$btnTagSidePaddingHorizontal: 0.8rem;
$btnTagPaddingHorizontal: 0.8rem;

.mdc-button.btn-tag {
    @include button.ink-color(var(--chip-ink));
    @include button.container-fill-color(var(--chip-bg));
    @include button.horizontal-padding($btnTagPaddingHorizontal);
    @include button.height(2.3rem);
    min-width: 3.6rem;
    text-transform: none;
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    margin: 0;
    border-radius: $btnTagRadius;
    &:not(.btn-tag-checkable) {
        @include btnChipRipple();
    }

    transition: border-radius 0.2s ease, background-color 0.2s ease, color 0.2s ease;

    // @include text.notoSerifText();
}

.mdc-button.btn-tag.btn-tag-checked {
    @include button.ink-color(var(--list-chip-3-ink));
    @include button.container-fill-color(var(--list-chip-3-bg));
    border-radius: calc($btnTagSideRadius / 2);
}

.btn-tag-container-no-material {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.2rem;
    margin: 3rem 0rem 0.3rem 0rem;
    
    .mdc-button.btn-tag {
        @include button.horizontal-padding($btnTagSidePaddingHorizontal);
        border-radius: calc(var(--mdc-typography-body1-font-size) - 0.6rem);
    }
}

.btn-tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: var(--list-divider-height);
    margin: 1.5rem 0rem;

    .btn-tag:first-child {
        border-top-left-radius: $btnTagSideRadius;
        border-bottom-left-radius: $btnTagSideRadius;
        padding-left: $btnTagSidePaddingHorizontal;
    }
    
    .btn-tag:last-child {
        border-top-right-radius: $btnTagSideRadius;
        border-bottom-right-radius: $btnTagSideRadius;
        padding-right: $btnTagSidePaddingHorizontal;
    }
}

.tag-container {
    font-weight: var(--font-weight-normal);
    text-align: center;
    margin-bottom: 1.6rem;
}

@mixin tag-link-underline {
    text-decoration: none;
    box-shadow: inset 0 -8px 0 0 var(--tag-underline-color);
    transition: box-shadow 0.2s ease;
    
    &:hover {
        box-shadow: inset 0 0 0 0 var(--tag-underline-color);
    }
}

a.tag-link {
    font-weight: inherit;
    color: var(--mdc-theme-on-surface);
    line-height: var(--mdc-typography-body1-line-height);
    letter-spacing: var(--mdc-typography-body1-letter-spacing);
    @include tag-link-underline;
    white-space: pre;
}

.emoji-tag {
    width: 6.5rem;
    height: 6.5rem;
}