@use "../style/global" as base;
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/ripple";
@use "sass:map";

@mixin btnChipRipple {
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$chip-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
}

@mixin btnChipRippleDark {
    @include ripple.states-base-color(map.get(base.$chip-ripple, "dark"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
}

.mdc-button.btn-tag {
    @include button.ink-color(var(--chip-ink));
    @include button.container-fill-color(var(--chip-bg));
    @include button.horizontal-padding(0.8rem);
    @include button.height(2.2rem);
    text-transform: none;
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    font-weight: 300;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    @include btnChipRipple();
}

.dark .mdc-button.btn-tag {
    @include btnChipRippleDark();
}

a.tag-link {
    color: var(--mdc-theme-on-surface);
    line-height: var(--mdc-typography-body1-line-height);
    letter-spacing: var(--mdc-typography-body1-letter-spacing);
    box-shadow: inset 0 -8px 0 0 var(--tag-underline-color);
    text-decoration: none;
    white-space: pre;
    transition: box-shadow 0.2s ease;
}

a.tag-link:hover {
    box-shadow: inset 0 0 0 0 var(--tag-underline-color);
    text-decoration: none;
}
