@use "../base/theme" as blogTheme;
@use "@material/typography";
@use "@material/typography/mdc-typography";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/ripple";
@use "sass:map";

.mdc-button.btn-tag {
    @include button.ink-color(var(--chip-ink));
    @include button.container-fill-color(var(--chip-bg));
    @include button.horizontal-padding(0.7rem);
    @include button.height(2rem);
    text-transform: none;
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 0.5rem;
    border-radius: 1.3rem;
}

.mdc-button.btn-tag .mdc-button__ripple {
    @include ripple.states(map.get(blogTheme.$chip-ripple, "light"), false);
}

.dark .mdc-button.btn-tag .mdc-button__ripple {
    @include ripple.states(map.get(blogTheme.$chip-ripple, "dark"), false);
}

a.tag-link {
    @include typography.typography(body1);
    color: var(--mdc-theme-on-surface);
    box-shadow: inset 0 -8px 0 0 var(--strong-underline-color);
    text-decoration: none;
    white-space: pre;
}

a.tag-link:hover {
    box-shadow: none;
    text-decoration: none;
}
