@use "theme" as blogTheme;
@use "@material/typography";
@use "@material/typography/mdc-typography";
@use "@material/theme";
@use "@material/theme/mdc-theme";

@mixin basicText {
    // 使用mdc的字体样式
    @include typography.typography(body1);
    color: var(--mdc-theme-on-surface);
    // 段落间距
    margin: calc(var(--mdc-typography-body1-font-size) - 0.5rem) 0;
}

body * {
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include theme.property(color, text-primary-on-background);
}

h1 {
    @include typography.typography(headline1);
}

h2 {
    @include typography.typography(headline2);
}

h2::before {
    content: "# ";
    // 相对尺寸
    font-size: 0.9em;
    color: var(--mdc-theme-on-surface-secondary);
}

h2.h2-mini {
    @include typography.typography(headline3);
    margin: calc(var(--mdc-typography-body1-font-size) - 0.2rem) 0;
}

h3 {
    @include typography.typography(headline3);
}

h3::before {
    content: "## ";
    // 相对尺寸
    font-size: 0.9em;
    color: var(--mdc-theme-on-surface-secondary);
}

p {
    @include basicText();
    text-align: justify;
    line-break: loose;
}

/* 段落中单词高亮 */
code:not(pre code) {
    @include typography.typography(body1);
    padding: .02rem .2rem .08rem .2rem;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    border-radius: 0.3rem;
    line-break: loose;

    background: var(--code-highlight-bg);
    border: 1px solid var(--code-highlight-border);
}

.font-noto-serif-sc code:not(pre code) {
    padding: 0rem .2rem .05rem .2rem;
}

em code {
    padding-left: 0.2rem;
    padding-right: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

pre {
    overflow: scroll;
}

p.no-justify {
    text-align: left;
}

li {
    @include basicText();
    // item间距
    margin: calc(var(--mdc-typography-body1-font-size) / 10) 0;
}

// 斜体，一般用于图片说明
em {
    color: var(--em-color);
}

strong,
b {
    // 霞鹜文楷粗体只提供medium
    font-weight: 500;
}

// 加粗强调，一般用于句子
strong {
    color: var(--strong-color);
    box-shadow: inset 0 calc(var(--mdc-typography-body1-font-size) / 2 * -1) 0 0 var(--strong-underline-color);
}

.no-shadow {
    box-shadow: none;
}

.em-color {
    color: var(--em-color);
}

.font-handwritten strong {
    font-weight: normal;
}

a {
    // 以::after伪元素方式实现下划线
    position: relative;
    text-decoration: underline;
    // 下划线与文字的间距
    text-underline-offset: 0.25rem;
    // 去除移动版Chrome点击时默认的蓝色背景
    -webkit-tap-highlight-color: transparent;
    color: unset;
    line-break: loose;
}

.font-noto-serif-sc a {
    text-underline-offset: 0.2rem;
}

.font-english-baskerville a {
    text-underline-offset: 0.1rem;
}

// a::after {
//     content: "";
//     position: absolute;
//     /* 下划线距离文本底部2px */
//     bottom: -2px;
//     left: 0;
//     right: 0;
//     /* 下划线高度 */
//     height: 1px;
//     /* 下划线样式 */
//     border-bottom: 1px solid;
// }

a.clickable-empty-link {
    // url为空的<a>
    cursor: pointer;
}

// a:hover {
//     text-decoration: none;
// }

/* 无序列表 */
ul {
    padding-left: 2rem;
    padding-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* 实心圆 */
    list-style-type: disc;
}

/* 有序列表 */
ol {
    padding-left: 2rem;
    padding-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* 数字 */
    list-style-type: decimal;
}

address {
    font-style: normal;
}

// 引用段落
blockquote {
    margin: 0.65rem 0;
    padding: 0 0 0 1rem;
    border-left: 0.3rem solid var(--blockquote-border);
}

// 引用段落中的<p>
blockquote p {
    margin: 0;
}

audio {
    width: auto;
}

// 横向滑动，不换行
.pre {
    overflow-x: auto;
}

// 手写诗文，保持原有排版，横向滚动
// 此时，如果是blockquote，注意不要行尾加双空格，jekyll会处理成以下格式，导致行1和行2之间多了一行
// <p>行1
// <br/>
// 行2</p>
// jekyll会把 > 转换为以下格式，这里只给p加white-space: pre，如果blockquote加了，则上下会多一行
// <blockquote>
// <p>文本</p>
// </blockquote>
.pre * {
    white-space: pre;
}

// 局部字体
.font-english-baskerville,
.font-english-baskerville * {
    font-family: blogTheme.$text-font-libre-baskerville;
}

.font-handwritten-index {
    font-family: blogTheme.$handwritten-font-index !important;
}

// 全局字体
.font-handwritten,
.font-handwritten :not(button, i, pre code, pre code *,
    .font-no-change, .font-no-change *) {
    font-family: blogTheme.$handwritten-font;
}

.font-handwritten {
    --mdc-typography-body1-font-size: 1.05rem;
}

.font-handwritten .english,
.font-handwritten .english * {
    font-size: calc(var(--mdc-typography-body1-font-size) + 0.2rem);
}

.font-handwritten .material-symbols-rounded-thin:not(.index-pin-icon) {
    font-weight: 400;
}

.font-noto-serif-sc,
.font-noto-serif-sc :not(button, i, pre code, pre code *,
    .font-english-baskerville, .font-english-baskerville *,
    .font-handwritten, .font-handwritten *,
    .font-no-change, .font-no-change *) {
    font-family: blogTheme.$text-font-noto-serif;
    --mdc-typography-body1-line-height: calc(var(--mdc-typography-body1-font-size) + 0.8rem);
}

.font-xlwk,
.font-xlwk :not(button, i, pre code, pre code *, .font-handwritten-index, .font-handwritten, .font-handwritten *) {
    font-family: blogTheme.$text-font-xlwk;
}

.one-line {
    /* 不换行 */
    white-space: nowrap;
    /* 超出部分隐藏 */
    overflow: hidden;
    /* 文字超出部分显示省略号 */
    text-overflow: ellipsis;
}