@use "../style/global" as base;
@use "@material/typography";
@use "@material/typography/mdc-typography";
@use "@material/theme";
@use "@material/theme/mdc-theme";

@mixin basicText {
    // 使用mdc的字体样式
    @include typography.typography(body1);
    color: var(--mdc-theme-on-surface);
    // 段落间距
    margin: calc(var(--mdc-typography-body1-font-size) - 0.5rem) 0;
}

body * {
    -webkit-text-size-adjust: 100%;
    // 如果不设置这个，部分字体如 Inter 在 Safari 上下划线不会被字体线条隔断
    font-variation-settings: "opsz" 14;
    font-optical-sizing: auto;
    // 启用 OpenType 的 Ligature 连字功能
    font-variant-ligatures: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include theme.property(color, text-primary-on-background);
}

h1 {
    @include typography.typography(headline1);
}

h2 {
    @include typography.typography(headline2);
    font-size: calc(var(--mdc-typography-body1-font-size) + 0.5rem);
}

h2::before {
    content: "# ";
    // 相对尺寸
    font-size: 0.9em;
    color: var(--mdc-theme-on-surface-secondary);
}

h2.h2-mini {
    @include typography.typography(headline3);
    margin: calc(var(--mdc-typography-body1-font-size) - 0.2rem) 0;
}

h3 {
    @include typography.typography(headline3);
    font-size: calc(var(--mdc-typography-body1-font-size) + 0.3rem);
}

h3::before {
    content: "## ";
    // 相对尺寸
    font-size: 0.9em;
    color: var(--mdc-theme-on-surface-secondary);
}

p {
    @include basicText();
    text-align: justify;
    line-break: normal;
}

code {
    @include basicText();
    font-family: var(--text-code-font-family);
    // 段落中的代码块字重与段落字体匹配
    font-weight: var(--text-code-font-weight);
    margin: 0;
}

// 代码块
pre code,
pre code.hljs {
    display: block;
    overflow-x: scroll;
    line-height: calc(var(--mdc-typography-body1-font-size) + 0.5rem);
    // 独立代码块字重为 normal
    font-weight: base.$font-weight-normal-default;
    border-radius: var(--post-inner-shape-round);
    padding: 1rem;
    background: var(--pre-code-bg);
    // border: 2px solid var(--pre-code-border);
}

/* 段落中单词高亮 */
code:not(pre code) {
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    padding: 0.1rem .3rem .18rem .3rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-radius: 0.3rem;

    // 允许在任意位置换行，防止长单词撑破布局
    line-break: anywhere;

    background: var(--code-highlight-bg);
    color: var(--code-highlight-ink);
    // border: 1px solid var(--code-highlight-border);
}

// 思源宋体段落中的代码块
.font-noto-serif-sc {
    code:not(pre code) {
        --text-code-font-family: #{base.$text-font-noto-serif-code};
        // 英文字体比宋体粗很多，需要单独设置更细
        --text-code-font-weight: #{base.$font-weight-normal-noto-serif-code};
    }

    // 使用细字重的组件中，单独设置代码字重
    blockquote code:not(pre code),
    .surface-block code:not(pre code) {
        --text-code-font-weight: #{base.$font-weight-light-noto-serif-code};
    }
}

em code {
    padding-left: 0.2rem;
    padding-right: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

pre {
    margin: calc(var(--mdc-typography-body1-font-size) - 0.5rem) 0;
    overflow: scroll;
}

p.no-justify {
    text-align: left;
}

li {
    @include basicText();
    // item间距
    margin: calc(var(--mdc-typography-body1-font-size) / 10) 0;
}

// 斜体，一般用于图片说明
em {
    color: var(--em-color);
}

strong,
b {
    // 霞鹜文楷粗体只提供medium
    font-weight: var(--font-weight-medium);
}

// 加粗强调，一般用于句子
strong {
    color: var(--strong-color);
    box-shadow: inset 0 calc(var(--mdc-typography-body1-font-size) / 2 * -1) 0 0 var(--strong-underline-color);
}

.no-shadow {
    box-shadow: none;
}

.em-color {
    color: var(--em-color);
}

a {
    // 以::after伪元素方式实现下划线
    position: relative;
    text-decoration: underline;
    // 下划线与文字的间距
    text-underline-offset: 0.15rem;
    // 下划线粗细
    text-decoration-thickness: 1px;
    // 去除移动版Chrome点击时默认的蓝色背景
    -webkit-tap-highlight-color: transparent;
    color: inherit;
}

a.clickable-empty-link {
    // url为空的<a>
    cursor: pointer;
}

// a:hover {
//     text-decoration: none;
// }

/* 无序列表 */
ul {
    padding-left: 2rem;
    padding-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* 实心圆 */
    list-style-type: disc;
}

/* 有序列表 */
ol {
    padding-left: 2rem;
    padding-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* 数字 */
    list-style-type: decimal;
}

address {
    font-style: normal;
}

address,
time {
    @include basicText();
    margin: 0;
}

@mixin block-text {
    // 颜色减淡，字体减小
    --mdc-theme-on-surface: var(--mdc-theme-on-surface-secondary);
    --mdc-typography-body1-font-size: calc(var(--text-font-size-base) - 0.05rem);
    --mdc-typography-body1-line-height: calc(var(--mdc-typography-body1-font-size) + 0.75rem);

    // --mdc-typography-body1-font-weight: var(--font-weight-light);
    // 当组件字重为 light 时，设置其中的代码、加粗字重为合适的值
    // --text-code-font-weight: var(--font-weight-light);
    // strong,
    // b {
    //     --mdc-typography-body1-font-weight: var(--font-weight-normal);
    // }

}

// 引用段落
blockquote {
    margin: 0.65rem 0;
    padding: 0 1.3rem 0 1rem;
    border-left: 0.3rem solid var(--blockquote-border);
    border-radius: 0.2rem;
    @include block-text();

    p {
        margin: 0;
    }
}

audio {
    width: auto;
}

// 横向滑动，不换行
.pre {
    overflow-x: auto;
}

// 手写诗文，保持原有排版，横向滚动
// 此时，如果是blockquote，注意不要行尾加双空格，jekyll会处理成以下格式，导致行1和行2之间多了一行
// <p>行1
// <br/>
// 行2</p>
// jekyll会把 > 转换为以下格式，这里只给p加white-space: pre，如果blockquote加了，则上下会多一行
// <blockquote>
// <p>文本</p>
// </blockquote>
.pre * {
    white-space: pre;
}

// 局部字体
.font-handwritten {
    --mdc-typography-font-family: #{base.$text-font-handwritten};
    --font-weight-light: #{base.$font-weight-light-default};
    --font-weight-normal: #{base.$font-weight-normal-default};
    --font-weight-medium: #{base.$font-weight-medium-default};
    --mdc-typography-body1-font-size: 1.2rem;
    --mdc-typography-body1-font-weight: var(--font-weight-normal);

    padding-bottom: 0.1rem;
}

// 全局字体
.font-noto-serif-sc {
    // 更改全局变量
    --mdc-typography-font-family: #{base.$text-font-noto-serif};
    --font-weight-light: #{base.$font-weight-light-noto-serif};
    --font-weight-normal: #{base.$font-weight-normal-noto-serif};
    --font-weight-medium: #{base.$font-weight-medium-noto-serif};
    --mdc-typography-body1-font-weight: var(--font-weight-normal);
    --mdc-typography-subtitle2-font-weight: 510;
}

// 局部字体
.font-wenkai {
    --mdc-typography-font-family: #{base.$text-font-wenkai};
    --font-weight-light: #{base.$font-weight-light-default};
    --font-weight-normal: #{base.$font-weight-normal-default};
    --font-weight-medium: #{base.$font-weight-medium-default};
    --mdc-typography-body1-font-size: calc(var(--text-font-size-base) + 0.02rem);
    --mdc-typography-body1-font-weight: var(--font-weight-normal);
}

.one-line {
    /* 不换行 */
    white-space: nowrap;
    /* 超出部分隐藏 */
    overflow: hidden;
    /* 文字超出部分显示省略号 */
    text-overflow: ellipsis;
}

// 设置一些长文本可在任意位置换行，优化排版
.break-anywhere {
    line-break: anywhere;
}