@use "../style/global" as base;
// 先引入mdc的theme，然后用自定义变量覆盖其原有配置
@use "@material/theme";
@use "@material/theme/mdc-theme";
@use "@material/typography";
@use "@material/typography/mdc-typography";
@use "sass:map";
@use "sass:color";

@mixin light {
        --mdc-theme-primary: #{map.get(base.$top-bar, "bg-light")};
        --mdc-theme-on-primary: #{map.get(base.$top-bar-ink, "light")};
        --mdc-theme-secondary: #{map.get(base.$fab-bg, "light")};
        --mdc-theme-on-secondary: #{map.get(base.$fab-ink, "light")};
        --mdc-theme-background: #{map.get(base.$background, "light")};
        --mdc-theme-surface: #{map.get(base.$surface, "light")};
        // 默认字体颜色，段落p
        --mdc-theme-on-surface: #{map.get(base.$text-content, "light")};
        --mdc-theme-on-surface-secondary: #{map.get(base.$text-content-secondary, "light")};
        // 标题字体色
        --mdc-theme-text-primary-on-background: #{map.get(base.$text-title, "light")};
        // 小标题字体色
        --mdc-theme-text-secondary-on-background: #{map.get(base.$text-subtitle, "light")};

        --top-bar-blur: #{map.get(base.$top-bar, "bg-blur-light")};
        --footer-ink:#{map.get(base.$footer-ink, "light")};

        // Drawer
        --drawer-scrim-bg: #{map.get(base.$scrim, "color")};

        // Dialog
        --dialog-scrim-bg: #{map.get(base.$scrim, "color")};
        --dialog-action-btn-bg: #{map.get(base.$dialog-action-btn-bg, "light")};
        --dialog-action-btn-ink: #{map.get(base.$dialog-action-btn-ink, "light")};

        // Button
        --button-bg: #{map.get(base.$button-bg, "light")};
        --button-ink: #{map.get(base.$button-ink, "light")};
        --navigation: #{map.get(base.$text-subtitle, "light")};

        // Code
        --code-highlight-bg: #{map.get(base.$code-highlight-bg, "light")};
        --code-highlight-border: #{map.get(base.$code-highlight-border, "light")};
        --code-highlight-ink: #{map.get(base.$code-highlight-ink, "light")};
        // --pre-code-bg: #151515;
        --pre-code-bg: #{map.get(base.$pre-code-bg, "light")};
        --pre-code-border: #{map.get(base.$pre-code-border, "light")};

        // Chip
        --chip-bg: #{map.get(base.$chip-bg, "light")};
        --chip-ink: #{map.get(base.$chip-ink, "light")};
        --list-chip-1-bg: #{map.get(base.$text-block-1-bg, "light")};
        --list-chip-1-ink: #{map.get(base.$text-block-1-ink, "light")};
        --list-chip-2-bg: #{map.get(base.$text-block-2-bg, "light")};
        --list-chip-2-ink: #{map.get(base.$text-block-2-ink, "light")};
        --list-chip-3-bg: #{map.get(base.$text-block-3-bg, "light")};
        --list-chip-3-ink: #{map.get(base.$text-block-3-ink, "light")};
        --list-secondary-ink: #{map.get(base.$text-content-secondary, "light")};

        --index-list-pin-icon-bg: #{map.get(base.$index-list-pin-icon-bg, "light")};

        --em-color: #{map.get(base.$text-content-secondary, "light")};
        --strong-color: #{map.get(base.$strong, "light")};
        --strong-underline-color: #{map.get(base.$strong-under-line, "light")};
        --tag-underline-color: #{map.get(base.$strong-under-line, "light")};
        --blockquote-border: #{map.get(base.$blockquote-border, "light")};
        
        --surface-block-border: #{map.get(base.$surface-block-border, "light")};
        --surface-block-bg: #{map.get(base.$surface-block-bg, "light")};
        --surface-block-ink-strong: #{map.get(base.$surface-block-ink-strong, "light")};

        --list-border: #{map.get(base.$list-border, "light")};
        --list-bg: #{map.get(base.$list-bg, "light")};
        --list-ink-strong: #{map.get(base.$list-ink-strong, "light")};
        --list-divider-color: #{map.get(base.$list-border, "light")};
        --list-divider-dashed-color: #{map.get(base.$list-border-dashed, "light")};

        --textfield-border: #{map.get(base.$textfield-border, "light")};
        --common-divider-color: #{map.get(base.$common-divider-color, "light")};

        --snackbar-bg: #{map.get(base.$snackbar-bg, "light")};
        --snackbar-ink: #{map.get(base.$snackbar-ink, "light")};
}

@mixin dark {
        --mdc-theme-primary: #{map.get(base.$top-bar, "bg-dark")};
        --mdc-theme-on-primary: #{map.get(base.$top-bar-ink, "dark")};
        --mdc-theme-secondary: #{map.get(base.$fab-bg, "dark")};
        --mdc-theme-on-secondary: #{map.get(base.$fab-ink, "dark")};
        --mdc-theme-background: #{map.get(base.$background, "dark")};
        --mdc-theme-surface: #{map.get(base.$surface, "dark")};
        --mdc-theme-on-surface: #{map.get(base.$text-content, "dark")};
        --mdc-theme-on-surface-secondary: #{map.get(base.$text-content-secondary, "dark")};
        --mdc-theme-text-primary-on-background: #{map.get(base.$text-title, "dark")};
        --mdc-theme-text-secondary-on-background: #{map.get(base.$text-subtitle, "dark")};

        --top-bar-blur: #{map.get(base.$top-bar, "bg-blur-dark")};
        --footer-ink:#{map.get(base.$footer-ink, "dark")};

        // Drawer
        --dialog-action-btn-bg: #{map.get(base.$dialog-action-btn-bg, "dark")};
        --dialog-action-btn-ink: #{map.get(base.$dialog-action-btn-ink, "dark")};

        --button-bg: #{map.get(base.$button-bg, "dark")};
        --button-ink: #{map.get(base.$button-ink, "dark")};
        --navigation: #{map.get(base.$text-subtitle, "dark")};

        // Code
        --code-highlight-bg: #{map.get(base.$code-highlight-bg, "dark")};
        --code-highlight-border: #{map.get(base.$code-highlight-border, "dark")};
        --code-highlight-ink: #{map.get(base.$code-highlight-ink, "dark")};
        --pre-code-bg: #{map.get(base.$pre-code-bg, "dark")};
        --pre-code-border: #{map.get(base.$pre-code-border, "dark")};

        // Chip
        --chip-bg: #{map.get(base.$chip-bg, "dark")};
        --chip-ink: #{map.get(base.$chip-ink, "dark")};
        --list-chip-1-bg: #{map.get(base.$text-block-1-bg, "dark")};
        --list-chip-1-ink: #{map.get(base.$text-block-1-ink, "dark")};
        --list-chip-2-bg: #{map.get(base.$text-block-2-bg, "dark")};
        --list-chip-2-ink: #{map.get(base.$text-block-2-ink, "dark")};
        --list-chip-3-bg: #{map.get(base.$text-block-3-bg, "dark")};
        --list-chip-3-ink: #{map.get(base.$text-block-3-ink, "dark")};
        --list-secondary-ink: #{map.get(base.$text-content-secondary, "dark")};

        --index-list-pin-icon-bg: #{map.get(base.$index-list-pin-icon-bg, "dark")};

        --em-color: #{map.get(base.$text-content-secondary, "dark")};
        --strong-color: #{map.get(base.$strong, "dark")};
        --strong-underline-color: #{map.get(base.$strong-under-line, "dark")};
        --tag-underline-color: #{map.get(base.$strong-under-line, "dark")};
        --blockquote-border: #{map.get(base.$blockquote-border, "dark")};
        
        --surface-block-border: #{map.get(base.$surface-block-border, "dark")};
        --surface-block-bg: #{map.get(base.$surface-block-bg, "dark")};
        --surface-block-ink-strong: #{map.get(base.$surface-block-ink-strong, "dark")};

        --list-border: #{map.get(base.$list-border, "dark")};
        --list-bg: #{map.get(base.$list-bg, "dark")};
        --list-ink-strong: #{map.get(base.$list-ink-strong, "dark")};
        --list-divider-color: #{map.get(base.$list-border, "dark")};
        --list-divider-dashed-color: #{map.get(base.$list-border-dashed, "dark")};

        --textfield-border: #{map.get(base.$textfield-border, "dark")};
        --common-divider-color: #{map.get(base.$common-divider-color, "dark")};

        --snackbar-bg: #{map.get(base.$snackbar-bg, "dark")};
        --snackbar-ink: #{map.get(base.$snackbar-ink, "dark")};
}

body {
        // 默认字体是思源黑体
        --mdc-typography-font-family: #{base.$text-font-noto-sans};
        // 该字体对应的 font-weight 级别
        --font-weight-light: #{base.$font-weight-light-noto-sans};
        --font-weight-normal: #{base.$font-weight-normal-noto-sans};
        --font-weight-medium: #{base.$font-weight-medium-noto-sans};

        --mdc-typography-body1-font-size: #{base.$text-font-base};
        --mdc-typography-body1-line-height: #{base.$text-line-height-base};
        // Chrome 设置 letter-spacing 为非 normal 会导致 OpenType 字体的连字功能失效
        --mdc-typography-body1-letter-spacing: normal;
        --mdc-typography-body1-font-weight: var(--font-weight-normal);

        --mdc-typography-body2-letter-spacing: normal;

        // 代码字体
        --text-code-font-family: #{base.$text-font-code-block};
        // 代码字重，注意段落中的代码块字重，有时候同样字重的中英文字体显示并不一致，需要单独设置
        --text-code-font-weight: var(--font-weight-normal);

        --mdc-typography-subtitle1-font-size: var(--mdc-typography-body1-font-size);
        --mdc-typography-subtitle1-font-weight: var(--mdc-typography-body1-font-weight);

        // Drawer 中的 section title
        --mdc-typography-subtitle2-font-weight: var(--font-weight-normal);

        --mdc-text-button-label-text-size: calc(var(--mdc-typography-body1-font-size) - 0.12rem);
        --mdc-text-button-label-text-weight: var(--mdc-typography-body1-font-weight);

        --mdc-typography-headline1-font-size: calc(var(--mdc-typography-body1-font-size) + 0.6rem);
        --mdc-typography-headline1-font-weight: var(--mdc-typography-body1-font-weight);
        --mdc-typography-headline1-letter-spacing: normal;

        --mdc-typography-headline2-font-size: calc(var(--mdc-typography-body1-font-size) + 0.6rem);
        --mdc-typography-headline2-line-height: calc(var(--mdc-typography-body1-font-size) + 1.2rem);
        --mdc-typography-headline2-font-weight: var(--mdc-typography-body1-font-weight);
        --mdc-typography-headline2-letter-spacing: normal;

        --mdc-typography-headline3-font-size: calc(var(--mdc-typography-body1-font-size) + 0.5rem);
        --mdc-typography-headline3-line-height: calc(var(--mdc-typography-body1-font-size) + 1rem);
        --mdc-typography-headline3-font-weight: var(--mdc-typography-body1-font-weight);
        --mdc-typography-headline3-letter-spacing: normal;

        --mdc-typography-headline4-letter-spacing: normal;
        --mdc-typography-headline5-letter-spacing: normal;
        
        --mdc-typography-headline6-font-size: calc(var(--mdc-typography-body1-font-size) + 0.25rem);
        --mdc-typography-headline6-font-weight: var(--mdc-typography-body1-font-weight);
        --mdc-typography-headline6-letter-spacing: normal;

        --mdc-typography-button-letter-spacing: normal;

        // drawer list 圆角
        --mdc-shape-small: 0.5rem;
        // card, dialog 圆角
        --mdc-shape-medium: 0.8rem;
        // 文章内元素圆角，code block 和 description
        --post-inner-shape-round: 1rem;
        // 列表圆角
        --table-list-border-radius: 1rem;

        --list-divider-height: 0.18rem;


        --drawer-padding-horizontal: 0.55rem;

        --top-bar-height: 3.7rem;
        --main-container-padding-vertical: 1.2rem;

        --dialog-animation-duration: 0.4s;
        --dialog-animation-translate-y: 10rem;
        --image-height-animation-duration: 0.8s;
        --index-card-animation-duration: 0.4s;
        --index-card-animation-translate-y: 2rem;
        --content-card-animation-duration: 0.8s;
        --content-card-animation-translate-y: 18rem;

        @include light;
}

.dark {
        @include dark;
}

// 小屏
@media all and (max-width: base.$screen-middle-min-width) {
        body {
                --image-height-animation-duration: 0.6s;
                --content-card-animation-duration: 0.6s;
                --content-card-animation-translate-y: 12rem;

                --drawer-padding-horizontal: 0.2rem;

                --main-container-padding-vertical: 0.8rem;

                --mdc-shape-medium: 0.6rem;

                --list-divider-height: 0.16rem;
        }
}

// 平板中屏
@media all and (min-width: (base.$screen-middle-min-width + 1px)) and (max-width: (base.$screen-middle-max-width - 1px)) {
        body {
                --image-height-animation-duration: 0.6s;
                --content-card-animation-duration: 0.6s;
                --content-card-animation-translate-y: 16rem;
        }

}