// 霞鹜文楷GB
$text-font: unquote("PingFangSCEllipsis, LXGW WenKai GB, PingFang SC, Roboto, sans-serif, Apple Color Emoji, Noto Color Emoji");
// 兰亭题序国风行楷
$handwritten-font: "AaLTTXGFXK", "LXGW WenKai GB", "PingFang SC", Roboto, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
// 索引页的许静行楷
$handwritten-font-index: "HYXuJingXingKaiW", "LXGW WenKai GB", "PingFang SC", Roboto, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
$code-block-font: "LXGW WenKai Mono GB", "LXGW WenKai GB", "PingFang SC", Roboto, sans-serif, "Apple Color Emoji", "Noto Color Emoji";

// 先引入mdc的theme，然后用自定义变量覆盖其原有配置
@use "@material/theme";
@use "@material/theme/mdc-theme";
@use "@material/typography" with ($font-family: $text-font);
@use "@material/typography/mdc-typography";
@use "sass:map";
@use "sass:color";

$screen-middle-min-width: 600px;
$screen-middle-max-width: 880px;
$center-card-max-width: 880px;

// 主色，top-bar背景色
// blur是待透明度的相同颜色
// shadow是阴影颜色
$top-bar: (
        bg-light: #c77d70,
        bg-blur-light: rgba(163, 37, 12, 0.6),
        bg-shadow-light: #a46053,
        bg-dark: #9f5d50,
        bg-blur-dark: rgba(255, 145, 122, 0.6),
        bg-shadow-dark: #a46053,
);

$button: (
        bg-light: #555555,
        bg-ripple-light: rgb(186, 186, 186),
        ink-light: #f5f5f5,
        bg-dark: #212121,
        bg-ripple-dark: rgb(105, 105, 105),
        ink-dark: #e0e0e0,
);

// 黑白配色
// $top-bar: (
//         bg-light: #fefefe,
//         bg-blur-light: rgba(255, 255, 255, 0.8),
//         bg-shadow-light: #e3e3e3,
//         bg-dark: #181818,
//         bg-blur-dark: rgba(25, 25, 25, 0.8),
//         bg-shadow-dark: #0a0a0a,
// );

// 黑配色
// $top-bar: (
//         bg-light: #464646,
//         bg-blur-light: rgba(25, 25, 25, 0.8),
//         bg-shadow-light: #0a0a0a,
//         bg-dark: #181818,
//         bg-blur-dark: rgba(25, 25, 25, 0.8),
//         bg-shadow-dark: #0a0a0a,
// );

$fab: (
        bg-light: #353535,
        bg-blur-light: rgba(0, 0, 0, 0.6),
        bg-dark: #303030,
        bg-blur-dark: rgba(48, 48, 48, 0.5)
);

$footer-ink-color: white;
$footer-link-color: #ffe0b2;
$background: (
        light: #f9f9f9,
        dark: #111111,
);
$surface: (
        light: white,
        dark: #161616,
);

$on-surface: (
        light: #323232,
        dark: #e3e3e3
);

$text-secondary-on-background: (
        light: #757575,
        dark: #959595,
);

$top-bar-elevation: (
        elevation: 2,
        shadow-light: map.get($top-bar, "bg-shadow-light"),
        shadow-dark: map.get($top-bar, "bg-shadow-dark"),
);
$fab-elevation: (
        elevation: 2,
        shadow-light: #2a2a2a,
        shadow-dark: #1a1a1a
);
$drawer-elevation: (
        elevation: 2,
        shadow-light: #d5d5d5,
        shadow-dark: #0a0a0a
);
$card-elevation: (
        elevation: 2,
        shadow-light: #d5d5d5,
        min-screen-shadow-light: #e3e3e3,
        shadow-dark: #0a0a0a,
        min-screen-shadow-dark: #0a0a0a,
);

$chip: (
        bg-light: rgba(240, 240, 240, 0.5),
        ink-light: #656565,
        ripple-light: rgb(180, 180, 180),
        bg-dark: rgba(36, 36, 36, 0.5),
        ink-dark: #aaaaaa,
        ripple-dark: rgb(96, 96, 96),
);

$surface-block: (
        bg-light: white,
        border-light: rgba(188, 188, 188, 0.5),
        ink-strong-light: #80290d,
        bg-dark: rgba(0, 0, 0, 0.1),
        border-dark: rgba(188, 188, 188, 0.4),
        ink-strong-dark: #cc826a,
);


@mixin light {
        --mdc-theme-primary: #{map.get($top-bar, "bg-light")};
        --mdc-theme-on-primary: #f5f5f5;
        --mdc-theme-secondary: #{map.get($fab, "bg-light")};
        --mdc-theme-on-secondary: #f5f5f5;
        --mdc-theme-background: #{map.get($background, "light")};
        --mdc-theme-surface: #{map.get($surface, "light")};
        // 默认字体颜色，段落p
        --mdc-theme-on-surface: #{map.get($on-surface, "light")};
        // 标题字体色
        --mdc-theme-text-primary-on-background: #191919;
        // 小标题字体色
        --mdc-theme-text-secondary-on-background: #{map.get($text-secondary-on-background, "light")};

        --top-bar-blur: #{map.get($top-bar, "bg-blur-light")};
        --fab-blur: #{map.get($fab, "bg-blur-light")};

        // Drawer
        --drawer-ink: black;
        --drawer-scrim-bg: rgba(0, 0, 0, 0);

        // Dialog
        --dialog-scrim-bg: rgba(0, 0, 0, 0);

        // Button
        --button-bg: #{map.get($button, "bg-light")};
        --button-ink: #{map.get($button, "ink-light")};
        --navigation: #{map.get($text-secondary-on-background, "light")};

        // Code
        --code-highlight-bg: #fbfbfb;
        --code-highlight-border: #e8e8e8;
        --pre-code-bg: #15171a;

        // Chip
        --chip-bg: #{map.get($chip, "bg-light")};
        --chip-ink: #{map.get($chip, "ink-light")};
        --list-chip-1-bg: rgba(224, 213, 255, 0.5);
        --list-chip-1-ink: #8167c1;
        --list-chip-1-border: transparent;
        --list-chip-2-bg: rgba(255, 224, 221, 0.5);
        --list-chip-2-ink: #f77575;
        --list-chip-2-border: transparent;
        --list-chip-3-bg: rgba(254, 242, 192, 0.5);
        --list-chip-3-ink: #9a6000;
        --list-chip-3-border: transparent;
        --list-chip-4-bg: rgba(255, 212, 212, 0.5);
        --list-chip-4-ink: #883232;
        --list-chip-4-border: transparent;
        --list-chip-5-bg: rgba(235, 235, 235, 0.5);
        --list-chip-5-ink: #{map.get($on-surface, "light")};
        --list-chip-5-border: transparent;
        --list-secondary-ink: #555555;

        --list-hover: #f5f5f5;

        --link-color: #2b00fe;
        --em-color: #535c68;
        --strong-color: rgba(0, 0, 0, 0.9);
        --strong-underline-color: rgba(255, 119, 74, 0.15);
        --tag-underline-color: rgba(100, 100, 100, 0.15);
        --divider-color: #ededed;
        --divider-dashed-color: #d5d5d5;
        --blockquote-border: #e2a08a;
        --table-list-border-radius: 0.3rem;

        --surface-block-border: #{map.get($surface-block, "border-light")};
        --surface-block-bg: #{map.get($surface-block, "bg-light")};
        --surface-block-ink-strong: #{map.get($surface-block, "ink-strong-light")};

        // Switch默认颜色为primary
        --md-sys-color-primary: #5a5fc1;

        --pagefind-ui-primary: var(--mdc-theme-on-surface);
        --pagefind-ui-text: var(--mdc-theme-on-surface);
        --pagefind-ui-background: var(--mdc-theme-surface);
        --pagefind-ui-border: var(--divider-color);
        --pagefind-ui-tag: var(--code-highlight-bg);
        --pagefind-ui-border-width: 2px;
        --pagefind-ui-border-radius: 8px;
        --pagefind-ui-image-border-radius: 8px;
        --pagefind-ui-image-box-ratio: 3 / 2;
        --pagefind-ui-font: $text-font;
}

@mixin dark {
        --mdc-theme-primary: #{map.get($top-bar, "bg-dark")};
        --mdc-theme-on-primary: #f5f5f5;
        --mdc-theme-secondary: #{map.get($fab, "bg-dark")};
        --mdc-theme-on-secondary: #f5f5f5;
        --mdc-theme-background: #{map.get($background, "dark")};
        --mdc-theme-surface: #{map.get($surface, "dark")};
        --mdc-theme-on-surface: #{map.get($on-surface, "dark")};
        --mdc-theme-text-primary-on-background: #f5f5f5;
        --mdc-theme-text-secondary-on-background: #{map.get($text-secondary-on-background, "dark")};

        --top-bar-blur: #{map.get($top-bar, "bg-blur-dark")};
        --fab-blur: #{map.get($fab, "bg-blur-dark")};

        // Drawer
        --drawer-ink: white;
        --drawer-scrim-bg: rgba(0, 0, 0, 0);

        // Dialog
        --dialog-scrim-bg: rgba(0, 0, 0, 0);

        --button-bg: #{map.get($button, "bg-dark")};
        --button-ink: #{map.get($button, "ink-dark")};
        --navigation: #{map.get($text-secondary-on-background, "dark")};

        // Code
        --code-highlight-bg: rgba(55, 55, 55, 0.18);
        --code-highlight-border: rgba(69, 69, 69, 0.74);
        --pre-code-bg: #0f0f0f;

        // Chip
        --chip-bg: #{map.get($chip, "bg-dark")};
        --chip-ink: #{map.get($chip, "ink-dark")};
        --list-chip-1-bg: rgba(54, 47, 70, 0.5);
        --list-chip-1-ink: rgb(210, 195, 249);
        --list-chip-1-border: transparent;
        --list-chip-2-bg: rgba(55, 33, 34, 0.5);
        --list-chip-2-ink: rgb(253, 155, 157);
        --list-chip-2-border: transparent;
        --list-chip-3-bg: rgba(52, 46, 23, 0.5);
        --list-chip-3-ink: rgb(254, 241, 190);
        --list-chip-3-border: transparent;
        --list-chip-4-bg: rgba(92, 45, 45, 0.5);
        --list-chip-4-ink: #ec9797;
        --list-chip-4-border: transparent;
        --list-chip-5-bg: rgba(50, 50, 50, 0.5);
        --list-chip-5-ink: #{map.get($on-surface, "dark")};
        --list-chip-5-border: transparent;
        --list-secondary-ink: #c3c3c3;

        --list-hover: #252525;

        --link-color: #54a0ff;
        --em-color: rgba(255, 255, 255, 0.65);
        --strong-color: rgba(255, 255, 255, 0.95);
        --strong-underline-color: rgba(255, 128, 85, 0.3);
        --tag-underline-color: rgba(120, 120, 120, 0.3);
        --divider-color: #2a2a2a;
        --divider-dashed-color: #3e3e3e;
        --blockquote-border: #9c6d5e;

        --surface-block-border: #{map.get($surface-block, "border-dark")};
        --surface-block-bg: #{map.get($surface-block, "bg-dark")};
        --surface-block-ink-strong: #{map.get($surface-block, "ink-strong-dark")};

        --md-sys-color-primary: #3a78c6;
}

body {
        --mdc-typography-headline1-font-size: 1.6rem;
        --mdc-typography-headline1-font-weight: normal;

        --mdc-typography-headline2-font-size: 1.6rem;
        --mdc-typography-headline2-line-height: 2.2rem;
        --mdc-typography-headline2-font-weight: normal;

        --mdc-typography-headline3-font-size: 1.5rem;
        --mdc-typography-headline3-line-height: 2rem;
        --mdc-typography-headline3-font-weight: normal;

        --mdc-typography-body1-font-size: 1rem;
        --mdc-typography-body1-line-height: 1.7rem;
        // card, dialog 圆角
        --mdc-shape-medium: 0.3rem;
        // 文章内元素圆角，code block和description
        --post-inner-shape-round: 0.3rem;

        --md-switch-state-layer-size: 0rem;
        --md-switch-handle-width: 0.6rem;
        --md-switch-handle-height: 0.6rem;
        --md-switch-selected-handle-width: 0.6rem;
        --md-switch-selected-handle-height: 0.6rem;
        --md-switch-track-width: 2.5rem;
        --md-switch-track-height: 1.2rem;

        --top-card-to-container-top: 0.74rem;

        --dialog-animation-duration: 0.3s;
        --dialog-animation-translate-y: 10rem;
        --cover-animation-duration: 0.8s;
        --card-animation-duration: 0.8s;
        --card-animation-translate-y: 15rem;

        --top-bar-height: 64px;

        @include light;
}

.dark {
        @include dark;
}

// 小屏
@media all and (max-width: $screen-middle-min-width) {
        body {
                --cover-animation-duration: 0.6s;
                --card-animation-translate-y: 15rem;

                --top-bar-height: 56px;
        }
}

// 平板中屏
@media all and (min-width: ($screen-middle-min-width + 1px)) and (max-width: ($screen-middle-max-width - 1px)) {
        body {
                --cover-animation-duration: 0.6s;
                --card-animation-translate-y: 15rem;
        }
}