@use "../style/global" as base;
@use "button" as button;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";

body {
    --topbar-slid-translateY: calc(0px - var(--topbar-height) - 10px)
}

.mdc-top-app-bar.colorful {
    background-color: #{map.get(base.$topbar, "bg-light-colorful")};

    * {
        color: #{map.get(base.$topbar-ink, "light-colorful")};
    }
}

.dark .mdc-top-app-bar.colorful {
    background-color: #{map.get(base.$topbar, "bg-dark-colorful")};

    * {
        color: #{map.get(base.$topbar-ink, "dark-colorful")};
    }
}

.mdc-top-app-bar {
    // 颜色，默认为 primary
    background-color: var(--mdc-theme-primary);
    // 阴影
    @include elevation.elevation(map.get(base.$topbar-elevation, "elevation"), map.get(base.$topbar-elevation, "shadow-light"), 0);
    // border-bottom: 1px solid color.adjust(map.get(base.$topbar, "bg-light"), $lightness: - 3%);
    position: absolute;

    * {
        color: var(--mdc-theme-on-primary);
    }

    // 标题栏图标和字体的字重以字体为准，图标适应字体
    // 默认思源黑体，可切换为稍细的思源宋体
    // 标题栏字体字重默认为正文字重
    i {
        // 标题栏图标字重适应字体粗细
        font-weight: calc(var(--font-weight-normal) - 50);
    }

    // 首页标题使用了颜文字，是特殊情况，单独设置字重配合图标字重，保持视觉平衡
    .mdc-top-app-bar__title.title-home * {
        letter-spacing: 0.08rem;
        font-weight: calc(var(--font-weight-normal) + 10);
    }
}

// 思源宋体字体更细，标题栏图标字重适应字体粗细
.font-noto-serif-sc {
    .mdc-top-app-bar i {
        font-weight: calc(var(--font-weight-normal) - 180);
    }

    // 首页标题字重单独调整
    .mdc-top-app-bar__title.title-home * {
        font-weight: calc(var(--font-weight-normal) - 120);
    }
}

.dark .mdc-top-app-bar {
    // 阴影
    @include elevation.elevation(map.get(base.$topbar-elevation, "elevation"), map.get(base.$topbar-elevation, "shadow-dark"), 0);
    // border-bottom: 1px solid color.adjust(map.get(base.$topbar, "bg-dark"), $lightness: + 3%);
}

.top-app-bar--blur {
    backdrop-filter: blur(map.get(base.$topbar, "backdrop-filter"));
    -webkit-backdrop-filter: blur(map.get(base.$topbar, "backdrop-filter"));
    @include top-app-bar.fill-color(var(--topbar-blur));
}

.mdc-top-app-bar__action-item.mdc-icon-button,
.mdc-top-app-bar__navigation-icon.mdc-icon-button {
    @include button.icon-button-ripple;
}

.mdc-top-app-bar__navigation-icon.mdc-icon-button,
.mdc-top-app-bar__action-item.mdc-icon-button {
    display: flex;
    align-items: center;

    i.mdc-icon-button__icon {
        margin: auto;
    }
}

// 图标变换动画，左右移动并淡入淡出，适用于主题切换和菜单切换按钮
.mdc-icon-button.mdc-icon-button--toggle-animation  {
    position: relative;

    .mdc-icon-button__icon {
        display: block !important;
        position: absolute;
        left: 50%;
        top: 50%;
        // 居中显示
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: opacity 0.4s ease, transform 0.4s ease;
        will-change: opacity, transform;
        pointer-events: none;
    }

    .mdc-icon-button__icon--on {
        display: block !important;
        opacity: 0;
        transform: translate(-40%, -50%) scale(1);
    }

    &.mdc-icon-button--on {
        .mdc-icon-button__icon {
            opacity: 0;
            transform: translate(-60%, -50%) scale(1);
        }

        .mdc-icon-button__icon--on {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.mdc-top-app-bar__title {
    // font-family: "Irvin-Heading";
    padding-left: 0.3rem;
    font-weight: var(--font-weight-normal);

    a {
        text-decoration: none;
    }

}

.mdc-top-app-bar__row {
    height: var(--topbar-height);
}

// 添加此类以禁用mdc的滚动隐藏/显示逻辑
.mdc-top-app-bar--fixed {
    // 默认固定，需要时监测滚动启动隐藏、展示动画
    // transform: translateY(0px);
    // opacity: 1;
    // transition: all 0.4s ease;

    // 固定显示在Viewport顶部
    position: fixed;
    top: 0;
}

// 不固定在顶部
.mdc-top-app-bar--fixed.mdc-top-app-bar--no-sticky {
    position: absolute;
}

// 执行中的CSS动画可以被新动画打断，会从当前状态开始过渡，而非从原始状态

.top-app-bar--up {
    transform: translateY(var(--topbar-slid-translateY));
    opacity: 0;
}

.top-app-bar--down {
    transform: translateY(0px);
    opacity: 1;
}

.top-app-bar--moving-up {
    // 应保证移动动画时间0.4s
    animation: moveUp 0.8s ease forwards;
    animation-play-state: initial;
}

.top-app-bar--moving-down {
    // 应保证移动动画时间0.4s
    animation: moveDown 0.5s ease forwards;
    animation-play-state: initial;
}

@keyframes moveUp {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        opacity: 1;
        transform: translateY(var(--topbar-slid-translateY));
    }

    100% {
        transform: translateY(var(--topbar-slid-translateY));
        opacity: 0;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(var(--topbar-slid-translateY));
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}