@use "theme" as blogTheme;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/ripple";
@use "sass:map";

body {
    --top-bar-slid-translateY : calc(0px - var(--top-bar-height) - 10px)
}

.mdc-top-app-bar {
    // 颜色，默认为 primary
    @include top-app-bar.fill-color(var(--mdc-theme-primary));
    // 阴影
    @include elevation.elevation(map.get(blogTheme.$top-bar-elevation, "elevation"), map.get(blogTheme.$top-bar-elevation, "shadow-light"), 0);
}

.dark .mdc-top-app-bar {
    // 阴影
    @include elevation.elevation(map.get(blogTheme.$top-bar-elevation, "elevation"), map.get(blogTheme.$top-bar-elevation, "shadow-dark"), 0);
}

.top-app-bar--blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @include top-app-bar.fill-color(var(--top-bar-blur));
}

.mdc-top-app-bar__action-item.mdc-icon-button,
.mdc-top-app-bar__navigation-icon.mdc-icon-button {
    @include ripple.surface;
    @include ripple.radius-unbounded(100%);
    @include ripple.states-base-color(white);
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
}

.mdc-top-app-bar__row {
    height: var(--top-bar-height);
}

// 默认固定，需要时监测滚动启动隐藏、展示动画
// 动态获取topbar高度，设置滚动值
.mdc-top-app-bar--fixed {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.4s ease;
}

.top-app-bar--up {
    transform: translateY(var(--top-bar-slid-translateY));
    opacity: 0;
}

.top-app-bar--down {
    transform: translateY(0px);
    opacity: 1;
}

.top-app-bar--moving-up {
    // 应保证移动动画时间0.4s
    animation: moveUp 0.8s ease forwards;
    animation-play-state: initial;
}

.top-app-bar--moving-down {
    // 应保证移动动画时间0.4s
    animation: moveDown 0.5s ease forwards;
    animation-play-state: initial;
}

@keyframes moveUp {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateY(var(--top-bar-slid-translateY));
    }

    100% {
        transform: translateY(var(--top-bar-slid-translateY));
        opacity: 0;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(var(--top-bar-slid-translateY));
        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}