@use "theme" as blogTheme;
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button";
@use "@material/icon-button/mdc-icon-button";
@use "@material/ripple";
@use "sass:map";

.mdc-top-app-bar {
    // 颜色，默认为 primary
    @include top-app-bar.fill-color(var(--mdc-theme-primary));
    // 阴影
    @include elevation.elevation(map.get(blogTheme.$top-bar-elevation, "elevation"), map.get(blogTheme.$top-bar-elevation, "shadow-light"), 0);
}

.dark .mdc-top-app-bar {
    // 阴影
    @include elevation.elevation(map.get(blogTheme.$top-bar-elevation, "elevation"), map.get(blogTheme.$top-bar-elevation, "shadow-dark"), 0);
}

.top-app-bar--blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @include top-app-bar.fill-color(var(--top-bar-blur));
}

.mdc-top-app-bar .mdc-icon-button__ripple {
    @include ripple.states(white, true);
}

// 默认固定，需要时监测滚动启动隐藏、展示动画
// 动态获取topbar高度，设置滚动值
.mdc-top-app-bar--fixed {
    transform: translateY(0);
    transition: all 0.4s ease;
}