<!-- side drawer -->
<aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust-by-padding">
    <div class="mdc-drawer__header">
        <div class="drawer-header-text-container">
            <span class="mdc-drawer__title">立泉的写字板</span>
            <span class="mdc-drawer__subtitle">https://mudan.me</span>
        </div>
        <button class="drawer-header-share-icon mdc-icon-button" aria-label="Share" id="drawer_btn_share" tabindex="0">
            <i data-nosnippet class="material-symbols-rounded-variable mdc-icon-button__icon">qr_code</i>
        </button>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-deprecated-list nav-list" role="listbox">
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-original" tabindex="-1" href="{% link index.html %}">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">palette</i>
                <span class="mdc-deprecated-list-item__text">随笔</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-repost" tabindex="-1"
                href="{% link section/repost.html %}">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">auto_awesome</i>
                <span class="mdc-deprecated-list-item__text">转载</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-poetry" tabindex="-1"
                href="{% link section/poetry.html %}">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">translate</i>
                <span class="mdc-deprecated-list-item__text">诗文</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-opera" tabindex="-1" href="{% link section/opera.html %}">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">photo_camera</i>
                <span class="mdc-deprecated-list-item__text">看剧</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-lens" tabindex="-1" href="{% link section/lens.html %}">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">vrpano</i>
                <span class="mdc-deprecated-list-item__text">透镜</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-tag" tabindex="-1" href="{% link section/tags.html %}">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">local_offer</i>
                <span class="mdc-deprecated-list-item__text">标签</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-search" tabindex="-1">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">search</i>
                <span class="mdc-deprecated-list-item__text">搜索</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-preference" tabindex="-1">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">manage_accounts</i>
                <span class="mdc-deprecated-list-item__text">偏好</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-about-me" tabindex="-1">
                <i data-nosnippet class="material-symbols-rounded-variable mdc-deprecated-list-item__graphic">face</i>
                <span class="mdc-deprecated-list-item__text">关于我</span>
            </a>
        </nav>
        <!-- <div class="nav-bottom">
            <button class="mdc-button">
                <span class="mdc-button__label">
                    开源&致谢
                </span>
            </button>
        </div> -->
    </div>
</aside>
<div class="mdc-drawer-scrim"></div>
<div id="dialog_container"></div>
<div id="snackbar_container"></div>
<div class="common-scrim"></div>