<!-- side drawer -->
<aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
        <a style="font-size: 2rem; text-decoration:none" id="drawer-header-hide-icon"
           href="https://github.com/material-components/material-components-web" target="_blank">🦁</a>
        <a style="font-size: 2rem; text-decoration:none" href="https://github.com/material-components/material-web"
           target="_blank">🦄️</a>
    </div>
    <div class="mdc-drawer__header">
        <h1 class="mdc-drawer__title mdc-theme--text-primary-on-background">立泉の写字板</h1>
        <span class="mdc-drawer__subtitle mdc-theme--text-secondary-on-background">https://mudan.me</span>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-deprecated-list nav-list" role="listbox">
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-original" href="{% link index.html %}">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">palette</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">随笔</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-repost" href="{% link section/repost.html %}">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">auto_awesome</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">转载</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-poetry" href="{% link section/poetry.html %}">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">translate</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">诗文</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-opera" href="{% link section/opera.html %}">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">photo_camera</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">看剧</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-tag" href="{% link section/tag.html %}">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">local_offer</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">标签</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-search">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">search</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">搜索</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-preference">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">manage_accounts</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">偏好</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-about-me">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-symbols-rounded mdc-deprecated-list-item__graphic">face</i>
                <span class="mdc-deprecated-list-item__text mdc-typography--body2">关于我</span>
            </a>
        </nav>
        <!-- <div class="nav-bottom"> -->
        <!-- <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__focus-ring"></span>
            <span class="mdc-button__label">开源&致谢</span>
          </button> -->
        <!-- </div> -->
    </div>
</aside>
<div class="mdc-drawer-scrim"></div>
<div id="dialog_container"></div>