<!-- side drawer -->
<aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust-by-padding">
    <div class="mdc-drawer__header">
        <span class="mdc-drawer__title">立泉的写字板</span>
        <span class="mdc-drawer__subtitle">https://mudan.me</span>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-deprecated-list nav-list" role="listbox">
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-original" href="{% link index.html %}">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">palette</i>
                <span class="mdc-deprecated-list-item__text">随笔</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-repost"
                href="{% link section/repost.html %}">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">auto_awesome</i>
                <span class="mdc-deprecated-list-item__text">转载</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-poetry"
                href="{% link section/poetry.html %}">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">translate</i>
                <span class="mdc-deprecated-list-item__text">诗文</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-opera" href="{% link section/opera.html %}">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">photo_camera</i>
                <span class="mdc-deprecated-list-item__text">看剧</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-lens" href="{% link section/lens.html %}">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">photo_library</i>
                <span class="mdc-deprecated-list-item__text">透镜</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-tag" href="{% link section/tag.html %}">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">local_offer</i>
                <span class="mdc-deprecated-list-item__text">标签</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-search">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">search</i>
                <span class="mdc-deprecated-list-item__text">搜索</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-preference">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">manage_accounts</i>
                <span class="mdc-deprecated-list-item__text">偏好</span>
            </a>
            <a class="mdc-deprecated-list-item" role="option" id="drawer-a-about-me">
                <i class="material-symbols-rounded-light mdc-deprecated-list-item__graphic">face</i>
                <span class="mdc-deprecated-list-item__text">关于我</span>
            </a>
        </nav>
        <!-- <div class="nav-bottom">
            <button class="mdc-button">
                <span class="mdc-button__label">
                    开源&致谢
                </span>
            </button>
        </div> -->
    </div>
</aside>
<div class="mdc-drawer-scrim"></div>
<div id="dialog_container"></div>
<div id="snackbar_container"></div>