<!-- Only for debug, host on local -->
<script async type="text/javascript" src="/npm/dist/blog-runtime-v{{ version }}.js"></script>
<script async type="text/javascript" src="/npm/dist/blog-scaffold-v{{ version }}.js"></script>
<link rel="stylesheet" href="/npm/dist/blog-scaffold-v{{ version }}.css"/>
<link rel="stylesheet" href="/npm/dist/blog-font-v{{ version }}.css"/>
{% if page.layout == "index" -%}
<script async type="text/javascript" src="/npm/dist/blog-index-v{{ version }}.js"></script>
<link rel="stylesheet" href="/npm/dist/blog-index-v{{ version }}.css"/>
{% elsif page.layout == "post" or page.layout == "common-card" -%}
{% if page.categories contains "404-page" -%}
<script async type="text/javascript" src="/npm/dist/blog-404-v{{ version }}.js"></script>
<link rel="stylesheet" href="/npm/dist/blog-404-v{{ version }}.css"/>
{% else -%}
<script async type="text/javascript" src="/npm/dist/blog-post-v{{ version }}.js"></script>
<link rel="stylesheet" href="/npm/dist/blog-post-v{{ version }}.css"/>
{% endif -%}
{% endif -%}
{% if page.categories contains "search" -%}
<link href="../pagefind/pagefind-modular-ui.css" rel="stylesheet">
<script src="../pagefind/pagefind-modular-ui.js"></script>
{% endif -%}
