<!-- top app bar -->
<header class="mdc-top-app-bar" id="top_app_bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-top-app-bar__navigation-icon mdc-icon-button">
                <span class="mdc-icon-button__ripple"></span>
                <i class="material-icons mdc-icon-button__icon">menu</i>
            </button>
            <!-- <span class="mdc-top-app-bar__title">HI</span> -->
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button class="mdc-top-app-bar__action-item mdc-icon-button" aria-label="Theme"
                    id="topbar_btn_theme" aria-pressed="false">
                <span class="mdc-icon-button__ripple"></span>
                <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">light_mode</i>
                <i class="material-icons mdc-icon-button__icon">dark_mode</i>
            </button>
            <button class="mdc-top-app-bar__action-item mdc-icon-button" aria-label="About me"
                    id="topbar_btn_about_me">
                <span class="mdc-icon-button__ripple"></span>
                <i class="material-icons mdc-icon-button__icon">account_circle</i>
            </button>
        </section>
    </div>
</header>