{% include configure.html -%}
<title>{{ page.title }}</title>
<meta charset="UTF-8"/>
<meta name="debug" content="{{ debug }}"/>
<meta name="writing" content="{{ writing }}"/>
{% if page.author != null -%}
<meta name="author" content="{{ page.author }}"/>
{% endif -%}
{% if page.description != null -%}
<meta name="description" content="{{ page.description }}"/>
{% endif -%}
<!-- Open Graph protocol, define rich object for share -->
<meta property="og:url" content="{{ page.url | prepend: site.url }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ page.title }}"/>
{% if page.share-description != null -%}
<meta property="og:description" content="{{ page.share-description }}"/>
{% elsif page.description != null -%}
<meta property="og:description" content="{{ page.description }}"/>
{% endif -%}
{% if page.cover != null -%}
<meta data-pagefind-default-meta="image[content]" property="og:image" content="{{ page.cover }}"/>
{% else -%}
<meta data-pagefind-default-meta="image[content]" property="og:image" content="https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/site/computer.jpg"/>
{% endif -%}
{% if page.blockFromSearchEngine == true -%}
<!-- Let search engine not index this page -->
<meta name="robots" content="noindex">
{% endif -%}
<!-- Let browser know website is optimized for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Site icon -->
 <!-- PWA, Chrome 添加到桌面图标 -->
<link rel="manifest" href="/manifest.json" />
<!-- Chrome Safari 的 Tab 图标，如果尺寸太大可能不被使用 -->
<link rel="shortcut icon" href="https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/site/icon/old_man_rounded_white_bg_192.png"/>
<!-- Safari 添加到桌面图标 -->
<link rel="apple-touch-icon" href="https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/site/icon/old_man_white_bg.png"/>
{% comment %} js和css由内部webpack工程输出，debug模式下使用localhost版本，release模式下使用托管在阿里云上的版本 {% endcomment -%}
<script async type="text/javascript" src="{{ resUrlPrefix }}blog-runtime-v{{ version }}.js"></script>
<script async type="text/javascript" src="{{ resUrlPrefix }}blog-scaffold-v{{ version }}.js"></script>
<link rel="stylesheet" href="{{ resUrlPrefix }}blog-scaffold-v{{ version }}.css"/>
<link rel="stylesheet" href="{{ resUrlPrefix }}blog-font-v{{ version }}.css"/>
{% if page.layout == "index" -%}
<script async type="text/javascript" src="{{ resUrlPrefix }}blog-index-v{{ version }}.js"></script>
<link rel="stylesheet" href="{{ resUrlPrefix }}blog-index-v{{ version }}.css"/>
{% elsif page.layout == "post" or page.layout == "common-card" or page.categories contains "common" -%}
{% if page.categories contains "404-page" -%}
<script async type="text/javascript" src="{{ resUrlPrefix }}blog-404-v{{ version }}.js"></script>
<link rel="stylesheet" href="{{ resUrlPrefix }}blog-404-v{{ version }}.css"/>
{% else -%}
<script async type="text/javascript" src="{{ resUrlPrefix }}blog-post-v{{ version }}.js"></script>
<link rel="stylesheet" href="{{ resUrlPrefix }}blog-post-v{{ version }}.css"/>
{% endif -%}
{% endif -%}
{% if page.categories contains "search" -%}
<link href="{{ pagefindUrlPrefix }}pagefind/pagefind-modular-ui.css" rel="stylesheet">
<script src="{{ pagefindUrlPrefix }}pagefind/pagefind-modular-ui.js"></script>
{% endif -%}
{% if page.preloadImageWebp != null -%}
<link rel="preload" href="{{ page.preloadImageWebp }}" as="image" type="image/webp" />
{% endif -%}
{% if page.preloadImageJpg != null -%}
<link rel="preload" href="{{ page.preloadImageJpg }}" as="image" type="image/jpeg" />
{% endif -%}