<title>{{ page.title }}</title>


<meta charset="UTF-8" />
<!-- Open Graph protocol, define rich object for share, facebook read this to show a custon share link -->
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
{% if page.description != null %}
<meta property="og:description" content="{{ page.description }}" />
{% endif %}

{% if page.cover != null %}
<meta property="og:image" content="{{ page.cover }}" />
{% else %}
<meta property="og:image" content="https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/site/me.jpg" />
{% endif %}

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />

<!-- Chrome标题栏颜色 -->
<!-- <meta name="theme-color" content="#ee6e73" /> -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<link rel="shortcut icon" href="https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/site/snail.png" />
<link rel="apple-touch-icon" href="https://apqx.oss-cn-hangzhou.aliyuncs.com/blog/site/snail_white_bg.png" />
<!-- oss托管字体和图标，提升访问速度，定期访问 https://fonts.googleapis.com/icon?family=Material+Icons 手动更新资源 -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->

<!-- css和js文件由内部的npm工程输出 -->
<!-- only for test -->
<!-- <link rel="stylesheet" href="{{ " /npm/dist/apqx.css" }}" />
<script type="text/javascript" src="{{ " /js/custom.js " }}" async></script> 
<script type="text/javascript" src="{{ " /npm/dist/apqx.js " }}" async></script>
<link rel="stylesheet" href="{{ " /css/materialFontsIcons.css " }}" /> -->

<!-- for publish -->
<link rel="stylesheet" href="https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/apqx.css" />
<script type="text/javascript" src="https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/custom.js" async></script>
<script type="text/javascript" src="https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/apqx.js" async></script>
<link rel="stylesheet" href="https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/materialFontsIcons.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- close it when on test -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GDLCDFZXBF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-GDLCDFZXBF');
</script>