<header>
  <!-- nav-bar -->
  <!-- <div class="navbar-fixed"> -->
  <div class="navbar">
    <nav>
      <!-- nav-tag -->
      <div class="nav-wrapper container">
        <a href="https://apqx.me" class="brand-logo">APQX</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down clear">
          <li {% if page.type=="essy" or page.type=="index" %} class="active" {% endif %}>
            <a class="waves-effect waves-effect" href="{{ " /index.html " }}">随笔</a>
          </li>
          <li {% if page.type=="share" or page.type=="index-share" %} class="active" {% endif %}>
            <a class="waves-effect waves-effect" href="{{ " /index-share.html " }}">转载</a>
          </li>
          <li>
            <a class="waves-effect waves-effect modal-trigger" href="#about_me">关于我</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- pop-up-about-me -->
  <div id="about_me" class="modal container foot-detail">
    <div class="modal-content">
      <center>
        <img height="100px" width="100dx" class="circle responsive-img" src="{{ " /assets/me.jpg " }}" />
      </center>
      <center>
        <h4>APQX</h4>
      </center>
      <p class="flow-text center-align">野生散养攻城狮，努力晋级中</p>
      <div class="collection">
        <a href="https://github.com/apqx" class="collection-item" target="blank">GitHub</a>
        <a href="mailto:changgongapq@gmail.com" class="collection-item" target="blank">changgongapq@gmail.com</a>
      </div>
    </div>
  </div>
  <!-- slide-to-show-nav-tag -->
  <ul id="nav-mobile" class="sidenav clear">
    <li {% if page.type=="essy" or page.type=="index" %} class="active" {% endif %}>
      <a class="waves-effect waves-red" href="{{ " /index.html " }}">随笔</a>
    </li>
    <li {% if page.type=="share" or page.type=="index-share" %} class="active" {% endif %}>
      <a class="waves-effect waves-red" href="{{ " /index-share.html " }}">转载</a>
    </li>
    <li>
      <a class="waves-effect waves-red modal-trigger" href="#about_me">关于我</a>
    </li>
  </ul>
  <!-- 索引页面不显示 -->
  {% if page.type != "index" and page.type != "index-share" %}
  
  {% endif %}

</header>