<script>
    // 为顶部卡片添加动画
    const cardE = document.querySelector(".index-top-card")
    if (cardE != null) {
        cardE.classList.add("card-fade-in")
    }
</script>

<section id="index-list-wrapper">
    <ul class="index-ul">
        {% for post in site.posts %}
        {%- if post.categories contains index-category and post.hideFromIndex != true and post.pin == true %}
        <li class="index-li index-li--pin">
            <a class="index-a mdc-card index-card" href="{{ post.url }}">
                <section>
                    <h1 class="index-title">{{ post.title }}</h1>
                    <span class="index-author">{% if post.moreDate != null %}{{ post.moreDate }}{% endif %} {{ post.author }}</span>
                    <span class="index-date">{{ post.date | date: "%Y年%m月%d日" }}</span>
                    <i class="material-symbols-rounded-thin index-pin-icon">keep</i>
                </section>
            </a>
            <hr class="index-li-divider" />
        </li>
        {% endif -%}
        {% endfor -%}
        {%- assign count = 0 -%}
        {%- for post in site.posts %}
            {%- if count == 10 %}
                {%- break %}
            {% endif -%}
            {%- if post.categories contains index-category and post.hideFromIndex != true -%}
            <li class="index-li">
                <a class="index-a mdc-card index-card" href="{{ post.url }}">
                    <section>
                        <h1 class="index-title">{{ post.title }}</h1>
                        <span class="index-author">{% if post.moreDate != null %}{{ post.moreDate }}{% endif %} {{ post.author }}</span>
                        <span class="index-date">{{ post.date | date: "%Y年%m月%d日" }}</span>
                    </section>
                </a>
                <hr class="index-li-divider" />
            </li>
            {%- assign count = count | plus: 1 %}
            {% endif -%}
        {% endfor -%}
    </ul>
</section>

<script>
    // 为Cover添加动画
    const coverE = document.querySelector(".index-top-cover")
    if (coverE != null) {
        coverE.classList.add("image-height-animation")
    }
    // 隐藏所有item，由React重新加载
    for(const e of document.querySelectorAll(".index-li")) {
        e.style.display = "none";
    }
</script>