// @use "../component/dialog/ShortLinkJumpDialog";
@use "../component/contentCard";

.container-404 {
    text-align: center;
}

.container-404 .title {
    font-size: 4.6rem;
    font-weight: normal;
    font-family: "JetBrainsMono", sans-serif;
}