@use "../style/global" as base;
// 如果放到组件中加载时可能出现样式闪烁，放到这里有时候也会出现，因为这里也是根据页面类型动态加载的
@use "../component/react/IndexLinearPosts";
@use "../component/react/IndexGridPosts";
@use "../component/react/IndexGridLens";

// LensIndexList 是 GridIndexList 的一种特殊形式，变量由其单独控制

body {
    // 列表卡片与左右边界的距离
    --index-card-to-container-border-horizontal: var(--center-card-to-container-border-horizontal);
    // 列表卡片之间的距离
    --index-card-gap: 0.55rem;
    // 列表卡片圆角，指非边界的内部普通卡片，参照 MD3 较边界卡片缩小
    --index-card-radius: 0.5rem;
    // 列表顶部卡片圆角，与文章 content-card 圆角一致
    --index-card-top-radius: var(--mdc-shape-medium);
    // 网格列表卡片之间的距离
    --grid-index-card-gap: 0.7rem; 
}

// 平板中屏
@media all and (min-width: (base.$screen-middle-width-start + 1px)) and (max-width: (base.$screen-middle-width-end - 1px)) {
    body {}
}

// 手机小屏
@media all and (max-width: base.$screen-middle-width-start) {
    body {
        // --index-card-to-container-border-horizontal: 0.5rem;
        --index-card-gap: 0.45rem;
        --index-card-radius: 0.45rem;
        --grid-index-card-gap: 0.6rem;
    }
}

