@use "../style/global" as base;
@use "../component/react/IndexList";
@use "../component/react/GridIndexList";
@use "../component/animation/ImageLoadAnimator";

body {
    --index-card-to-container-border-horizontal: var(--main-container-padding-vertical);
    --index-card-gap: 0.74rem;
    --grid-index-card-gap: 0.74rem;
}



// 手机小屏
@media all and (max-width: base.$screen-middle-min-width) {
    body {
        --index-card-to-container-border-horizontal: 0.5rem;
        --index-card-gap: 0.6rem;
        --grid-index-card-gap: 0.7rem;
    }

}

// 平板中屏
@media all and (min-width: (base.$screen-middle-min-width + 1px)) and (max-width: (base.$screen-middle-max-width - 1px)) {

}