@use "../style/global" as base;
@use "../component/codeHighlight";
@use "../component/contentCard";
@use "../component/text";

/* 文章题目 */
.post-title {
    font-size: calc(var(--mdc-typography-body1-font-size) + 0.6rem);
    line-height: 2.5rem;
    margin: 1rem 2rem;
    text-align: center;
    // 引用 theme中定义的属性，这个属性可以被 修改，以实现不同的theme主题
}

/* 文章署名 */
.post-author {
    color: var(--mdc-theme-text-secondary-on-background);
    line-height: 1.75rem;
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    text-align: center;
    margin-top: 0.8rem;
}

/* 文章日期 */
.post-date {
    color: var(--mdc-theme-text-secondary-on-background);
    line-height: 1.75rem;
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    text-align: center;
    // margin-top: 0.5rem;
}

.surface-block {
    @include text.block-text();

    border: 1px dashed var(--surface-block-border);
    border-radius: var(--post-inner-shape-round);
    background: var(--surface-block-bg);
    padding: 1rem;
}

.line-divider {
    width: 80%;
    border: none;
    border-top: 2px dashed var(--divider-color);
    margin: 1.5rem auto;
}

.icon-divider {
    text-align: center;
    margin: 0.5rem;
}

.surface-block code,
.opera-page code:not(.mdc-dialog code) {
    color: var(--surface-block-ink-strong);
    font-weight: var(--font-weight-normal);
    padding: 0;
    margin: 0 0.1rem;
    border: none;
    background: none;
}

img.clickable:hover {
    cursor: pointer;
}

.media-container {
    max-width: 100%;
    // height: fit-content;
    max-height: 100%;
}

img,
video {
    max-width: 100%;
    height: auto;
    // border-radius: 0.3rem;
}

// img都是被包裹在<p>里所有无需设置margin
video {
    margin: 0.5rem 0;
}

.video-container {
    position: relative;
    // 这个百分比越小，视频越扁
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
    margin: 0.5rem 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}