@use "../style/global" as base;
@use "../component/theme" as blogTheme;
@use "../component/contentCard";
@use "../component/button";
@use "../component/card";
@use "../component/drawer";
@use "../component/fab";
@use "../component/footer";
@use "../component/list";
@use "../component/table";
@use "../component/tag";
@use "../component/text";
@use "../component/topbar";
@use "../component/animation/BaseAnimation.scss";
@use "../component/animation/ImageLoadAnimator.scss";
// @use "../component/animation/SmoothCollapse.scss";
// @use "../component/dialog/AboutMeDialog";
// @use "../component/dialog/BasicDialog";
// @use "../component/dialog/PreferenceDialog";
// @use "../component/dialog/SearchDialog";
// @use "../component/dialog/TagDialog";
// @use "../component/react/Snackbar";
@use "@material/animation";
@use "sass:map";

html {
    // 设置 html 和 body 高度为浏览器窗口高度
    // 如果内部 content 高度超过窗口高度则处于 overflow 状态
    height: 100%;
}
// body {
// }

body {
    // 消除 topbar 左侧的 margin
    margin: 0;
    min-height: 100%;
    height: fit-content;
    // 内容竖向排列
    display: flex;
    flex-direction: column;
    position: relative;

    .header-space {
        width: 100%;
        height: var(--topbar-height);
        flex-shrink: 0;
        border: none;
        margin: 0;
    }

    // 包含 main 和 footer，以及顶部的 header 空间
    // header 内容不在这里，悬浮在独立层级
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}


// 内容最外层容器，高度为 100% - topbar-height - footer-height 
.main-container {
    width: 100%;
    max-width: base.$center-container-max-width;
    // 横向居中
    margin: var(--main-container-padding-vertical) auto;
}

.main-container-wide {
    width: 100%;
    max-width: base.$center-container-larger-max-width;
    // 横向居中
    margin: var(--main-container-padding-vertical) auto;
}

footer .footer-container {
    width: 100%;
    max-width: base.$center-container-max-width;
    margin: 0 auto;
    padding: 0;
}

@keyframes fade-in {
    from {
        transform: translateY(20rem);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.display-none {
    display: none !important;
}

.center-self-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.center-self-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.center-inline-items {
    text-align: center;
}

.mdc-top-app-bar--fixed-adjust {
    // margin-top: var(--topbar-height);
    // padding-top: 0;
    // top: 0;
    padding-top: var(--topbar-height);
    top: 0;
}

.mdc-top-app-bar--fixed-adjust-by-padding {
    padding-top: var(--topbar-height);
    top: 0;
}

img {
    display: block;
    // 阻止移动端 Safari 长按图片弹出菜单
    -webkit-touch-callout: none;
}

img.inline-for-center {
    display: inline;
}

// 目前只发现Chrome在小米手机中的字体过大，Firefox正常
// 这种写法会影响所有浏览器，应在js中对Chrome单独处理

@media screen and (max-width: 400px) {
    html {
        font-size: 14.5px;
    }
}

@media screen and (min-width: 400px) and (max-width: 410px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 410px) and (max-width: 420px) {
    html {
        font-size: 16px;
    }
}

// 手机小屏
@media all and (max-width: base.$screen-middle-width-start) {}

// 平板中屏
@media all and (min-width: (base.$screen-middle-width-start + 1px)) and (max-width: (base.$screen-middle-width-end - 1px)) {}

// 电脑大屏
@media all and (min-width: base.$screen-middle-width-end) {}