@use "../style/global" as base;
@use "../component/theme" as blogTheme;
@use "../component/contentCard";
@use "../component/button";
@use "../component/card";
@use "../component/drawer";
@use "../component/fab";
@use "../component/footer";
@use "../component/list";
@use "../component/table";
@use "../component/tag";
@use "../component/text";
@use "../component/topbar";
// @use "../component/dialog/AboutMeDialog";
// @use "../component/dialog/BasicDialog";
// @use "../component/dialog/PreferenceDialog";
// @use "../component/dialog/SearchDialog";
// @use "../component/dialog/TagDialog";
// @use "../component/react/Snackbar";
@use "@material/animation";

// 通过js给body添加dark class，可以实现对mac-theme的参数更改
// 大部分组件都会正确相应颜色变化，但是list和chip却无效
// 且theme.$property引用的值也没有动态变化
body {
    // 消除top app bar左侧的margin
    margin: 0;
}

// footer吸附在页面底部

html,
body {
    // 设置html和body的高度为浏览器窗口高度
    // 如果内部content高度超过窗口高度则处于overflow状态
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main {
    flex: 1;
}

footer {
    background-color: var(--mdc-theme-primary);
    display: flex;
    flex-direction: column;
}

footer.footer--hidden {
    opacity: 0;
}

footer * {
    color: var(--footer-ink);
}

.copyright {
    padding: 1rem;

    p {
        font-style: normal;
    }
}

// 内容最外层的主容器
.main-container {
    width: 100%;
    max-width: base.$center-container-max-width;
    // 横向居中
    margin: var(--main-container-padding-vertical) auto;
}

.foot-container {
    width: 100%;
    max-width: base.$center-container-max-width;
    margin: 0 auto;
    flex: 1;
    padding: 0;
}

@keyframes fade-in {
    from {
        transform: translateY(20rem);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.self-center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.self-center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.items-center {
    text-align: center;
}

.mdc-top-app-bar--fixed-adjust {
    padding-top: var(--top-bar-height);
}

img {
    display: block;
    // 阻止移动端 Safari 长按图片弹出菜单
    -webkit-touch-callout: none;
}

img.inline-for-center {
    display: inline;
}

// 手机小屏
@media all and (max-width: base.$screen-middle-min-width) {}

// 平板中屏
@media all and (min-width: (base.$screen-middle-min-width + 1px)) and (max-width: (base.$screen-middle-max-width - 1px)) {}

// 电脑大屏
@media all and (min-width: base.$screen-middle-max-width) {}