@use "@material/typography";

.about-me-name {
    @include typography.typography(headline4);
    font-size: calc(var(--mdc-typography-body1-font-size) + 0.8rem);
    text-align: center;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    display: block;
}

.about-me-description {
    // @include typography.typography(body1);
    margin: 1.6rem 1rem;
    line-break: loose;
}

.circle-avatar {
    border-radius: 50%;
    margin-top: 2rem;
    background-color: var(--chip-bg);
}

.about-me-tag-wrapper .btn-tag {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.link-item {
    color: var(--mdc-theme-on-surface-secondary);
}
