@use "../../style/global" as base;
@use "../scrim.scss" as scrim;
@use "@material/dialog";
@use "@material/dialog/mdc-dialog";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/theme";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";

.mdc-dialog .mdc-dialog__container {
    transform: translateY(var(--dialog-animation-translate-y));
    opacity: 0;
    transition: transform var(--dialog-animation-duration) ease,
        opacity calc(var(--dialog-animation-duration) / 2.5) ease;
    // will-change: transform, opacity;
}

// opening -> open
// opening 只是设置 dialog 的显示属性，动画是由 open 触发的
// js 控制先添加 opening，再立即添加 open，启动动画
// .mdc-dialog--opening .mdc-dialog__container {
//     transform: translateY(5rem);
//     opacity: 1;
// }

.mdc-dialog.mdc-dialog--open .mdc-dialog__container {
    transform: translateY(0);
    opacity: 1;
}

// closing -> null
.mdc-dialog.mdc-dialog--closing .mdc-dialog__container {
    transform: translateY(0);
    opacity: 1;
}

.mdc-dialog .mdc-dialog__scrim {
    opacity: 0;
    // 原 dialog 的 scrim 遮罩动画
    @include scrim.baseScrim;

    // 关闭 dialog 自身的 scrim 遮罩，使用全局的 common-scrim 实现，适配 iOS 26 中 safari 工具栏压缩 viewport 导致的 scrim 遮罩被裁剪问题
    background-color: transparent;
    transition: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.mdc-dialog.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 1;
}

.mdc-dialog {
    --dialog-content-padding-left-right: 1.5rem
}

.mdc-dialog .mdc-dialog__surface {
    @include elevation.elevation(map.get(base.$dialog, "elevation"), map.get(base.$dialog, "shadow-light"), 0);
    // 亮色主题加空白边框是为了与暗色主题尺寸保持一致
    // border: 2px solid map.get(base.$dialog, "border-light");
    border: 1px solid var(--common-divider-color);
    border-radius: var(--dialog-border-radius);
    // surface 不滚动，content 滚动
    overflow-x: hidden;

    .dark & {
        @include elevation.elevation(map.get(base.$dialog, "elevation"), map.get(base.$dialog, "shadow-dark"), 0);
        // border: 2px solid map.get(base.$dialog, "border-dark");
    }
}

.mdc-dialog .mdc-dialog__content {
    padding: 1.2rem var(--dialog-content-padding-left-right) 1rem var(--dialog-content-padding-left-right);
    overflow-x: hidden;
}

.mdc-dialog__fixed-width {
    width: 560px;
}

@mixin baseDialogTitle {
    text-align: center;
    font-size: var(--mdc-typography-headline1-font-size);
    line-height: 3rem;
}

@mixin baseDialogHint {
    margin: 1.2rem 1rem;
    color: var(--mdc-theme-on-surface-secondary);
    font-weight: var(--font-weight-light);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    line-height: calc(var(--mdc-typography-body1-line-height) - 0.3rem);

    strong,
    b {
        font-weight: var(--font-weight-normal);
    }
}

.common-alert-dialog_title {
    @include baseDialogTitle();
}

.common-alert-dialog_content {
    margin: 1.5rem 1rem 0.5rem 1rem;
}

.mdc-dialog__actions.basic-dialog_actions {
    justify-content: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-height: unset;
    border: none;
    border-top: 1px solid;
    border-color: var(--common-divider-color) !important;
}

.mdc-button.basic-dialog_btn_action {
    flex: 1;
    width: fit-content;
    height: 3.2rem;
    padding: 0;
    border-radius: 0;

    @include button.container-fill-color(var(--dialog-action-btn-bg));
    @include button.ink-color(var(--dialog-action-btn-ink));
    // 启用 ripple 的 radius-bounded 可能导致某些东西溢出元素，导致整个页面宽度不正常可以横向滚动
    // 加上这个则可以解决🤔
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$dialog-action-btn-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
}

.dark .mdc-button.basic-dialog_btn_action {
    @include ripple.states-base-color(map.get(base.$dialog-action-btn-ripple, "dark"));
}

.mdc-dialog__content .mdc-deprecated-list {
    padding: 0 !important;
}