@use "../theme" as blogTheme;
@use "@material/dialog";
@use "@material/dialog/mdc-dialog";
@use "@material/theme";
@use "@material/typography";
@use "sass:map";
@use "sass:color";

.mdc-dialog {
    // 亮色主题的divider自动生成，颜色合适，但暗色主题颜色不合适，因此需要手动指定
    // 这里会自动根据颜色计算出divider颜色，但是把同样的颜色用var引用却不可以，奇怪
    @include dialog.scroll-divider-color(black);
    --dialog-content-padding-left-right: 1.5rem
}

.dark .mdc-dialog {
    @include dialog.scroll-divider-color(white);
}

.mdc-dialog__surface {
    // 亮色主题加空白边框是为了与暗色主题尺寸保持一致
    border: 2px solid map.get(blogTheme.$surface, "light");
}

.dark .mdc-dialog__surface {
    border: 2px solid color.adjust(map.get(blogTheme.$surface, "dark"), $lightness: +1.6%);
}

.mdc-dialog .mdc-dialog__content {
    padding: 1.2rem var(--dialog-content-padding-left-right) 1rem var(--dialog-content-padding-left-right);
}

.mdc-dialog__fixed-width {
    width: 560px;
}

.mdc-dialog .mdc-dialog__scrim {
    background-color: var(--dialog-scrim-bg);
}

.common-alert-dialog_title {
    @include typography.typography(headline1);
    line-height: 3rem;
}

.common-alert-dialog_content {
    margin: 1.5rem 1rem 0.5rem 1rem;
}

.basic-dialog_actions {
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    padding-left: var(--dialog-content-padding-left-right);
    padding-right: var(--dialog-content-padding-left-right);
    border-color: transparent !important;
}

.basic-dialog_btn_action {
    width: 100%;
}

.mdc-dialog__content .mdc-deprecated-list {
    padding: 0 !important;
}
