@use "../../style/global" as base;
@use "@material/dialog";
@use "@material/dialog/mdc-dialog";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/theme";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/ripple";
@use "sass:map";
@use "sass:color";

.mdc-dialog__container {
    transform: translateY(var(--dialog-animation-translate-y));
    opacity: 0;
    transition: transform var(--dialog-animation-duration) ease,
        opacity calc(var(--dialog-animation-duration) / 2) ease !important;
    // will-change: transform, opacity;
}

// opening -> open
// opening只是设置dialog的显示属性，动画是由open触发的
// js控制先添加opening，再立即添加open，启动动画
// .mdc-dialog--opening .mdc-dialog__container {
//     transform: translateY(5rem);
//     opacity: 1;
// }

.mdc-dialog--open .mdc-dialog__container {
    transform: translateY(0);
    opacity: 1;
}

// closing -> null
.mdc-dialog--closing .mdc-dialog__container {
    transform: translateY(0);
    opacity: 1;
}

.mdc-dialog .mdc-dialog__scrim {
    background-color: var(--dialog-scrim-bg);
    opacity: 0 !important;
    transition: opacity var(--dialog-animation-duration) ease !important;
    -webkit-backdrop-filter: blur(map.get(base.$scrim, "backdrop-blur"));
    backdrop-filter: blur(map.get(base.$scrim, "backdrop-blur"));
}

.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 1 !important;
}

.mdc-dialog {
    --dialog-content-padding-left-right: 1.5rem
}

.mdc-dialog__surface {
    @include elevation.elevation(map.get(base.$dialog, "elevation"), map.get(base.$dialog, "shadow-light"), 0);
    // 亮色主题加空白边框是为了与暗色主题尺寸保持一致
    // border: 2px solid map.get(base.$dialog, "border-light");
    // border: 1px dashed var(--divider-dashed-color);
    // surface不滚动，content滚动
    overflow: clip;
}

.dark .mdc-dialog__surface {
    @include elevation.elevation(map.get(base.$dialog, "elevation"), map.get(base.$dialog, "shadow-dark"), 0);
    // border: 2px solid map.get(base.$dialog, "border-dark");
}

.mdc-dialog .mdc-dialog__content {
    padding: 1.2rem var(--dialog-content-padding-left-right) 1rem var(--dialog-content-padding-left-right);
}

.mdc-dialog__fixed-width {
    width: 560px;
}

.common-alert-dialog_title {
    font-size: var(--mdc-typography-headline1-font-size);
    line-height: 3rem;
}

.common-alert-dialog_content {
    margin: 1.5rem 1rem 0.5rem 1rem;
}

.basic-dialog_actions {
    justify-content: center;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    // padding-left: var(--dialog-content-padding-left-right);
    // padding-right: var(--dialog-content-padding-left-right);
    padding: 0;
    height: fit-content;
    border: none;
    border-top: 1px dashed;
    border-color: var(--divider-color) !important;
}

.mdc-button.basic-dialog_btn_action {
    width: 100%;
    height: 3.2rem;
    padding: 0;
    border-radius: 0;
}

.mdc-button.basic-dialog_btn_action {
    @include button.container-fill-color(var(--dialog-action-btn-bg));
    @include button.ink-color(var(--dialog-action-btn-ink));

    @include ripple.surface;
    // 如果为bounded则宽度可能有问题，导致横向溢出，滚动🤔
    // Dialog的surface的尺寸异常导致滚动，已设置设置其overflow为clip
    overflow: hidden;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(map.get(base.$dialog-action-btn-ripple, "light"));
    @include ripple.states-opacities((hover: .0, focus: .0, press: .1));
}

.dark .mdc-button.basic-dialog_btn_action {
    @include ripple.states-base-color(map.get(base.$dialog-action-btn-ripple, "dark"));
}

.mdc-dialog__content .mdc-deprecated-list {
    padding: 0 !important;
}