@use "../theme" as blogTheme;
@use "@material/dialog";
@use "@material/dialog/mdc-dialog";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/theme";
@use "@material/typography";
@use "sass:map";
@use "sass:color";

.mdc-dialog__container {
    transform: translateY(var(--dialog-animation-translate-y));
    opacity: 0;
    transition: transform var(--dialog-animation-duration) ease,
        opacity calc(var(--dialog-animation-duration) / 2) ease !important;
    // will-change: transform, opacity;
}

// opening -> open
// opening只是设置dialog的显示属性，动画是由open触发的
// js控制先添加opening，再立即添加open，启动动画
// .mdc-dialog--opening .mdc-dialog__container {
//     transform: translateY(5rem);
//     opacity: 1;
// }

.mdc-dialog--open .mdc-dialog__container {
    transform: translateY(0);
    opacity: 1;
}

// closing -> null
.mdc-dialog--closing .mdc-dialog__container {
    transform: translateY(0);
    opacity: 1;
}

.mdc-dialog .mdc-dialog__scrim {
    background-color: var(--dialog-scrim-bg);
    opacity: 0 !important;
    transition: opacity var(--dialog-animation-duration) ease !important;
    -webkit-backdrop-filter: blur(map.get(blogTheme.$scrim, "backdrop-blur"));
    backdrop-filter: blur(map.get(blogTheme.$scrim, "backdrop-blur"));
}

.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 1 !important;
}

.mdc-dialog {
    --dialog-content-padding-left-right: 1.5rem
}

.mdc-dialog__surface {
    @include elevation.elevation(map.get(blogTheme.$dialog, "elevation"), map.get(blogTheme.$dialog, "shadow-light"), 0);
    // 亮色主题加空白边框是为了与暗色主题尺寸保持一致
    // border: 2px solid map.get(blogTheme.$dialog, "border-light");
    // border: 1px dashed var(--divider-dashed-color);
    // surface不滚动，content滚动
    overflow: clip;
}

.dark .mdc-dialog__surface {
    @include elevation.elevation(map.get(blogTheme.$dialog, "elevation"), map.get(blogTheme.$dialog, "shadow-dark"), 0);
    // border: 2px solid map.get(blogTheme.$dialog, "border-dark");
}

.mdc-dialog .mdc-dialog__content {
    padding: 1.2rem var(--dialog-content-padding-left-right) 1rem var(--dialog-content-padding-left-right);
}

.mdc-dialog__fixed-width {
    width: 560px;
}

.common-alert-dialog_title {
    @include typography.typography(headline1);
    line-height: 3rem;
}

.common-alert-dialog_content {
    margin: 1.5rem 1rem 0.5rem 1rem;
}

.basic-dialog_actions {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--dialog-content-padding-left-right);
    padding-right: var(--dialog-content-padding-left-right);
    border: none;
    border-top: 1px dashed;
    border-color: var(--divider-dashed-color) !important;
}

.basic-dialog_btn_action {
    width: 100%;
}

.mdc-dialog__content .mdc-deprecated-list {
    padding: 0 !important;
}