@use "./BaseDialog.scss" as baseDialog;

.lens-filter-dialog__title {
    @include baseDialog.baseDialogTitle();
}

.lens-filter-dialog__hint {
    @include baseDialog.baseDialogHint();
    margin: 1.2rem 0.7rem 1rem 0.7rem;
}

.lens-filter-dialog__tag-container {
    margin: 0.8rem 0;
}