// @use "../react/SettingsToggle";
@use "../../style/global" as base;
@use "sass:map";

#preference-dialog__top-container {
    margin: 0.8rem 0rem;
    text-align: center;
}

#preference-dialog__toggle-container {
    margin-top: 0.5rem;
}

.preference-item-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
    height: 2.5rem;
    // ripple 动画会改变尺寸导致溢出，几秒钟后又自动恢复
    // overflow-x: scroll;
}

.preference-item-toggle__title {
    font-size: var(--mdc-typography-body1-font-size);
    flex: 1;
    min-width: 20rem;
}

.emoji-preference {
    width: 4.5rem;
    height: 4.5rem;
}

// 小屏
@media all and (max-width: base.$screen-middle-min-width) {
    #preference-dialog__top-container {
        margin: 0.5rem 0rem;
        text-align: center;
    }
    .preference-item-toggle__title {
        min-width: 13.5rem;
    }
}
