@use "../theme" as blogTheme;
@use "../tag.scss";
@use "../react/LoadingHint.scss";
@use "../react/Button.scss";
@use "@material/button";
@use '@material/button/mdc-button';
@use "@material/ripple";
@use "@material/typography";
@use "@material/textfield";
@use "@material/textfield/mdc-text-field";
@use "sass:map";
@use "../animation/HeightAnimationContainer.scss";

#search-dialog_label {
    width: 94%;
    margin-top: 1.5rem;
}

#search-dialog_tips {
    margin: 1.2rem 1rem;
    color: var(--list-secondary-ink);
    line-break: loose;
}

.mdc-text-field {
    @include textfield.ink-color(var(--mdc-theme-text-primary-on-background));
    @include textfield.caret-color(var(--mdc-theme-text-primary-on-background));
    @include textfield.placeholder-color(var(--mdc-theme-text-secondary-on-background));
    @include textfield.label-color(var(--mdc-theme-text-secondary-on-background));
    @include textfield.outline-color(var(--divider-color));
    @include textfield.hover-outline-color(var(--divider-color));
    @include textfield.focused-outline-color(var(--divider-color));
}

input {
    -webkit-tap-highlight-color: transparent;
}

.mdc-button.btn-search {
    @include button.ink-color(var(--chip-ink));
    @include button.container-fill-color(var(--chip-bg));
    min-width: fit-content;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    @include tag.btnChipRipple();
}

.dark .mdc-button.btn-search {
    @include tag.btnChipRippleDark();
}

.search-result-item-type {
    font-size: 0.8rem;
    padding: 0.06rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    color: var(--list-chip-1-ink);
    background: var(--list-chip-1-bg);
}

.search-result-item-snippet {
    text-align: justify;
    line-break: anywhere;
    line-height: 1rem;

    mark {
        background-color: transparent;
        color: var(--surface-block-ink-strong);
    }
}