// @use "../tag.scss";
// @use "../react/LoadingHint";
// @use "../animation/HeightAnimationContainer";
@use "../../style/global" as base;
@use "./TagDialog" as tagDialog;
@use "@material/textfield";
@use "@material/textfield/mdc-text-field";
@use "sass:map";

#search-dialog_label {
    width: 94%;
    margin-top: 1.5rem;
}

#search-dialog_tips {
    margin: 1.2rem 1rem;
    color: var(--list-secondary-ink);
    line-break: normal;
    font-weight: var(--font-weight-light);

    strong, b {
        font-weight: var(--font-weight-normal);
    }
}

.mdc-text-field {
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    margin-left: auto;
    margin-right: auto;

    @include textfield.ink-color(var(--mdc-theme-on-surface));
    @include textfield.caret-color(var(--mdc-theme-on-surface));
    @include textfield.placeholder-color(var(--mdc-theme-text-secondary-on-background));
    @include textfield.label-color(var(--mdc-theme-text-secondary-on-background));
    @include textfield.outline-color(var(--textfield-border));
    @include textfield.hover-outline-color(var(--textfield-border));
    @include textfield.focused-outline-color(var(--textfield-border));
}

#btn-search {
    height: 100%;
    width: 4.5rem;
    margin: 0;
    padding: 0;
    border-radius: 0 var(--mdc-shape-small) var(--mdc-shape-small) 0;
    // border-left: 1px solid var(--textfield-border);
    overflow: hidden;

    i {
        margin-top: auto;
        margin-bottom: auto;
        line-height: 2;
        color: var(--mdc-theme-text-secondary-on-background);
    }
}

input {
    -webkit-tap-highlight-color: transparent;
}

.search-result-item-type {
    @include tagDialog.block();
    @include tagDialog.blockFirst();
    margin-right: 0.2rem;
    
    color: var(--list-chip-1-ink);
    background: var(--list-chip-1-bg);
}

.font-noto-serif-sc {
    .search-result-item-type {
        padding: 0.15rem 0.5rem;
    }
}

.search-result-item-snippet {
    text-align: justify;
    line-break: anywhere;
    line-height: 1rem;

    mark {
        background-color: transparent;
        color: var(--list-ink-strong);
    }
}