// @use "../tag.scss";
// @use "../react/LoadingHint";
// @use "../animation/HeightAnimationContainer";
@use "../../style/global" as base;
@use "./BaseDialog.scss" as baseDialog;
@use "./TagDialog" as tagDialog;
@use "sass:map";

.search-dialog_label {
    width: 94%;
    margin-top: 1.5rem;
}

#search-dialog_tips {
    @include baseDialog.baseDialogHint();
}

.search-result-item-type {
    @include tagDialog.block();
    @include tagDialog.blockFirst();
    margin-right: 0.2rem;

    color: var(--list-chip-1-ink);
    background: var(--list-chip-1-bg);
}

.font-noto-serif-sc {
    .search-result-item-type {
        padding: 0.15rem 0.5rem;
    }
}

.search-result-item-snippet {
    text-align: justify;
    line-break: anywhere;
    line-height: 1rem;

    mark {
        background-color: transparent;
        color: var(--mdc-theme-on-surface-vivid);
    }
}