@use "../../style/global" as base;

.share-qrcode-picture {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-top: 2rem;

    img,
    svg,
    canvas {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
}

$max-width: 20rem;

.share-title {
    text-align: center;
    margin: 1rem auto;
    max-width: $max-width;
}

.share-url-item {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    border-radius: var(--post-inner-shape-round);
    border: 1px solid var(--pre-code-border-heavy);
    background: var(--pre-code-bg);

    .share-url-span-wrapper {
        flex: 1;
        overflow-x: scroll;
        display: flex;
        align-items: stretch;
        // 消除 Firefox 的 scrollBar
        scrollbar-width: none;

        // 移动端 Chrome 的 scrollBar 一直显示，需要消除，其它浏览器 scrollBar 都会自动隐藏
        // 在保留滚动效果的同时，消除 Safari，Chrome 的 scrollBar
        &::-webkit-scrollbar {
            // 消除 scrollBar
            display: none;
        }

        .share-url-span {
            border-radius: var(--post-inner-shape-round);
            font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
            font-family: var(--text-code-font-family);
            font-weight: base.$font-weight-normal-default;
            margin: 0.8rem 0;
            padding: 0 3.5rem 0 1rem;
            white-space: nowrap;
        }
    }

    .btn-wrapper {
        position: absolute;
        display: flex;
        align-items: stretch;
        right: 0;
        height: 100%;
        border-top-right-radius: var(--post-inner-shape-round);
        border-bottom-right-radius: var(--post-inner-shape-round);
        background: linear-gradient(to right, transparent, var(--pre-code-bg) 30%);

        &::before {
            content: "";
            width: 1rem;
            height: 100%;
        }

        .mdc-icon-button.btn-copy-url {
            border-top-right-radius: var(--post-inner-shape-round);
            border-bottom-right-radius: var(--post-inner-shape-round);
            height: 100%;
            width: 3.2rem;

            i {
                font-size: calc(var(--mdc-typography-body1-font-size) + 0.3rem);
                font-weight: 300;
                color: var(--mdc-theme-on-surface-secondary);
            }
        }
    }

}