.share-qrcode-picture {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    // background-color: var(--pre-code-bg);
    background-color: #ffffff;

    img, svg {
        width: 100%;
        height: 100%;
    }
}

.share-title {
    text-align: center;
    margin: 1rem 0;
}