@use "../react/ProgressLinear.scss";

#short-link-jump-dialog_emoji {
    text-align: center;
    font-size: calc(var(--mdc-typography-body1-font-size) + 3rem);
    //margin-top: 2rem;
}

#short-link-jump-dialog_title {
    text-align: center;
    //margin-top: 2rem;
    font-weight: normal;
}

#short-link-jump-dialog_link {
    margin: 1rem 1rem;
}
