// @use "../react/ProgressLinear";
@use "../../style/global" as base;

.emoji-jump {
    width: 10rem;
    height: 10rem;
}

#short-link-jump-dialog_title {
    text-align: center;
    color: var(--mdc-theme-on-surface-secondary);
}

#short-link-jump-dialog_link {
    // a {
    //     white-space: nowrap;
    // }
}

.jump-dialog-container {
    .mdc-linear-progress {
        margin-top: 0.8rem;
    }
}
