// @use "../react/ProgressLinear";
@use "../../style/global" as base;

.emoji-jump {
    width: 10rem;
    height: 10rem;
}

#short-link-jump-dialog_title {
    text-align: center;
    //margin-top: 2rem;
    font-weight: var(--font-weight-normal);
}

#short-link-jump-dialog_link {
    margin: 1rem 1rem;
    // a {
    //     white-space: nowrap;
    // }
}
