// @use "../react/LoadingHint";
// @use "../animation/HeightAnimationContainer";

// 使用此 class 的标签，可以通过 id chip_tag_随笔 弹出对应 dialog_随笔 的 dialog
.tag-dialog-trigger {}

$blockRadius: 0.2rem;
$blockRadiusSide: calc(var(--mdc-typography-body1-font-size) - 0.42rem);
$blockPaddingHorizontal: 0.45rem;
$blockPaddingHorizontalSide: 0.55rem;

@mixin block {
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    padding: 0.25rem $blockPaddingHorizontal;
    border-radius: $blockRadius;
    margin-right: calc(var(--list-divider-height) - 0.01rem);
}


@mixin blockFirst {
    padding-left: $blockPaddingHorizontalSide;
    border-top-left-radius: $blockRadiusSide;
    border-bottom-left-radius: $blockRadiusSide;
}

@mixin blockLast {
    padding-right: $blockPaddingHorizontalSide;
    border-top-right-radius: $blockRadiusSide;
    border-bottom-right-radius: $blockRadiusSide;
    margin-right: 0;
}

.mdc-deprecated-list-item__text {
    width: 100%;
}

.mdc-deprecated-list-item.tag-list-item {
    padding-right: 0.8rem;
}

.list-item__secondary-text.tag-list-item__secondary-container {
    line-height: unset;
}

.tag-list-item__secondary-container {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to right, transparent, var(--list-bg));
    }

    .tag-list-item__block-container {
        width: 100%;
        white-space: nowrap;

        overflow-x: auto;
        // 消除 Firefox 的 scrollBar
        scrollbar-width: none;

        // 移动端 Chrome 的 scrollBar 一直显示，需要消除，其它浏览器 scrollBar 都会自动隐藏
        // 在保留滚动效果的同时，消除 Safari，Chrome 的 scrollBar
        &::-webkit-scrollbar {
            // 消除 scrollBar
            display: none;
        }

        &>span:first-child {
            @include blockFirst();
        }

        &>span:last-child {
            @include blockLast();
        }

        .tag-list-item__post-type {
            @include block();
            color: var(--list-chip-1-ink);
            background: var(--list-chip-1-bg);
        }

        .tag-list-item__post-block1 {
            @include block();
            color: var(--list-chip-3-ink);
            background: var(--list-chip-3-bg);
        }

        .tag-list-item__post-block2 {
            @include block();
            color: var(--list-chip-2-ink);
            background: var(--list-chip-2-bg);
        }
    }
}

.font-noto-serif-sc {

    .tag-list-item__post-type,
    .tag-list-item__post-block1,
    .tag-list-item__post-block2 {
        padding: 0.15rem 0.5rem;
    }
}

.font-handwritten {

    .tag-list-item__post-type,
    .tag-list-item__post-block1,
    .tag-list-item__post-block2 {
        padding: 0.14rem 0.4rem 0.08rem 0.4rem;
    }
}