@use "../react/LoadingHint";
@use "../animation/HeightAnimationContainer";

// 使用此class的标签，可以通过id chip_tag_随笔 弹出对应 dialog_随笔 的dialog
.tag-dialog-trigger {
}

.tag-list-item__secondary-container {
    display: flex;
    white-space: nowrap;
}

.tag-list-item__block-container {
    overflow-x: auto;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

// 移动端Chrome的scrollBar一直显示，需要消除，其它浏览器scrollBar都会自动隐藏
// 在保留滚动效果的同时，消除Safari，Chrome的scrollBar
.tag-list-item__block-container::-webkit-scrollbar {
    // 消除scrollBar
    display: none;
}

@mixin block {
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    padding: 0.06rem 0.5rem;
    border-radius: calc(var(--mdc-typography-body1-font-size) - 0.5rem);
    margin-right: 0.2rem;
}

.tag-list-item__post-type {
    @include block();
    color: var(--list-chip-1-ink);
    background: var(--list-chip-1-bg);
}

.tag-list-item__post-block1 {
    @include block();
    color: var(--list-chip-3-ink);
    background: var(--list-chip-3-bg);
}

.tag-list-item__post-block2 {
    @include block();
    color: var(--list-chip-2-ink);
    background: var(--list-chip-2-bg);
}

.font-noto-serif-sc {
    .tag-list-item__post-type,
    .tag-list-item__post-block1,
    .tag-list-item__post-block2 {
        padding: 0.18rem 0.5rem;
    }
}

.font-handwritten {
    .tag-list-item__post-type,
    .tag-list-item__post-block1,
    .tag-list-item__post-block2 {
        padding: 0.14rem 0.4rem 0.08rem 0.4rem;
    }
}
