@use "../../style/global" as base;
// @use "./LoadingHint";
@use "../card";
@use "../animation/BaseAnimation";
@use "../animation/ImageLoadAnimator";


.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    // 左移 column 水平方向的 gap 尺寸，需与 column 内 padding-left 保持一致
    // margin-left: calc(0rem - var(--grid-index-card-gap));
    width: auto;
}

.my-masonry-grid_column {
    background-clip: padding-box;
    // column 水平方向的 gap
    // padding-left: var(--grid-index-card-gap)
}

.mdc-card.grid-index-card {
    @include card.cardElevation();
}

.dark .mdc-card.grid-index-card {
    @include card.cardElevationDark();
}

.mdc-card.grid-index-card__ripple {
    @include card.cardRipple();
}

.dark .mdc-card.grid-index-card__ripple {
    @include card.cardRippleDark();
}

.grid-index-ul {
    padding: 0;
    padding-inline-start: 0;
    margin: 0 calc(var(--index-card-to-container-border-horizontal) - calc(var(--grid-index-card-gap) / 2));
}

.grid-index-li {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0 calc(var(--grid-index-card-gap) / 2);
    margin: 0;
}

.grid-index-li-divider {
    height: var(--grid-index-card-gap);
    margin: 0;
    border: none;
}

.grid-index-text-container {
    padding: 1.3rem 2rem 1.5rem 2rem;
}

.grid-index-cover {
    // border-radius: var(--mdc-shape-medium);
    width: 100%;
}

.grid-index-title {
    font-size: calc(var(--mdc-typography-body1-font-size) + 0.2rem);
    line-height: 1.75rem;
    letter-spacing: var(--mdc-typography-body1-letter-spacing);
    margin: 0;
    text-align: left
}

.grid-index-date {
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.25rem);
    line-height: var(--mdc-typography-body1-line-height);
    margin: 0;
    display: inline;
}

.grid-index-author {
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.25rem);
    line-height: var(--mdc-typography-body1-line-height);
    display: inline;
}

.grid-index-description {
    margin: 0;
    // filter: grayscale(100%);
}

.tag-link.grid-index-description-tag {
    margin-right: 0.4rem;
}

// 手机小屏
@media all and (max-width: base.$screen-middle-width-start) {

    .grid-index-text-container {
        padding: 1rem 1.5rem 1.2rem 1.5rem;
    }
}

// 平板中屏
@media all and (min-width: (base.$screen-middle-width-start + 1px)) and (max-width: (base.$screen-middle-width-end - 1px)) {

    .grid-index-text-container {
        padding: 1rem 1.8rem 1.3rem 1.8rem;
    }
}