@use "../../style/global" as base;
@use "../card";
// @use "./LoadingHint";
// @use "../animation/BaseAnimation";
// @use "../animation/HeightAnimationContainer";

body {
    --index-card-padding-vertical: 1.25rem;
    --index-card-padding-horizontal: 2.5rem;
}

.mdc-card.index-top-card {
    border-top-left-radius: var(--index-card-top-radius);
    border-top-right-radius: var(--index-card-top-radius);
    border-bottom-left-radius: var(--index-card-radius);
    border-bottom-right-radius: var(--index-card-radius);
    margin-left: var(--index-card-to-container-border-horizontal);
    margin-right: var(--index-card-to-container-border-horizontal);
    @include card.cardElevation();
    @include card.cardRipple();
}

.dark .mdc-card.index-top-card {
    @include card.cardElevationDark();
    @include card.cardRippleDark();
}

.index-top-card-container {
    padding-top: 0.1rem;
    padding-bottom: 0.18rem;
    padding-left: var(--index-card-padding-horizontal);
    padding-right: var(--index-card-padding-horizontal);
}

.index-top-card-text {
    text-align: right;
}

.mdc-card.index-card {
    border-radius: var(--index-card-radius);
    padding: var(--index-card-padding-vertical) var(--index-card-padding-horizontal);
    @include card.cardElevation();
    // 添加Ripple动画
    @include card.cardRipple();
}

.dark .mdc-card.index-card {
    @include card.cardElevationDark();
    @include card.cardRippleDark();
}

.mdc-card.index-card.list-last {
    border-bottom-left-radius: var(--index-card-top-radius);
    border-bottom-right-radius: var(--index-card-top-radius);
}

.index-top-cover {
    object-fit: cover;
    width: 100%;
    // 封面宽高比例，在不设置动画时使用，JS动画用它计算高度
    aspect-ratio: 844/295 auto;
}

/* 索引题目 */
.index-title {
    color: var(--mdc-theme-on-surface);
    font-size: var(--mdc-typography-body1-font-size);
    line-height: var(--mdc-typography-body1-line-height);
    letter-spacing: var(--mdc-typography-body1-letter-spacing);
    margin: 0;
    text-align: left;
}

/* 索引署名 */
.index-author {
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    line-height: 1.5rem;
    text-align: right;
    margin: 0;
    display: block
}

/* 索引日期 */
.index-date {
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    line-height: 1.5rem;
    text-align: right;
    margin: 0;
    display: block;
}

.index-description {
    margin: 0;
}

.index-width-desc-title {
    color: var(--mdc-theme-on-surface);
    font-size: var(--mdc-typography-body1-font-size);
    line-height: var(--mdc-typography-body1-line-height);
    letter-spacing: var(--mdc-typography-body1-letter-spacing);
    margin: 0;
    text-align: left;
}

.index-with-desc-date {
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    line-height: 1.5rem;
    text-align: left;
    margin: 0;
    display: block;
}

.index-width-desc-desc {
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: calc(var(--mdc-typography-body1-font-size) - 0.1rem);
    line-height: 1rem;
    font-weight: var(--font-weight-light);
    text-align: left;
    margin: 0;
}

// 索引列表
.index-ul {
    padding: 0;
    margin-top: var(--index-card-gap);
    margin-bottom: 0;
}

.index-li {
    list-style-type: none;
    margin: 0 var(--index-card-to-container-border-horizontal);
    padding: 0;
}

.index-li-divider {
    height: var(--index-card-gap);
    margin: 0;
    border: none;
}

.index-card {
    position: relative;
}

.index-pinned-icon, .index-featured-icon {
    position: absolute;
    z-index: 1;
    color: var(--mdc-theme-text-secondary-on-background);
    font-size: 1.15rem;
    bottom: calc(var(--index-card-padding-vertical) + 0.2rem);
    left: calc(var(--index-card-padding-horizontal) - 0.2rem);
}

.index-featured-icon {
    left: calc(var(--index-card-padding-horizontal) - 0.1rem);
}

// 索引链接
.index-a {
    // 去除下划线
    text-decoration: none;
    // 去除点击时的默认的背景，防止干扰 Ripple 动画
    // background-color: transparent;
}


// 手机小屏
@media all and (max-width: base.$screen-middle-min-width) {
    body {
        --index-card-padding-vertical: 1rem;
        --index-card-padding-horizontal: 1.3rem;
    }

    .index-author {
        font-size: calc(var(--mdc-typography-body1-font-size) - 0.25rem);
    }

    .index-date {
        font-size: calc(var(--mdc-typography-body1-font-size) - 0.25rem);
    }

    .index-pinned-icon {
        font-size: 1.05rem;
        left: calc(var(--index-card-padding-horizontal) - 0.1rem);
    }

    .index-featured-icon {
        font-size: 1.05rem;
        left: var(--index-card-padding-horizontal);
    }

    .index-top-card-container {
        padding-top: 0.08rem;
        padding-bottom: 0.15rem;
    }
}

// 平板中屏
@media all and (min-width: (base.$screen-middle-min-width + 1px)) and (max-width: (base.$screen-middle-max-width - 1px)) {
    body {
        --index-card-padding-vertical: 1.2rem;
        --index-card-padding-horizontal: 2rem;
    }

    .index-author {
        font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    }

    .index-date {
        font-size: calc(var(--mdc-typography-body1-font-size) - 0.2rem);
    }

}