@use "../../style/global" as base;

.lens-index-container {
    position: relative;
}

@mixin flow-text-bg {
    background-color: rgb(0 0 0 / 15%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.lens-index-pinned-icon-container,
.lens-index-featured-icon-container {
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    @include flow-text-bg();
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 0.85rem;
        color: rgb(230, 230, 230);
    }
}

.lens-index-text-container {
    position: absolute;
    left: 0.4rem;
    bottom: 0.4rem;
    @include flow-text-bg();
    border-radius: 0.4rem;
    padding: 0.12rem 0.38rem;
}

.lens-index-date {
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(230, 230, 230);
}

.lens-index-list-wrapper {
    // 紧缩间隙，中屏、小屏使卡片与边界的距离与卡片间的距离相等
    --grid-index-card-gap: 0.2rem;
    // 卡片圆角
    --mdc-shape-medium: 0.18rem;
}



// .my-masonry-grid_column:first-child {
//     .grid-index-li:first-child {
//         .grid-index-card {
//             border-top-left-radius: var(--mdc-shape-medium);
//         }
//     }
// }

// .my-masonry-grid_column:last-child {
//     .grid-index-li:first-child {
//         .grid-index-card {
//             border-top-right-radius: var(--mdc-shape-medium);
//         }
//     }
// }

// 平板中屏
@media all and (min-width: (base.$screen-middle-width-start + 1px)) and (max-width: (base.$screen-middle-width-end - 1px)) {
    body {
        .lens-index-list-wrapper {}
    }
}

// 手机小屏
@media all and (max-width: base.$screen-middle-width-start) {
    body {

        .lens-index-pinned-icon-container,
        .lens-index-featured-icon-container {
            left: 0.2rem;
            top: 0.2rem;
            width: 1.2rem;
            height: 1.2rem;

            i {
                font-size: 0.7rem;
            }
        }

        .lens-index-text-container {
            left: 0.2rem;
            bottom: 0.2rem;
            border-radius: 0.3rem;
            padding: 0.05rem 0.32rem;
        }

        .lens-index-date {
            font-size: 0.55rem;
        }

        .lens-index-list-wrapper {
            .grid-index-ul {
                margin: 0 0.1rem;
            }

            --grid-index-card-gap: 0.16rem;
            --index-card-to-container-border-horizontal: var(--grid-index-card-gap);
            --mdc-shape-medium: 0.12rem;
        }
    }
}