@use "../../style/global" as base;

.lens-index-container {
    position: relative;
}

@mixin flow-text-bg {
    background-color: rgb(0 0 0 / 15%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.lens-index-pinned-icon-container {
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    @include flow-text-bg();
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 0.85rem;
        color: rgb(230, 230, 230);
    }
}

.lens-index-text-container {
    position: absolute;
    left: 0.4rem;
    bottom: 0.4rem;
    @include flow-text-bg();
    border-radius: 0.4rem;
    padding: 0.12rem 0.38rem;
}

.lens-index-date {
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(230, 230, 230);
}

.lens-index-list-wrapper {
    --grid-index-card-gap: 0.2rem;
    --mdc-shape-medium: 0.2rem;
}

// 手机小屏
@media all and (max-width: base.$screen-middle-min-width) {
    body {
        .lens-index-pinned-icon-container {
            left: 0.2rem;
            top: 0.2rem;
            width: 1.2rem;
            height: 1.2rem;
            i {
                font-size: 0.7rem;
            }
        }
        .lens-index-text-container {
            left: 0.2rem;
            bottom: 0.2rem;
            border-radius: 0.3rem;
            padding: 0.05rem 0.32rem;
        }

        .lens-index-date {
            font-size: 0.55rem;
        }

        .lens-index-list-wrapper {
            .grid-index-ul {
                margin: 0 0.1rem;
            }

            --grid-index-card-gap: 0.16rem;
            --mdc-shape-medium: 0.16rem;
        }
    }
}