@use "../../style/global" as base;

.lens-index-container {
    position: relative;
}

.lens-index-text-container {
    position: absolute;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: rgb(0 0 0 / 15%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0.4rem;
    padding: 0.1rem 0.38rem;
}

.lens-index-date {
    font-size: 0.7rem;
    line-height: 1rem;
    color: rgb(230, 230, 230);
}

.lens-index-list-wrapper {
    --grid-index-card-gap: 0.2rem;
    --mdc-shape-medium: 0.2rem;
}

// 手机小屏
@media all and (max-width: base.$screen-middle-min-width) {
    body {
        .lens-index-text-container {
            left: 0.2rem;
            bottom: 0.2rem;
            border-radius: 0.3rem;
            padding: 0.06rem 0.34rem;
        }

        .lens-index-date {
            font-size: 0.6rem;
        }

        .lens-index-list-wrapper {
            .grid-index-ul {
                margin: 0 0.1rem;
            }

            --grid-index-card-gap: 0.16rem;
            --mdc-shape-medium: 0.16rem;
        }
    }
}