@use "../react/Button";
@use "./ProgressCircular";
@use "@material/button";
@use '@material/button/mdc-button';
@use "@material/ripple";

.loading-hint-wrapper {
    display: grid;
    place-items: center;
    height: 4.45rem;
}

.mdc-button.loading-hint-btn {
    @include button.ink-color(var(--navigation));
    @include button.container-fill-color(transparent);
    @include ripple.states-base-color(transparent);
}

.dark .mdc-button.loading-hint-btn {
    @include button.container-fill-color(transparent);
    @include ripple.states-base-color(transparent);
}