// @use "../react/Button";
// @use "./ProgressCircular";
@use "@material/button";
@use '@material/button/mdc-button';
@use "@material/ripple";

@mixin baseFadeIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 0.3s ease;
}

.loading-hint-wrapper {
    position: relative;
    // place-items: center;
    height: 4.45rem;
    // transition: height 0.3s ease;
    
    &.hide {
        height: 0;
        // 如果不设置为 none 可能在 loading 消失时有残影
        display: none;
    }

    .mdc-circular-progress {
        @include baseFadeIn();

        &.show {
            opacity: 1;
        }
    }

    .mdc-button {
        @include baseFadeIn();

        &.show {
            opacity: 1;
        }

        @include button.ink-color(var(--navigation));
        @include button.container-fill-color(transparent);
        @include ripple.states-base-color(transparent);

        .dark & {
            @include button.container-fill-color(transparent);
            @include ripple.states-base-color(transparent);
        }
    }
}