// @use "../react/Button";
// @use "./ProgressCircular";
@use "@material/button";
@use '@material/button/mdc-button';
@use "@material/ripple";

@mixin baseFadeIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 0.3s ease;
}

.loading-hint-wrapper {
    position: relative;
    // place-items: center;
    height: 4.45rem;

    .mdc-circular-progress {
        @include baseFadeIn();

        &.show {
            opacity: 1;
        }
    }

    .mdc-button {
        @include baseFadeIn();

        &.show {
            opacity: 1;
        }

        @include button.ink-color(var(--navigation));
        @include button.container-fill-color(transparent);
        @include ripple.states-base-color(transparent);

        .dark & {
            @include button.container-fill-color(transparent);
            @include ripple.states-base-color(transparent);
        }
    }
}