body {
    --animated-emoji-size: 4rem;
}

.lottie-placeholder {
    width: var(--animated-emoji-size);
    height: var(--animated-emoji-size);
}

.lottie-container {
    display: inline-block;
    // lottie 组件实际是一个包含 svg 的 div
    div {
        width: var(--animated-emoji-size);
        height: var(--animated-emoji-size);
    }
}