body {
    --md-switch-state-layer-size: 0rem;
    --md-switch-handle-width: 0.7rem;
    --md-switch-handle-height: 0.7rem;
    --md-switch-selected-handle-width: 0.7rem;
    --md-switch-selected-handle-height: 0.7rem;
    --md-switch-track-width: 2.4rem;
    --md-switch-track-height: 1.3rem;

    // Switch默认颜色为primary
    --md-sys-color-primary: #5a5fc1;
}

.dark {
    --md-sys-color-primary: #3a78c6;
}