@use "../../style/global" as base;
@use "@material/snackbar";
@use "@material/snackbar/mdc-snackbar";
@use "sass:map";

.mdc-snackbar {
    @include snackbar.elevation(0);
    margin-top: 0rem;
    margin-bottom: 0rem;
    bottom: 1.3rem;
}

.mdc-snackbar__surface {
    // 位置与 fab 中心对齐
    padding-left: 0;
    padding-right: 0;
    min-width: 0;

    background-color: var(--snackbar-bg);
    backdrop-filter: blur(map.get(base.$snackbar-bg, "backdrop-filter"));
    -webkit-backdrop-filter: blur(map.get(base.$snackbar-bg, "backdrop-filter"));
}

.mdc-snackbar__label {
    color: var(--snackbar-ink);
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(min-width: base.$screen-middle-width-start) {
    .mdc-snackbar {
        bottom: 1.8rem;
    }
}