@use "theme" as blogTheme;
@use "@material/drawer";
@use "@material/drawer/mdc-drawer";
@use "@material/drawer/modal/mdc-drawer-modal";
@use "@material/drawer/dismissible/mdc-drawer-dismissible";
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/list";
@use "@material/list/mdc-list";

@use "sass:map";

.mdc-drawer {
    @include elevation.elevation(map.get(blogTheme.$drawer-elevation, "elevation"), map.get(blogTheme.$drawer-elevation, "shadow-light"), 0);
    @include drawer.item-text-ink-color(var(--drawer-ink));
    @include drawer.item-icon-ink-color(var(--drawer-ink));
    @include drawer.item-activated-text-ink-color(var(--drawer-ink));
    @include drawer.item-activated-icon-ink-color(var(--drawer-ink));
}

.dark .mdc-drawer {
    @include elevation.elevation(map.get(blogTheme.$drawer-elevation, "elevation"), map.get(blogTheme.$drawer-elevation, "shadow-dark"), 0);
}

.mdc-drawer__title {
    font-weight: normal;
}

.mdc-drawer__content .mdc-deprecated-list-item--activated .mdc-deprecated-list-item__text {
    font-weight: normal
}

.mdc-drawer__content {
    display: flex;
    flex-direction: column;
}

.nav-list {
    flex: 1;
}

.nav-bottom {
    height: 3rem;
    padding: 0 1rem 0 1rem;
}

.nav-bottom button {
    width: 100%;
    @include button.container-fill-color(var(--chip-bg));
    @include button.ink-color(var(--chip-ink));
}