@use "sass:map";

/*
引用一个组件，比如mdc-button，首先要引用button这个module
@use "@material/button" 

然后引用mdc-button的style定义
@include button.core-styles

但是，在@material/button/mdc-button.scss文件中已经定义了对module内core-styles的引用
所以直接引用mdc-button.scss就可以导入mdc-button的style了
@use "@material/button/mdc-button" 

所以最终的引入写法是
@use "@material/button" 
@use "@material/button/mdc-button" 

似乎后期所有的core-styles写法都会被取消，取而代之的是这种直接引入所有属性
*/

@use "@material/theme";
@use "@material/theme/custom-properties";

@use "@material/typography" with ( // Noto Sans是思源黑体的拉丁文字体，Noto Sans SC是其简体中文字体，因为SC的引号是全角字符，特别别扭，所以在前面用拉丁文字体先处理这些标点符号和字母
  // SC还有一个问题是，如果前面用的是Roboto等非思源字体处理符号和字母，可能会出现用style绘制背景的时候，上下padding尺寸不一致，必须收到增加上padding才行
  // 所以，在同一个设备上，应该使用同一套字体
  $font-family: unquote("PingFang SC, Noto Sans, Noto Sans SC, sans-serif, Apple Color Emoji, Noto Color Emoji"));
@use "@material/typography/mdc-typography";

@use "@material/theme/mdc-theme";
@use '@material/theme/color-palette';
@use '@material/theme/shadow-dom';

@use "@material/button";
@use '@material/button/mdc-button';
@use "@material/icon-button";
@use "@material/icon-button/mdc-icon-button";

@use "@material/switch";
@use "@material/switch/styles" as switchStyles;

@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";

@use "@material/fab";
@use "@material/fab/mdc-fab";

@use "@material/card";
@use "@material/card/mdc-card";
// 组件层级，似乎可以动态
@use "@material/elevation";
@use "@material/elevation/mdc-elevation";
@use "@material/chips";
@use "@material/chips/styles" as chipStyles;

@use "@material/data-table/data-table";
@use "@material/data-table/data-table-theme";
@use "@material/data-table/mdc-data-table";

@use "@material/drawer";
@use "@material/drawer/mdc-drawer";
@use "@material/drawer/modal/mdc-drawer-modal";
@use "@material/drawer/dismissible/mdc-drawer-dismissible";
// list更新到v11之后，用新的实现替换了旧版本，但是README尚未更新，原版本class都被加上了deprecated标记
@use "@material/list";
@use "@material/list/mdc-list";

@use "@material/dialog";
@use "@material/dialog/mdc-dialog";

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/textfield/mdc-text-field";

@use "@material/linear-progress";
@use "@material/linear-progress/mdc-linear-progress";

@use "@material/animation";
@use "@material/ripple";

@font-face {
  font-family: "JetBrainsMono";
  src: url("https://apqx-host.oss-cn-hangzhou.aliyuncs.com/blog/JetBrainsMono-Regular.woff2");
}

:root {
  --mdc-theme-primary: #ee6e73;
  --mdc-theme-on-primary: #f5f5f5;
  --mdc-theme-secondary: #43a047;
  --mdc-theme-on-secondary: #f5f5f5;
  --mdc-theme-background: #f7f7f7;
  --mdc-theme-surface: white;
  // 默认字体颜色，段落p
  --mdc-theme-on-surface: #323232;
  // 不知为何，theme的这两个属性不能在 @use "@material/theme" 中定义，放在这里作为默认light主题的配色
  // 标题字体色
  --mdc-theme-text-primary-on-background: #191919;
  // 小标题字体色
  --mdc-theme-text-secondary-on-background: #676767;

  // Drawer
  --drawer-ink: black;

  // Button
  --button-bg: #9b27b0;
  --search-nav: #a25462;

  // Code
  --code-highlight-bg: #f8f9fa;
  --code-highlight-border: #e8eaed;
  --code-highlight-bg-on-green: rgba(231, 231, 231, 0.2);
  --code-highlight-border-on-green: rgba(213, 213, 213, 0.54);
  --pre-code-bg: #15171a;

  // Chip
  --chip-bg: #fedbd0;
  --chip-ink: #84565e;
  --list-chip-1-bg: rgba(211, 196, 249, 0.48);
  --list-chip-1-ink: #8167c1;
  --list-chip-1-border: rgba(211, 196, 249, 0.91);
  --list-chip-2-bg: rgba(255, 224, 221, 0.5);
  --list-chip-2-ink: #f77575;
  --list-chip-2-border: rgba(252, 155, 157, 0.55);
  --list-chip-3-bg: rgba(254, 242, 192, 0.58);
  --list-chip-3-ink: #9a6000;
  --list-chip-3-border: rgba(255, 224, 101, 1);

  --list-hover: #f5f5f5;

  --link-color: #6200ee;
  --em-color: #535c68;
  --strong-color: rgba(0, 0, 0, 0.90);
  --strong-underline-color: rgba(255, 0, 0, 0.18);
  --divider-color: rgba(0, 0, 0, 0.12);

  --card-round: 0.3rem;
}

.dark {
  --mdc-theme-primary: #ee6e73;
  --mdc-theme-on-primary: #f5f5f5;
  --mdc-theme-secondary: #43a047;
  --mdc-theme-on-secondary: #f5f5f5;
  --mdc-theme-background: #0f0f0f;
  --mdc-theme-surface: #141414;
  --mdc-theme-on-surface: #e6e6e6;
  --mdc-theme-text-primary-on-background: #f5f5f5;
  --mdc-theme-text-secondary-on-background: #969696;

  // Drawer
  --drawer-ink: white;

  --search-nav: rgba(228, 96, 117, 0.93);

  // Code
  --code-highlight-bg: rgba(55, 55, 55, 0.32);
  --code-highlight-border: rgba(69, 69, 69, 0.74);
  --code-highlight-bg-on-green: rgba(23, 23, 23, 0.17);
  --code-highlight-border-on-green: rgba(142, 142, 142, 0.32);
  --pre-code-bg: #0f0f0f;

  // Chip
  --chip-bg: rgba(248, 81, 73, 0.15);
  --chip-ink: #c67c3b;
  --list-chip-1-bg: rgba(212, 197, 249, 0.18);
  --list-chip-1-ink: rgb(210, 195, 249);
  --list-chip-1-border: rgba(210, 195, 249, 0.3);
  --list-chip-2-bg: rgba(182, 2, 5, 0.18);
  --list-chip-2-ink: rgb(253, 155, 157);
  --list-chip-2-border: rgba(253, 155, 157, 0.3);
  --list-chip-3-bg: rgba(254, 242, 192, 0.18);
  --list-chip-3-ink: rgb(254, 241, 190);
  --list-chip-3-border: rgba(254, 241, 190, 0.3);

  --list-hover: #252525;

  --link-color: #54a0ff;
  --em-color: rgba(255, 255, 255, 0.65);
  --strong-color: rgba(255, 255, 255, 0.95);
  --strong-underline-color: rgba(254, 96, 96, 0.4);
  --divider-color: rgba(88, 96, 102, 0.68);
}

.mdc-text-field {
  @include textfield.ink-color(var(--mdc-theme-text-primary-on-background));
  @include textfield.caret-color(var(--mdc-theme-text-primary-on-background));
  @include textfield.placeholder-color(var(--mdc-theme-text-secondary-on-background));
  @include textfield.label-color(var(--mdc-theme-text-secondary-on-background));
  @include textfield.focused-outline-color(var(--button-bg));
  @include textfield.hover-outline-color(var(--mdc-theme-text-secondary-on-background));
  @include textfield.outline-color(var(--divider-color));
}

// 通过js给body添加dark class，可以实现对mac-theme的参数更改
// 大部分组件都会正确相应颜色变化，但是list和chip却无效
// 且theme.$property引用的值也没有动态变化
body {
  // 消除top app bar左侧的margin
  margin: 0;
}

// footer吸附在页面底部

html,
body {
  height: 100%;
  //影响jQuery的滚动到顶部
  //scroll-behavior: smooth;
}

// 设置.page-wrap的最小高度为页面高度，为下面预留80px的高度空间
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}

// 在.page-wrap后面/下面添加一个块元素空间，即.site-footer
.page-wrap:after {
  content: "";
  display: block;
}

// 设置该块元素空间，即.site-footer的高度
.site-footer,
.page-wrap:after {
  height: 80px;
}

.foot-header {
  // 这里应该是20px，指定为22px可以把copyright向下多挤2px，使其紧贴底部，不留白
  height: 22px;
  background-color: rgba(51, 51, 51, 0.08);
}

footer {
  background-color: #ee6e73;
  color: white;
}

footer a {
  color: #ffe0b2;
  text-decoration: none;
}

.copyright {
  padding: 1rem;
  @include typography.typography(body1);
}

/* 文章题目 */
.essay-title {
  @include typography.typography(headline4);
  font-size: 1.8rem;
  margin-top: 2.0rem;
  text-align: center;
  // 引用 theme中定义的属性，这个属性可以被 修改，以实现不同的theme主题
  @include theme.property(color, text-primary-on-background);
}

/* 文章署名 */
.essay-author {
  @include typography.typography(subtitle1);
  text-align: center;
  margin-top: 0.8rem;
  @include theme.property(color, text-secondary-on-background);
}

/* 文章日期 */
.essay-date {
  @include typography.typography(subtitle1);
  text-align: center;
  margin-top: 0.5rem;
  @include theme.property(color, text-secondary-on-background);
}

/* 索引题目 */
.index-title {
  @include typography.typography(subtitle1);
  margin: 0;
  text-align: left;
}

/* 索引署名 */
.index-author {
  @include typography.typography(subtitle1);
  @include theme.property(color, text-secondary-on-background);
  font-size: 0.95rem;
  line-height: 1.5rem;
  text-align: right;
  margin: 0;
}

/* 索引地点（看剧使用） */
.index-location {
  @include typography.typography(subtitle1);
  text-align: left;
  margin: 0;
}

/* 索引日期 */
.index-date {
  @include typography.typography(subtitle1);
  @include theme.property(color, text-secondary-on-background);
  font-size: 0.95rem;
  line-height: 1.5rem;
  text-align: right;
  margin: 0;
}

h1 {
  @include typography.typography(headline4);
  font-size: 1.6rem;
}

h2 {
  @include typography.typography(headline5);
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include theme.property(color, text-primary-on-background);
}


p,
li,
a,
th,
.mdc-data-table__cell,
.mdc-data-table__header-cell {
  // 使用mdc的字体样式
  @include typography.typography(body1);
  // 段落间距
  margin: 0.5rem 0;
  // 行间距
  line-height: 1.8;
}

a.clickable-empty-link {
  // url为空的<a>
  cursor: pointer;
}

li {
  // item间距
  margin: 0.1rem 0;
}

p {
  text-align: justify;
}

// 斜体，一般用于图片说明
em {
  color: var(--em-color);
}

// 加粗强调，一般用于句子
strong {
  color: var(--strong-color);
  box-shadow: inset 0 -8px 0 0 var(--strong-underline-color);
}

a {
  // 链接加下划线，可能受mdc class的影响，有些地方下划线被取消了
  text-decoration: underline;
  // 下划线与文字的间距
  text-underline-offset: 0.25rem;
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

/* 无序列表 */
ul {
  padding-left: 2rem;
  padding-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* 实心圆 */
  list-style-type: disc;
}

/* 有序列表 */
ol {
  padding-left: 2rem;
  padding-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* 数字 */
  list-style-type: decimal;
}

// 引用段落
blockquote {
  @include typography.typography(body1);
  line-height: 1.8;
  margin: 0.65rem 0;
  padding: 0 0 0 1rem;
  border-left: 0.3rem solid #ee6e73;
  // border-right: 5px solid #ee6e73;
  // background: $code-highlight-bg;
  // border-radius: 0.2rem;
}

// 引用段落中的<p>
blockquote p {
  margin: 0;
}

// 手写诗文
.handwriting {
  display: block;
  overflow-x: auto;
}

// 手写诗文，保持原有排版，横向滚动
// 此时，如果是blockquote，注意不要行尾加双空格，jekyll会处理成以下格式，导致行1和行2之间多了一行
// <p>行1
// <br/>
// 行2</p>
// jekyll会把 > 转换为以下格式，这里只给p加white-space: pre，如果blockquote加了，则上下会多一行
// <blockquote>
// <p>文本</p>
// </blockquote>
blockquote.handwriting.pre p {
  white-space: pre;
}

//.handwriting,
.handwriting :not(i, pre code, pre code *) {
  font-family: "Ma Shan Zheng", "PingFang SC", "Noto Sans", "Noto Sans SC", sans-serif, "Apple Color Emoji", "Noto Color Emoji";
}

.handwriting p,
.handwriting p *,
.handwriting li,
.handwriting li *,
.handwriting table * {
  font-size: 1.1rem;
}

.handwriting .btn-tag {
  font-size: 0.95rem;
}

.handwriting .index-author,
.handwriting .index-date {
  font-size: 1rem;
}

.handwriting .english,
.handwriting .english * {
  font-size: 1.3rem;
}

.essay-description {
  border: 1px solid rgba(63, 185, 80, 0.4);
  // border: 1px solid rgba(248, 81, 73, 0.4);;
  border-radius: 0.3rem;
  background: rgba(46, 160, 67, 0.1);
  // background: rgba(248, 81, 73, 0.15);
  padding: 1rem;
}

audio {
  width: auto;
}

// 代码块
pre code {
  font-family: JetBrainsMono, "PingFang SC", "Noto Sans", "Noto Sans SC", sans-serif, "Apple Color Emoji", "Noto Color Emoji";
  // font-size: 1.0rem;
  line-height: 1.4;
}

code.hljs {
  border-radius: 0.3rem;
  padding: 1rem;
  background: var(--pre-code-bg);
}

/* 段落中单词高亮 */
p code,
li code,
table code {
  @include typography.typography(body1);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  border-radius: 0.3rem;

  // color:$code-highlight-text;
  background: var(--code-highlight-bg);
  border: 1px solid var(--code-highlight-border);
}

.green code {
  background: var(--code-highlight-bg-on-green);
  border: 1px solid var(--code-highlight-border-on-green);
}

strong code {
  font-weight: bold;
}

p em code {
  padding-left: 0.2rem;
  padding-right: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.tag-list-item.mdc-deprecated-list-item {
  height: fit-content;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.my-list-item__primary-text {
  @include typography.typography(body1);
}

.my-list-item__secondary-text {
  color: var(--mdc-theme-text-secondary-on-background);
  font-size: 0.9rem;
  display: flex;
  // margin-top: -0.25rem;
  // margin-bottom: -0.75rem;
  height: fit-content;

}

.tag-essay-item-tags-container {
  overflow-x: auto;
}

// 移动端Chrome的scrollBar一直显示，需要消除，其它浏览器scrollBar都会自动隐藏
// 在保留滚动效果的同时，消除Safari，Chrome的scrollBar
.tag-essay-item-tags-container::-webkit-scrollbar {
  // 消除scrollBar
  display: none;
}

.tag-essay-item-post-type {
  color: var(--list-chip-1-ink);
  background: var(--list-chip-1-bg);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
  border-radius: 0.5rem;
  border: 1px solid var(--list-chip-1-border);
  margin-left: 0.2rem;
}

.tag-essay-item-post-block1 {
  color: var(--list-chip-3-ink);
  background: var(--list-chip-3-bg);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
  border-radius: 0.5rem;
  border: 1px solid var(--list-chip-3-border);
  margin-left: 0.2rem;
}

.tag-essay-item-post-block2 {
  color: var(--list-chip-2-ink);
  background: var(--list-chip-2-bg);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
  border-radius: 0.5rem;
  border: 1px solid var(--list-chip-2-border);
  margin-left: 0.2rem;
}

.mdc-data-table {
  @include data-table-theme.shape-radius(0.3rem);
  // 设置标题背景为透明色，防止横向滚动时遮挡边框角
  @include data-table-theme.header-row-fill-color(#00000000);
  @include data-table-theme.header-row-text-color(var(--mdc-theme-text-primary-on-background));
  @include data-table-theme.row-text-color(var(--mdc-theme-on-surface));
  @include data-table-theme.divider-color(var(--divider-color));
  @include data-table-theme.stroke-color(var(--divider-color));
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

// 解决Safari的Ripple动画无圆角
.mdc-button,
.mdc-button__ripple {
  border-radius: 1.3rem !important;
  -webkit-mask-image: radial-gradient(white, black);
}

.btn-common {
  @include button.container-fill-color(var(--button-bg));
}

.btn-tag {
  @include button.ink-color(var(--chip-ink));
  @include button.container-fill-color(var(--chip-bg));
  @include button.horizontal-padding(0.7rem);
  @include button.height(2rem);
  text-transform: none;
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.about-me-tag-wrapper .btn-tag {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.btn-tag .mdc-button__ripple {
  @include ripple.states(#a25462, true);
}

.dark .btn-tag .mdc-button__ripple {
  @include ripple.states(rgba(228, 96, 117, 0.93), true);
}

#search-dialog_label {
  width: 94%;
  margin-top: 40px
}

#search-dialog_tips {
  margin: 1.6rem 1rem;
}

.btn-search {
  @include button.ink-color(var(--chip-ink));
  @include button.container-fill-color(var(--chip-bg));
  min-width: fit-content;
}

.search-result-nav-wrapper {
  margin-top: 10px;
}

.btn-search-result-nav {
  @include button.ink-color(var(--search-nav));
  @include button.outline-color(var(--divider-color));
  margin-left: 1rem;
  margin-right: 1rem;
}

.search-result-index {
  color: var(--search-nav);
}

.search-result-item {
  height: max-content;
}

.search-result-item-title {
  @include typography.typography(subtitle1);
  color: var(--link-color);
  margin: 0;
  text-align: left;
}

.search-result-item-snippet {
  @include typography.typography(body1);
  color: var(--mdc-theme-on-surface);
  margin: 0;
  text-align: justify;
  height: max-content;
}

p.search-result-item-snippet b {
  color: var(--search-nav);
}


.tags {
  margin-top: 2rem;
}

.about-me-name {
  @include typography.typography(headline4);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

.common-dialog-container {
  width: 880px;
}

.common-alert-dialog_content {
  margin: 1.6rem 1rem;
}

.basic-dialog_actions {
  justify-content: center;
}

.basic-dialog_btn_action {
  width: 94%;
  margin-bottom: 1rem;
}

.about-me-description {
  // @include typography.typography(body1);
  margin: 1.6rem 1rem;
}

#short-link-jump-dialog_emoji {
  text-align: center;
  font-size: 4rem;
  //margin-top: 2rem;
}

#short-link-jump-dialog_title {
  text-align: center;
  //margin-top: 2rem;
  font-weight: normal;
}

#short-link-jump-dialog_link {
  margin: 1rem 1rem;
}

.mdc-dialog {
  // 亮色主题的divider自动生成，颜色合适，但暗色主题颜色不合适，因此需要手动指定
  // 这里会自动根据颜色计算出divider颜色，但是把同样的颜色用var引用却不可以，奇怪
  @include dialog.scroll-divider-color(black);
}

.dark .mdc-dialog {
  @include dialog.scroll-divider-color(white);
}

.dialog-link-list {
  // 底部边框由Divider填充
  // border-top: 1px solid rgba(128, 128, 128, 0.336);
  // border-left: 1px solid rgba(128, 128, 128, 0.336);
  // border-right: 1px solid rgba(128, 128, 128, 0.336);
  border: 1px solid;
  border-color: var(--divider-color);
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

// 使用此class的标签，可以通过id chip_tag_随笔 弹出对应 dialog_随笔 的dialog
.tag-dialog-trigger {}

// 内容最外层的主容器
.main-container {
  // 横向居中
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 4.5rem 0 1rem 0;
}

.foot-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 0;
}

main.main-container {
  // 淡入动画
  // animation: animation.enter(/* $name: */ fade-in, /* $duration: */ 600ms);
}

@keyframes fade-in {
  from {
    transform: translateY(20rem);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.essay-card {
  padding: 1.3rem 2.5rem;
  margin: 0.75rem 1rem;
  border-radius: var(--card-round);
  // 文章卡片的阴影，z高度，阴影颜色，扩散度
  @include elevation.elevation(0, theme.$surface, 0);
}

.index-card {
  padding: 1.3rem 2.5rem;
  margin: 0.75rem 1rem;
  border-radius: var(--card-round);
  @include elevation.elevation(0, theme.$surface, 0);
}

.index-description {
  border: 1px solid rgba(63, 185, 80, 0.4);
  border-radius: var(--card-round);
  background: rgba(46, 160, 67, 0.1);
  padding: 0.6rem 1rem;
  margin: 0.75rem 1rem 0 1rem;
}

// 索引列表
.index-ul {
  // 注意列表第一个卡片到top bar的距离要和正文卡片与之的距离一致
  padding: 0;
}

.index-li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// 索引链接
.index-a {
  // 去除下划线
  text-decoration: none;
}

// top-app-bar
.mdc-top-app-bar {
  // 使top bar的层级高于drawer
  z-index: 7;
  // 颜色，默认为 primary 
  // @include top-app-bar.fill-color(map.get(colors.$theme-light, "top-bar"));
  // 阴影
  @include elevation.elevation(10, #ee6e73, 0);
}

.dark .mdc-top-app-bar {
  // 颜色
  // @include top-app-bar.fill-color(map.get(colors.$theme-dark, "top-bar"));
  // 阴影
  @include elevation.elevation(10, rgb(32, 33, 36), 0);
}

.mdc-top-app-bar .mdc-icon-button__ripple {
  @include ripple.states(white, true);
}

.mdc-drawer {
  // 使drawer的阴影和内容卡片一致，更协调
  @include elevation.elevation(5, var(--mdc-theme-background), 0);
  @include drawer.item-text-ink-color(black);
  @include drawer.item-icon-ink-color(black);
  @include drawer.item-activated-text-ink-color(black);
  @include drawer.item-activated-icon-ink-color(black);
}

.dark .mdc-drawer {
  @include drawer.item-text-ink-color(white);
  @include drawer.item-icon-ink-color(white);
  @include drawer.item-activated-text-ink-color(white);
  @include drawer.item-activated-icon-ink-color(white);
}

.mdc-drawer__title {
  font-weight: normal;
}

.mdc-drawer__content .mdc-deprecated-list-item--activated .mdc-deprecated-list-item__text {
  font-weight: normal
}

.mdc-deprecated-list {
  @include list.deprecated-divider-color(var(--divider-color));
}

.mdc-deprecated-list-item:hover {
  background-color: var(--list-hover)
}

// fab
.mdc-fab {
  // TODO: 使用var设置的阴影是失效的
  @include elevation.elevation(5, var(--mdc-theme-secondary), 0);
}

.dark .mdc-fab {
  @include elevation.elevation(5, var(--mdc-theme-background), 0);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.55rem;
  }
}

// card
.media-container {
  max-width: 100%;
  // height: fit-content;
  max-height: 100%;
}

// chips
// 解决Safari的Ripple动画无圆角
.mdc-evolution-chip,
.mdc-evolution-chip__ripple {
  border-radius: 1.3rem !important;
  -webkit-mask-image: radial-gradient(white, black);
}

.mdc-evolution-chip {
  @include chips.text-label-color(var(--chip-ink));
  @include chips.container-color(var(--chip-bg));
}

// 解决Safari的fab Ripple动画无圆角
.mdc-fab__ripple {
  border-radius: 50% !important;
  -webkit-mask-image: radial-gradient(white, black);
}

img.clickable:hover {
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
  // border-radius: 0.3rem;
}

.video-container {
  position: relative;
  // 这个百分比越小，视频越扁
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-avatar {
  border-radius: 50%;
  margin-top: 2rem;
}

.center-horizontal {
  margin: auto;
  text-align: center;
}

.mdc-switch {
  @include switch.theme((selected-handle-color: var(--mdc-theme-on-surface),
      // selected-track-color: var(--mdc-theme-text-secondary-on-background),
    ));
}

.preference-item-toggle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.preference-item-toggle__title {
  flex: 1;
}

.preference-item-toggle__toggle {}

// 手机小屏
@media(max-width: 600px) {

  .main-container {
    padding: 3.8rem 0 1rem 0;
  }

  .index-description {
    margin: 0.75rem 1rem 0 1rem;
  }

  .essay-card {
    padding: 1.3rem;
    margin: 0.75rem 0;
  }

  .index-card {
    padding: 1rem 1.3rem;
    margin: 0.75rem 0;
  }

  .mdc-top-app-bar {
    // 小屏下减少top bar阴影面积
    @include elevation.elevation(5, #ee6e73, 0);

  }

  .dark .mdc-top-app-bar {
    @include elevation.elevation(5, rgb(32, 33, 36), 0);
  }

  // 小屏时纯英文段落不两边对齐，因为单词间隔可能很大
  p.no-justify {
    text-align: left;
  }

}

// 平板中屏
@media only screen and (min-width: 601px) and (max-width: 879) {
  // 默认参数
}


// 电脑大屏
@media(min-width: 880px) {
  .main-container {
    width: 880px;
  }

  .foot-container {
    width: 880px;
  }
}