<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    {% include head.html %}
</head>

<body class="mdc-typography mdc-theme--surface">
    {% include script-theme.html %}
    {% include header.html %}
    {% include aside.html %}
    <div class="page-wrap mdc-top-app-bar--fixed-adjust mdc-theme--background">
        <main class="main-container">
            <div class="mdc-card content-card">
                {% include script-content-card.html %}
                {{ content }}
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>

</html>