<!DOCTYPE html>
<html>

<head>
  {% include head-common.html %}
  {% include head-index.html %}
</head>


<body>
  {% include header.html %}
  <main class="mdc-top-app-bar--fixed-adjust main-container">
    {{ content }}
  </main>
  {% include footer.html %}
  <!-- Floating Action Button -->
  <div class="mdc-touch-target-wrapper">
    <button class="mdc-fab app-fab--absolute" aria-label="Favorite">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__icon material-icons">arrow_upward</span>
    </button>
  </div>
</body>

</html>