<!DOCTYPE html>
<html>

<head>
  {% include head-post.html %}
  {% include head-common.html %}
</head>

<body class="mdc-typography mdc-theme--background">
  <div class="page-wrap">
    {% include header.html %}
    <main class="mdc-top-app-bar--fixed-adjust main-container">
      <div class="mdc-card essy-card mdc-theme--surface mdc-theme--on-surface">
        <h1 class="essy-title ">{{ page.title }}</h1>
        <span class="essy-author">{{ page.author }}</span>
        <!-- 支持非标准日期 -->
        {%- if page.moredate != null -%}
        <span class="essy-date">{{ page.moredate }}</span>
        {% else %}
        <span class="essy-date">{{ page.date | date: "%Y年%m月%d日" }}</span>
        {%- endif -%}

        <!-- tags -->
        <div style="margin-top: 2rem;">
          <div id="tag_dialog_container"></div>
          {% comment %}
            <!-- 遍历本页的tag -->
            {% endcomment %}
            {%- for tagInPage in page.tags -%}
            <button type="button" class="mdc-button mdc-button--unelevated dialog-trigger btn-tag"
              id="chip_tag_{{ tagInPage }}">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">#{{ tagInPage }}</span>
            </button>
            {% comment %}
            <!-- 结束遍历本页的tag -->
            {% endcomment %}
            {%- endfor -%}
        </div>
        {% if page.type == "opera" %}
        <blockquote>
          <p>
            节省流量费用，本页图片均为缩略图，点击可跳转到原始尺寸高清大图。我自己不喜欢水印，猜测大概别人也不喜欢，所以更愿意分享纯净的剧照，只是唯一注意，<b>图片版权归属作者及原剧团演员所有</b>，未经允许，不可用于商业用途🤫。
          </p>
        </blockquote>
        <blockquote>
          <p>若分享图片，请注明图源：</p>
          <p><b>立泉の写字板（https://apqx.me）</b></p>
          <p>或微博<a href="https://weibo.com/u/7026785047" target="_blank">@立泉·落落</a></p>
        </blockquote>
        {% endif %}
        <!-- md content -->
        {{ content }}
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>