<!DOCTYPE html>
<html>

<head>
  {% include head-common.html %} 
</head>

{% include header.html %}

<body class="base-body">

  <!-- content-card -->
  <div class="container essy-card">
    <div class="card-panel">
      <!-- content -->
      <!-- <p class="title" onclick="copyUrl()">{{ page.title }}</p> -->
      <p class="title">{{ page.title }}</p>
      <p class="author">{{ page.author }}</p>
      <!-- 支持非标准日期 -->
      {% if page.moredate != null %}
        <p class="date">{{ page.moredate }}</p>
      {% else %}
        <p class="date">{{ page.date | date: "%Y年%m月%d日" }}</p>
      {% endif %}

      {{ content }} 
      
      <!-- content -->
    </div>
  </div>
  
  <!-- float-btn -->
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light green">
      <i class="material-icons" onclick="scrollToTop()">arrow_upward</i>
    </a>
  </div>

  {% include footer.html %}
</body>

</html>